#set($layout="/front/default.vm")
#set($title="度假OK - 我的度假OK")
<!-- 内容开始 -->
<div id="content">
    <div class="ucenter section">
        <div class="ucenter_left">
            <h3 class="B ">我的度假OK</h3>
            <ul>
                <h4>我的订单</h4>
                <li>
                    <a href="${env.root}/member/orderlist.htm">订单中心</a>
                </li>
            </ul>
            <ul>
                <h4>个人信息</h4>
                <li>
                    <a href="${env.root}/member/modify.htm">个人资料</a>
                </li>
                <li>
                    <a href="${env.root}/member/modifyPassword.htm">修改密码</a>
                </li>
            </ul>
        </div>
        <div class="ucenter_right">
            <h2 class="B FS14">个人资料</h2>
            <table class="us01">
                <tr>
                    <th>登录名：</th>
                    <td><b>$!member.memberId</b></td>
                </tr>
                <tr>
                    <th>昵称：</th>
                    <td><b>$!member.nickname </b></td>
                </tr>
                <tr>
                    <th>手机号：</th>
                    <td><b>$!member.mobileNo</b></td>
                </tr>
                <tr>
                    <th>E-mail：</th>
                    <td><b>$!member.email </b></td>
                </tr>
            </table>
        </div>
    </div>
<!-- 内容结束 -->
</div>
