#set($layout="/member/default.vm")

##############################################

<div id="content">
    <div class="reg_nav">
        <h2>用户注册</h2>
        <span class="reg_nav_right">我已注册，<a href="${env.root}/member/login.htm">立即登录</a>
        </span>
    </div>
    <div class="reg_content">
        <form id="registerForm" name="registerForm" method="post"  action="${env.root}/member/doregister.htm" onSubmit="return Validator.validate(this,'member');">
            <ul>
                <li>
                    <span>登录名</span>
                    <input type="text" id='memberId' name='memberId' value="$!memberId"/>
                </li>
				<li>
                    <span>昵&nbsp;称</span>
                    <input type="text" id='nickname' name='nickname' value="$!nickname"/>
                </li>
                <li>
                    <span>密&nbsp;码</span>
                    <input type="password" id='password' name='password'/>
                </li>
                <li>
                    <span>再次输入</span>
                    <input type="password" id='password2' name='password2'/>
                </li>
				<li>
                    <span>E-mail </span>
                    <input type="text" id='email' name='email' value="$!email"/>
                </li>
                <li style="padding-left:40px">
                    <button>
                        <span class="reg_agree">同意以下协议并</span><span>注册</span>
                    </button>
                </li>
                <li class="reg_xy" style="padding-left:40px">
                    <a href="#" target="_blank">《度假OK的服务协议》</a>
                </li>
            </ul>
        </form>
    </div>
</div>

#JS(["validator.js"])