#set($layout="/member/default.vm")
#set($title="度假OK - 登陆")
###############################################################

<div class="login_nav">
	<h2>用户登录</h2>
	<span class="login_nav_right"></span>
</div>
<div class="login_content clearFix">
	<div class="login_content_left">
        <form id="loginForm" name="loginForm" method="post" action="${env.root}/member/dologin.htm" onSubmit="return Validator.validate(this,'member');">
            <ul>
				<li><span>用户名</span><input type="text" id='memberId' name='memberId' value="$!memberId"/></li>
                <li><span>密　码</span><input type="password" id='password' name='password'/></li>
                <!--<li style="padding-left:40px;"><input type="checkbox" class="reg_cheak"/><span>记住用户名</span><input type="checkbox" class="reg_cheak"/><span>自动登录</span></li>-->
                <input type="hidden" id='Done' name='Done' value="$!Done"/>
				<li style="padding-left:60px; margin-top:20px; "><button>　登录　</button><span class="errorMsg">$!actionError</span></li>
				
            </ul>
        </form>
    </div>
	<div class="login_content_right">
        <h2>还不是度假OK用户？</h2>
        <p>现在免费注册成为度假OK用户，便能立刻享受一站式度假乐趣</p>
        <a href="${env.root}/member/register.htm" title="用户注册"></a>
    </div>
</div>
	
#JS(["validator.js"])