#set($layout="/front/default.vm")
#################################################
#XUI_JS(["core/xui-core.js","util/util.js","slide/slide.js"])
<div id="content">
		#set($indexChannel= $fontConstants.indexChannel)
    	<div class="Ifirst clearFix">
            <div class="leftSpecials">
				#FRONT_EDIT_BUTTON($!indexChannel.getmTodaySpecials(), $isEdit)
                <div class="TodaySpecials">
                    <h2>今日特价</h2>
                    <ul>
                    #if($!frontViewMap.get($!indexChannel.getmTodaySpecials()).frontViews)
						#foreach($fv in $!frontViewMap.get($!indexChannel.getmTodaySpecials()).frontViews)
                            <li>
                            	<a href="$!fv.link" target="_blank">
                            		<img src="$!fv.photoURL" width="210" height="120" />
                            	</a>
                            	<p class="clearFix">
                            		<span>
                            			<a href="$!fv.link">$!fv.title</a>
                            		</span>
                            		<span class="Todayprice">¥$!fv.presentPrice</span>
                            	</p>
                            </li>
						#end
					#end
                    </ul>
                </div>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsA2(), $isEdit)
				#if($!frontViewMap.get($!indexChannel.getmImageAdsA2()).frontViews)
					#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsA2()).frontViews)
						<div class="SpecialsAdd">
                            <a href="$!fv.link" target="_blank">
								<img src="$!fv.photoURL" width="222" height="72" />
    						</a>
						</div>
					#end
				#end
            </div>
			
            <div class="Hotspot clearFix">
                 <div id="Focus" class="clearFix">
					#FRONT_EDIT_BUTTON($!indexChannel.getmBanner(), $isEdit)
                        <ul id="Focus_content">
							#if($!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
								#foreach($fv in $!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
                                    <li class="circularPanel">
        								<img src="$!fv.photoURL" width="470" height="250" border="0" />
        							</li>
								#end
							#end	
						</ul>
                    <ul class="trigger">
						#if($!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
							#set($bannerSize= $!frontViewMap.get($!indexChannel.getmBanner()).frontViews.size())
							#foreach($fv in $!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
								#if($velocityCount != $bannerSize)
									<li class="circularTrigger">$!fv.title</li>
								#else
									<li class="circularTrigger" style="*width:116px;">$!fv.title</li>
								#end
							#end
						#end	
                    </ul>
                </div>
                <script type="text/javascript">
                var x = new xui.widgets.Slide();
                </script>
              <div class="HotTag clearFix">
                    <ul>
						#FRONT_EDIT_BUTTON($!indexChannel.getmSearchTheme(), $isEdit)
    					<h2>
							$!frontViewMap.get($!indexChannel.getmSearchTheme()).config.moduleName
						</h2>
						#if($!frontViewMap.get($!indexChannel.getmSearchTheme()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchTheme()).frontViews)
                                <li><a href="$!fv.link">$!fv.title</a></li>
        					#end
						#end
                    </ul>
                    <ul>
                       #FRONT_EDIT_BUTTON($!indexChannel.getmSearchAttractions(), $isEdit)
    					<h2>
							$!frontViewMap.get($!indexChannel.getmSearchAttractions()).config.moduleName
						</h2>
						#if($!frontViewMap.get($!indexChannel.getmSearchAttractions()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchAttractions()).frontViews)
                                <li><a href="$!fv.link">$!fv.title</a></li>
        					#end
						#end
                    </ul>
                    <ul>
                        #FRONT_EDIT_BUTTON($!indexChannel.getmSearchPeriphery(), $isEdit)
    					<h2>
							$!frontViewMap.get($!indexChannel.getmSearchPeriphery()).config.moduleName
						</h2>
						#if($!frontViewMap.get($!indexChannel.getmSearchPeriphery()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchPeriphery()).frontViews)
                                <li><a href="$!fv.link">$!fv.title</a></li>
        					#end
						#end
                    </ul>
                    <ul>
                        #FRONT_EDIT_BUTTON($!indexChannel.getmSearchPrice(), $isEdit)
    					<h2>
							$!frontViewMap.get($!indexChannel.getmSearchPrice()).config.moduleName
						</h2>
						#if($!frontViewMap.get($!indexChannel.getmSearchPrice()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchPrice()).frontViews)
                                <li><a href="$!fv.link">$!fv.title</a></li>
        					#end
						#end
                    </ul>
              </div>
            </div>
            <div class="Login">
            	<div class="Login_o"><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_05.png" width="229" height="40" /></div>
                <div class="Login_t"><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_16.png" width="230" height="230" /></div>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsA5(), $isEdit)
				#if($!frontViewMap.get($!indexChannel.getmImageAdsA5()).frontViews)
					#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsA5()).frontViews)
						<div class="Login_tr"><img src="$!fv.photoURL" width="230" height="160" /></div>
					#end
				#end
            </div>
        </div>
        
		#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsB(), $isEdit)
		#if($!frontViewMap.get($!indexChannel.getmImageAdsB()).frontViews)
			#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsB()).frontViews)
				<div class="IBanner clearFix">
					<img src="$!fv.photoURL" width="950" height="100" />
				</div>
			#end
		#end
        <div class="ISecond clearFix">
        	<div class="ISecondnav clearFix">
				<span>
					#FRONT_EDIT_BUTTON($!indexChannel.getmPeripheryAttractionsRecommend(), $isEdit)
					#if($!frontViewMap.get($!indexChannel.getmPeripheryAttractionsRecommend()).frontViews)
            			#foreach($fv in $!frontViewMap.get($!indexChannel.getmPeripheryAttractionsRecommend()).frontViews)
            				$!fv.title &nbsp;
            			#end
            		#end
				</span>
			</div>
            <div class="ISecondcontent clearFix">
            	<div class="selfPeriphery"><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_28.png" width="222" height="262" /></div>
                <div class="selfInformation">
                	<ul>
                    	<li class="selfshowbg"><a href="#"><span><em>双溪皮筏漂流1日游</em>  坐牛车、打水仗,全程无</span></a><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><a href="#"><span><em>天下玉苑、王阳明故居、杨梅采摘1日游</em> 含景点门票120元，品尝...</span></a><span class="selfprice"><i>￥58</i><b>起</b></span></li>
                    	<li><span><em>千岛湖中心湖区1日</em>  游品秀水，全程含景点门票190元</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海天佛国普陀山祈福2日游</em> 朝拜观音圣境，尽享佛光</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>常州中华恐龙园峰水世界1日游</em> 游乐园，看表演，无购物，三.</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>象山、石浦渔家风情2日游</em> 游石浦古城、中国渔村，体验渔</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    </ul>
                </div>
                <div class="selfPackage">
                	<ul>
                    	<li>游秦淮河画舫、中华门城堡</li>
                        <li>游南通狼山风景区</li>
                    </ul>
                    <div>
                    	<p><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_58-21.png" width="228" height="98" /></p>
                        <p><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_58.png" width="228" height="100" /></p>
                    </div>
                </div>
            </div>
            <div class="selfadd">
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_62.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_64.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_65.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_66-29.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_66.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul style=" margin:0;">
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_67.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            </div>
        </div>
        <div class="ISecond clearFix">
        	<div class="ISecondnav ISecondnav2 clearFix"><span>三亚 丽江 厦门 北京 青岛 大连 张家界 西安 五台山  <a href="#">更多</a></span></div>
            <div class="ISecondcontent clearFix">
            	<div class="selfPeriphery"><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_28.png" width="222" height="262" /></div>
                <div class="selfInformation">
                	<ul class="selfInformation2">
                    	<li class="selfshowbg"><a href="#"><span><em>双溪皮筏漂流1日游</em>  坐牛车、打水仗,全程无</span></a><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><a href="#"><span><em>天下玉苑、王阳明故居、杨梅采摘1日游</em> 含景点门票120元，品尝...</span></a><span class="selfprice"><i>￥58</i><b>起</b></span></li>
                    	<li><span><em>千岛湖中心湖区1日</em>  游品秀水，全程含景点门票190元</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海天佛国普陀山祈福2日游</em> 朝拜观音圣境，尽享佛光</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>常州中华恐龙园峰水世界1日游</em> 游乐园，看表演，无购物，三.</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>象山、石浦渔家风情2日游</em> 游石浦古城、中国渔村，体验渔</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    	<li><span><em>海岛嵊泗渔家乐2日游</em> 海边嬉水，出海捕鱼，过一把渔夫</span><span class="selfprice"><i>￥583</i><b>起</b></span></li>
                    </ul>
                </div>
                <div class="selfPackage">
                	<ul>
                    	<li>游秦淮河画舫、中华门城堡</li>
                        <li>游南通狼山风景区</li>
                    </ul>
                    <div>
                    	<p><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_58-21.png" width="228" height="98" /></p>
                        <p><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_58.png" width="228" height="100" /></p>
                    </div>
                </div>
            </div>
            <div class="selfadd">
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_62.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_64.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_65.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_66-29.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul>
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_66.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            	<ul style=" margin:0;">
                	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_67.png" width="142" height="142" /></li>
                    <li><span><em>￥159.00</em>   <i>￥159.00</i></span><span>畅游何园、住四星扬州人家</span></li>
                </ul>
            </div>
        </div> 
        <div class="Ithird clearFix">
        	<div class="Ithird_left">
            	<div class="IthirdDynamic">
                	<h2>度假OK动态</h2>
                    <ul class="IthirdDynamictop clearFix">
                    	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_66-29.png" width="142" height="91" /></li>
                        <li><p>度假OK创始人的文艺品牌电商新势力访谈：度假OK创始人文艺品牌...</p><p><a href="#">阅读更多</a></p></li>
                    </ul>
                    <ul class="IthirdDynamicbottom clearFix">
                        <li>度假市场荒原万物生长</li>
                        <li>度假OK坚持理想主义 也需要商业平衡</li>
                        <li>新金融观察报：旅游行业B2C的腔调</li>
                        <li>网易：旅游b2c品牌度假OK正式上线</li>
                        <li>创业邦：度假OK正式上线 瞄准旅游行业</li>
                        <li>onews：业内热议度假OK上线</li>
                        <li>北京商报：国内首个B2C旅游品牌推出</li>
                    </ul>
                </div>
                <div class="IthirdHot">
                	<h2>驴友热议</h2>
                    <div class="IthirdHotcontent">
                    	<ul class="IthirdHotlist clearFix">
                        	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_69-30.png" width="45" height="45" /></li>
                            <li>
                                <h3>[杭州]<span> 双溪竹海漂流景区 </span></h3>
                                <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                            </li>
                         </ul>
                    	<ul class="IthirdHotlist clearFix">
                        	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_73.png" width="45" height="45" /></li>
                            <li>
                                <h3>[杭州]<span> 双溪竹海漂流景区 </span></h3>
                                <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                            </li>
                         </ul>
                    	<ul class="IthirdHotlist clearFix">
                        	<li><img src="http://www.ht.dujiaok.com:801/dujiaok/images/index/index_75.png" width="45" height="45" /></li>
                            <li>
                                <h3>[杭州]<span> 双溪竹海漂流景区 </span></h3>
                                <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Ithird_right">
                <iframe width="230" height="350" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=350&fansRow=2&ptype=1&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2166116724&verifier=5c007fea&dpc=1"></iframe>
            </div>
        </div>
               
    </div>