#set($layout="/front/default_new.vm")
#################################################

#set($title = "首页")
#set($_productType = "index")
<!-- main开始 -->
#set($indexChannel= $fontConstants.indexChannel)
<div class="w950 index">


	<!-- idx1开始 -->
	<div class="mgt20 idx1">
		<div class="L idx1L">
			<div class="optionCard" id="optionCard">
				<ul class="tabTtl"><li class="first current">周边度假</li><li>打折门票</li><li>酒店</li></ul>
				<div class="current tabCnt">
					<form action="${env.root}/search/global.htm" method="get" id="zjSearchForm">
						<input type="hidden" name="s_product" value="ZJ"/>
					<table class="tableForm">
						<tr><th style="width:50%">城市</th><td class="select">
                                <select name="s_city">
									<option>杭州市</option>
									<option>上海市</option>
									<option>北京市</option>
								</select>
							</td></tr>
						<tr><th>景点名称 </th><td><input type="text" name="keyword" /></td></tr>
						<tr><th>出游类型</th><td class="select">
								<select name="s_productType">
									<option value="">不限</option>
									<option value="亲子游">亲子游</option>
									<option value="情侣游">情侣游</option>
									<option value="老人游">老人游</option>
									<option value="度假住宿">度假住宿</option>
									<option value="温泉滑雪">温泉滑雪</option>
									<option value="垂钓采摘">垂钓采摘 </option>
                                </select>
						</td></tr>
						<tr><th>出游时间</th><td>
								<select name="s_days">
									<option value="">不限</option>
									<option value="1">一日游</option>
									<option value="2">两日游</option>
									<option value="3">三日游</option>
                                </select>
						</td></tr>
						<tr><th></th><td>
								<a href="javascript:;" class="btn_normal" data-searchForm="zjSearchForm">搜 索</a>
						</a></td></tr>
					</table>
                    </form>
					<div class="other">
					</div>
				</div>
				<div class="tabCnt">
					<form action="${env.root}/search/global.htm" method="get" id="mpSearchForm">
                    <input type="hidden" name="s_product" value="MP"/>
					<table class="tableForm">
						<tr><th>城市</th><td class="select">
                                <select name="s_city">
									<option>杭州市</option>
									<option>上海市</option>
									<option>北京市</option>
								</select>
							</td></tr>
						<tr><th>景点名称</th><td>
								<input type="text" name="keyword" />
						</td></tr>
						<tr><th>景点类型</th><td>
								<select name="s_productType">
									<option value="">不限</option>
									<option value="自然风光">自然风光</option>
									<option value="人文景观">人文景观</option>
									<option value="综艺表演">综艺表演</option>
									<option value="休闲农庄">休闲农庄</option>
									<option value="主题公园">主题公园</option>
                                </select>
						</td></tr>
						<tr><th></th><td>
								<a href="javascript:;" class="btn_normal" data-searchForm="mpSearchForm">搜 索</a>
						</td></tr>
					</table>
					</form>
				</div>
				<div class="tabCnt">
					<form action="${env.root}/search/global.htm" method="get" id="jdSearchForm">
						<input type="hidden" name="s_product" value="JD"/>
					<table class="tableForm">
						<tr><th>城市</th><td class="select">
                                <select name="s_city">
									<option>杭州市</option>
									<option>上海市</option>
									<option>北京市</option>
								</select>
							</td></tr>
						<tr><th>酒店名称</th><td>
								<input type="text" name="keyword" />
						</td></tr>
						<tr><th>类型</th><td class="select">
								<select id="starRate" name="s_starRate">
									<option value="">不限</option>
									#foreach($e in $enumUtils.startRates())
                                    <option value="$e.value">$e.desc</option>
									#end
                                </select>
						</td></tr>
						<tr><th></th><td>
								<a href="javascript:;" class="btn_normal" data-searchForm="jdSearchForm">搜 索</a>
						</td></tr>
					</table>
                    </form>
				</div>
			</div>
			#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsA5(), $isEdit)
    		<div class="idx1L mgt10">
    		#if($!frontViewMap.get($!indexChannel.getmImageAdsA5()).frontViews)
    			#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsA5()).frontViews)
        			<a href="$!fv.link"><img src="$!fv.photoURL" alt="$!fv.title" target="_blank"/></a>
    			#end
    		#end
            </div>
		</div>
		
		#FRONT_EDIT_BUTTON($!indexChannel.getmBanner(), $isEdit)
		<div class="L idx1M">
			<div class="bigRoll" id="idx1BigRoll">
				#if($!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
					#foreach($fv in $!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
						#if($velocityCount == 1)
							<div class="tabCnt current"><a href="$!fv.link" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a></div>
						#else
							<div class="tabCnt"><a href="$!fv.link" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a></div>
						#end
					#end
				#end	
				<ul class="tabTtl">
					#if($!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
    					#foreach($fv in $!frontViewMap.get($!indexChannel.getmBanner()).frontViews)
							#if($velocityCount == 1)
								<li class="current">$!fv.title</li>
							#else
								<li >$!fv.title</li>
							#end
    					#end
    				#end	
				</ul>
			</div>
			<div class="mgt10 txtLink">
				<dl>
					<dt>#FRONT_EDIT_BUTTON($!indexChannel.getmSearchTheme(), $isEdit)
						$!frontViewMap.get($!indexChannel.getmSearchTheme()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!indexChannel.getmSearchTheme()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchTheme()).frontViews)
                                <a href="$!fv.link" target="_blank">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!indexChannel.getmSearchAttractions(), $isEdit)
						$!frontViewMap.get($!indexChannel.getmSearchAttractions()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!indexChannel.getmSearchAttractions()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchAttractions()).frontViews)
                                <a href="$!fv.link" target="_blank">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!indexChannel.getmSearchPeriphery(), $isEdit)
						$!frontViewMap.get($!indexChannel.getmSearchPeriphery()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!indexChannel.getmSearchPeriphery()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchPeriphery()).frontViews)
                                <a href="$!fv.link" target="_blank">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!indexChannel.getmSearchPrice(), $isEdit)
						$!frontViewMap.get($!indexChannel.getmSearchPrice()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!indexChannel.getmSearchPrice()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!indexChannel.getmSearchPrice()).frontViews)
                                <a href="$!fv.link" target="_blank">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
			</div>
		</div>
		
		<!-- 旅游团购开始 -->
		#FRONT_EDIT_BUTTON($!indexChannel.getmTodaySpecials(), $isEdit)
		<div class="R idx1R">
			<dl>
				<dt>
					<h2 class="L mgl10">
						$!frontViewMap.get($!indexChannel.getmTodaySpecials()).config.moduleName</h2>
					
				</dt>
				#if($!frontViewMap.get($!indexChannel.getmTodaySpecials()).frontViews)
					<dd class="tabCnt current">
    					#foreach($fv in $!frontViewMap.get($!indexChannel.getmTodaySpecials()).frontViews)
							#set($todaySpecialsCount = ($velocityCount - 1) % 3)
							#if($todaySpecialsCount == 0 && $velocityCount!=1)
								</dd>
								<dd class="tabCnt">
							#end
							<a href="$!fv.link" target="_blank">
        						<img src="$!fv.photoURL" alt="$!fv.title" />
        						<span>
        							<em class="L">$!fv.title</em>
        							<strong class="R">￥$!decimalUtils.format($!fv.presentPrice,"0")</strong>
        						</span>
        					</a>
    					#end
                    </dd>
				#end
			</dl>
		</div>

		<!-- 旅游团购结束 -->
	</div>
	<!-- idx1结束 -->

	
	<!-- idx2开始 -->
	#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsB(), $isEdit)
	#if($!frontViewMap.get($!indexChannel.getmImageAdsB()).frontViews)
		#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsB()).frontViews)
			<div class="mgt10 idx2 greenF">
        		<a href="$!fv.link" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
        	</div>
		#end
	#end
	<!-- idx2结束 -->
	
	
	<!-- idx3开始 -->
	<div class="mgt20 floor idx3 greenF">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">1F</em><strong class="green">$!frontViewMap.get($!indexChannel.getmPeripheryAttractionsRecommend()).config.moduleName</strong></h2>
			#FRONT_EDIT_BUTTON($!indexChannel.getmPeripheryAttractionsRecommend(), $isEdit)
			<p class="R mgt10">
				#if($!frontViewMap.get($!indexChannel.getmPeripheryAttractionsRecommend()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!indexChannel.getmPeripheryAttractionsRecommend()).frontViews)
            			<a href="$!fv.link" target="_blank">$!fv.title</a>
            		#end
            	#end
			</p>
		</div>
		<div class="mgt10 cnt1">
			#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsC1(), $isEdit)
			#if($!frontViewMap.get($!indexChannel.getmImageAdsC1()).frontViews)
            	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsC1()).frontViews)
					<a href="$!fv.link" class="L mgr10 pad3 c11" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
            	#end
            #end
			<ul class="L c12">
				#FRONT_EDIT_BUTTON($!indexChannel.getmPeripheryTextRecommend(), $isEdit)
    			#if($!frontViewMap.get($!indexChannel.getmPeripheryTextRecommend()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmPeripheryTextRecommend()).frontViews)
						<li>
							<a href="$!fv.link" target="_blank">
								<span class="c121">
									<span class="c1211">·$!fv.title</span>
									<span class="gray">$!fv.detail</span>
								</span>
								<span class="c122">
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
									<span class="gray">起</span>
								</span>
							</a>
						</li>
                	#end
                #end
			</ul>
			
			<div class="R c13">
				<ul>
					#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsC31(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsC31()).frontViews)
                		#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsC31()).frontViews)
							<li>
								<a href="$!fv.link" target="_blank">
									<span class="gray">·$!fv.title</span>
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
								</a>
							</li>
                		#end
                	#end
				</ul>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsC32(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsC32()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsC32()).frontViews)
						<a href="$!fv.link" class="c3Ad" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
                	#end
				#end
			</div>
		</div>
		<ul class="mgt10 cnt2">
			#FRONT_EDIT_BUTTON($!indexChannel.getmPeripheryImageRecommend(), $isEdit)
    		#if($!frontViewMap.get($!indexChannel.getmPeripheryImageRecommend()).frontViews)
                #foreach($fv in $!frontViewMap.get($!indexChannel.getmPeripheryImageRecommend()).frontViews)
					<li>
        				<a href="$!fv.link" target="_blank">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- idx3结束 -->
	<!-- idx4开始 -->
	<div class="mgt20 floor idx4 pinkF">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">2F</em><strong class="pink">$!frontViewMap.get($!indexChannel.getmLongTermAttractionsRecommend()).config.moduleName</strong></h2>
			#FRONT_EDIT_BUTTON($!indexChannel.getmLongTermAttractionsRecommend(), $isEdit)
			<p class="R mgt10">
				#if($!frontViewMap.get($!indexChannel.getmLongTermAttractionsRecommend()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!indexChannel.getmLongTermAttractionsRecommend()).frontViews)
            			<a href="$!fv.link" target="_blank">$!fv.title</a>
            		#end
            	#end
			</p>
		</div>
		<div class="mgt10 cnt1">
			#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsD1(), $isEdit)
			#if($!frontViewMap.get($!indexChannel.getmImageAdsD1()).frontViews)
            	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsD1()).frontViews)
					<a href="$!fv.link" class="L mgr10 pad3 c11" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
            	#end
            #end
			<ul class="L c12">
				#FRONT_EDIT_BUTTON($!indexChannel.getmLongTermTextRecommend(), $isEdit)
    			#if($!frontViewMap.get($!indexChannel.getmLongTermTextRecommend()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmLongTermTextRecommend()).frontViews)
						<li>
							<a href="$!fv.link" target="_blank">
								<span class="c121">
									<span class="c1211">·$!fv.title</span>
									<span class="gray">$!fv.detail</span>
								</span>
								<span class="c122">
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
									<span class="gray">起</span>
								</span>
							</a>
						</li>
                	#end
                #end
			</ul>
			<div class="R c13">
				<ul>
					#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsD31(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsD31()).frontViews)
                		#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsD31()).frontViews)
							<li>
								<a href="$!fv.link" target="_blank">
									<span class="gray">·$!fv.title</span>
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
								</a>
							</li>
                		#end
                	#end
				</ul>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsD32(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsD32()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsD32()).frontViews)
						<a href="$!fv.link" class="c3Ad" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
                	#end
				#end
			</div>
		</div>
		<ul class="mgt10 cnt2">
			#FRONT_EDIT_BUTTON($!indexChannel.getmLongTermImageRecommend(), $isEdit)
    		#if($!frontViewMap.get($!indexChannel.getmLongTermImageRecommend()).frontViews)
                #foreach($fv in $!frontViewMap.get($!indexChannel.getmLongTermImageRecommend()).frontViews)
					<li>
        				<a href="$!fv.link" target="_blank">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- idx4结束 -->
	
	
	<!-- 三楼开始 -->
	<div class="mgt20 floor idx4 violetF">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">3F</em><strong class="pink">$!frontViewMap.get($!indexChannel.getmFloor3AttractRecommend()).config.moduleName</strong></h2>
			#FRONT_EDIT_BUTTON($!indexChannel.getmFloor3AttractRecommend(), $isEdit)
			<p class="R mgt10">
				#if($!frontViewMap.get($!indexChannel.getmFloor3AttractRecommend()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor3AttractRecommend()).frontViews)
            			<a href="$!fv.link" target="_blank">$!fv.title</a>
            		#end
            	#end
			</p>
		</div>
		<div class="mgt10 cnt1">
			#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsE1(), $isEdit)
			#if($!frontViewMap.get($!indexChannel.getmImageAdsE1()).frontViews)
            	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsE1()).frontViews)
					<a href="$!fv.link" class="L mgr10 pad3 c11" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
            	#end
            #end
			<ul class="L c12">
				#FRONT_EDIT_BUTTON($!indexChannel.getmFloor3TextRecommend(), $isEdit)
    			#if($!frontViewMap.get($!indexChannel.getmFloor3TextRecommend()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor3TextRecommend()).frontViews)
						<li>
							<a href="$!fv.link" target="_blank">
								<span class="c121">
									<span class="c1211">·$!fv.title</span>
									<span class="gray">$!fv.detail</span>
								</span>
								<span class="c122">
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
									<span class="gray">起</span>
								</span>
							</a>
						</li>
                	#end
                #end
			</ul>
			<div class="R c13">
				<ul>
					#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsE31(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsE31()).frontViews)
                		#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsE31()).frontViews)
							<li>
								<a href="$!fv.link" target="_blank">
									<span class="gray">·$!fv.title</span>
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
								</a>
							</li>
                		#end
                	#end
				</ul>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsE32(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsE32()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsE32()).frontViews)
						<a href="$!fv.link" class="c3Ad" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
                	#end
				#end
			</div>
		</div>
		<ul class="mgt10 cnt2">
			#FRONT_EDIT_BUTTON($!indexChannel.getmFloor3ImageRecommend(), $isEdit)
    		#if($!frontViewMap.get($!indexChannel.getmFloor3ImageRecommend()).frontViews)
                #foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor3ImageRecommend()).frontViews)
					<li>
        				<a href="$!fv.link" target="_blank">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- 三楼结束 -->
	<!-- 四楼开始 -->
	<div class="mgt20 floor idx4 resedaF">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">4F</em><strong class="pink">$!frontViewMap.get($!indexChannel.getmFloor4AttractRecommend()).config.moduleName</strong></h2>
			#FRONT_EDIT_BUTTON($!indexChannel.getmFloor4AttractRecommend(), $isEdit)
			<p class="R mgt10">
				#if($!frontViewMap.get($!indexChannel.getmFloor4AttractRecommend()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor4AttractRecommend()).frontViews)
            			<a href="$!fv.link" target="_blank">$!fv.title</a>
            		#end
            	#end
			</p>
		</div>
		<div class="mgt10 cnt1">
			#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsF1(), $isEdit)
			#if($!frontViewMap.get($!indexChannel.getmImageAdsF1()).frontViews)
            	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsF1()).frontViews)
					<a href="$!fv.link" class="L mgr10 pad3 c11" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
            	#end
            #end
			<ul class="L c12">
				#FRONT_EDIT_BUTTON($!indexChannel.getmFloor4TextRecommend(), $isEdit)
    			#if($!frontViewMap.get($!indexChannel.getmFloor4TextRecommend()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor4TextRecommend()).frontViews)
						<li>
							<a href="$!fv.link" target="_blank">
								<span class="c121">
									<span class="c1211">·$!fv.title</span>
									<span class="gray">$!fv.detail</span>
								</span>
								<span class="c122">
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
									<span class="gray">起</span>
								</span>
							</a>
						</li>
                	#end
                #end
			</ul>
			<div class="R c13">
				<ul>
					#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsF31(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsF31()).frontViews)
                		#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsF31()).frontViews)
							<li>
								<a href="$!fv.link" target="_blank">
									<span class="gray">·$!fv.title</span>
									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
								</a>
							</li>
                		#end
                	#end
				</ul>
				#FRONT_EDIT_BUTTON($!indexChannel.getmImageAdsF32(), $isEdit)
    				#if($!frontViewMap.get($!indexChannel.getmImageAdsF32()).frontViews)
                	#foreach($fv in $!frontViewMap.get($!indexChannel.getmImageAdsF32()).frontViews)
						<a href="$!fv.link" class="c3Ad" target="_blank"><img src="$!fv.photoURL" alt="$!fv.title" /></a>
                	#end
				#end
			</div>
		</div>
		<ul class="mgt10 cnt2">
			#FRONT_EDIT_BUTTON($!indexChannel.getmFloor4ImageRecommend(), $isEdit)
    		#if($!frontViewMap.get($!indexChannel.getmFloor4ImageRecommend()).frontViews)
                #foreach($fv in $!frontViewMap.get($!indexChannel.getmFloor4ImageRecommend()).frontViews)
					<li>
        				<a href="$!fv.link" target="_blank">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- 四楼结束 -->
	#parse("/home/commonDynamic.vm")
</div>
<!-- main结束 -->
