#set($layout="/front/default_new.vm")
#################################################

<!-- main开始 -->
<div class="w950 main index">

	<!-- idx1开始 -->
	<div class="mgt20 idx1">
		<!-- 旅游团购开始 -->
		<div class="L idx1L">
			<dl id="idx1Lytg">
				<dt><h2 class="L mgl10">旅游团购</h2><ul class="R tabTtl"><li class="current"></li><li></li><li></li></ul></dt>
				<dd class="tabCnt current">
					<a href="#">

						<img src="images/170_100.jpg" alt="" />
						<span>
							<em class="L">苏州双人两日游111</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />

						<span>
							<em class="L">苏州双人两日游111</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>

							<em class="L">苏州双人两日游111</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
				</dd>
				<dd class="tabCnt">
					<a href="#">
						<img src="images/170_100.jpg" alt="" />

						<span>
							<em class="L">苏州双人两日游222</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>

							<em class="L">苏州双人两日游222</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>
							<em class="L">苏州双人两日游222</em>

							<strong class="R">￥698</strong>
						</span>
					</a>
				</dd>
				<dd class="tabCnt">
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>

							<em class="L">苏州双人两日游333</em>
							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>
							<em class="L">苏州双人两日游333</em>

							<strong class="R">￥698</strong>
						</span>
					</a>
					<a href="#">
						<img src="images/170_100.jpg" alt="" />
						<span>
							<em class="L">苏州双人两日游333</em>
							<strong class="R">￥698</strong>

						</span>
					</a>
				</dd>
			</dl>
		</div>
		<!-- 旅游团购结束 -->
		<div class="L idx1M">
			<div class="bigRoll" id="idx1BigRoll">
				<div class="tabCnt current"><a href="#"><img src="images/510_250_1.jpg" alt="" /></a></div>

				<div class="tabCnt"><a href="#"><img src="images/510_250_2.jpg" alt="" /></a></div>
				<div class="tabCnt"><a href="#"><img src="images/510_250_3.jpg" alt="" /></a></div>
				<ul class="tabTtl"><li class="current">杨梅专场1</li><li>杨梅专场2</li><li>杨梅专场3</li></ul>
			</div>
			<div class="mgt10 txtLink">
				<dl><dt>主题</dt><dd><a href="#">漂流</a><a href="#">夏季专题</a><a href="#">亲子游</a><a href="#">丽江客栈</a><a href="#">半自助长途</a><a href="#">浙江自由行</a></dd></dl>

				<dl><dt>景点</dt><dd><a href="#">上海欢乐谷</a><a href="#">扬州瘦西湖</a><a href="#" class="orange">苏州乐园</a><a href="#">环球恐龙城</a><a href="#">江苏天目湖</a></dd></dl>
				<dl><dt>周边</dt><dd><a href="#">杭州</a><a href="#">乌镇</a><a href="#">苏州</a><a href="#">周庄</a><a href="#">黄山</a><a href="#">普陀山</a><a href="#">雁荡山</a><a href="#">三清山</a></dd></dl>

				<dl><dt>价位</dt><dd><a href="#">800元以上</a><a href="#">500-799元</a><a href="#">300-499元</a><a href="#">100-299元</a></dd></dl>
			</div>
		</div>
		<div class="R idx1R">
			<div class="login">
				<a href="#">注册</a>

				<a href="#">登录</a>
			</div>
			<div class="mgt10 optionCard" id="optionCard">
				<ul class="tabTtl"><li class="first current">度假旅游</li><li>国内机票</li><li>酒店</li></ul>
				<div class="current tabCnt">
					<table class="tableForm">
						<tr><th>出发地</th><td><input type="text" /></td></tr>

						<tr><th>目的地</th><td><input type="text" /></td></tr>
						<tr><th></th><td><a href="#">搜索</a></td></tr>
					</table>
				</div>
				<div class="tabCnt">
					2
				</div>
				<div class="tabCnt">

					3
				</div>
			</div>
			<div class="mgt10 pad3 imgLink">
				<a href="#"><img src="images/222_152.jpg" alt="" /></a>
			</div>
		</div>
	</div>
	<!-- idx1结束 -->

	<!-- idx2开始 -->
	<div class="mgt10 idx2">
		<a href="#"><img src="images/950_98.jpg" alt="" /></a>
	</div>
	<!-- idx2结束 -->
	<!-- idx3开始 -->
	<div class="mgt20 floor idx3">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">1F</em><strong class="green">周边自助</strong></h2>

			<p class="R mgt10"><a href="#">千岛湖</a><a href="#">连云港</a><a href="#">普陀山</a><a href="#">天目湖</a><a href="#">黄山</a><a href="#">嵊泗</a><a href="#">象山</a><a href="#">庐山</a><a href="#">乌镇</a><a href="#"></a><a href="#" class="more">更多</a></p>
		</div>
		<div class="mgt10 cnt1">
			<a href="#" class="L mgr10 pad3 c11"><img src="images/222_262.jpg" alt="" /></a>

			<ul class="L c12">
				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>

				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>

				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>

				
			</ul>
			<div class="R c13">
				<ul>
					<li><a href="#"><span class="gray">·游秦淮河画舫、中华门城堡</span><span class="pink">￥198</span></a></li>
					<li><a href="#"><span class="gray">·游南通狼山风景区</span><span class="pink">￥198</span></a></li>
				</ul>
				<a href="#" class="c3Ad"><img src="images/228_98_1.jpg" alt="" /></a>

				<a href="#" class="c3Ad"><img src="images/228_98_2.jpg" alt="" /></a>
			</div>
		</div>
		<ul class="mgt10 cnt2">
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>

			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>

		</ul>
	</div>
	<!-- idx3结束 -->
	<!-- idx4开始 -->
	<div class="mgt20 floor idx4">
		<div class="ttl">
			<h2 class="L"><em class="mgr10">2F</em><strong class="pink">长线自助</strong></h2>
			<p class="R mgt10"><a href="#">千岛湖</a><a href="#">连云港</a><a href="#">普陀山</a><a href="#">天目湖</a><a href="#">黄山</a><a href="#">嵊泗</a><a href="#">象山</a><a href="#">庐山</a><a href="#">乌镇</a><a href="#"></a><a href="#" class="more">更多</a></p>

		</div>
		<div class="mgt10 cnt1">
			<a href="#" class="L mgr10 pad3 c11"><img src="images/222_262.jpg" alt="" /></a>
			<ul class="L c12">
				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>

				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>

				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·双溪皮筏漂流1日游</span><span class="gray">坐牛车、打水仗,全程无购物</span></span><span class="c122"><span class="pink">￥58</span><span class="gray">起</span></span></a></li>
				<li><a href="#"><span class="c121"><span class="green">·千岛湖中心湖区1日游</span><span class="gray">游品秀水，全程含景点门票190元</span></span><span class="c122"><span class="pink">￥198</span><span class="gray">起</span></span></a></li>

				<li><a href="#"><span class="c121"><span class="green">·海天佛国普陀山祈福2日游</span><span class="gray">朝拜观音圣境，尽享佛光普照</span></span><span class="c122"><span class="pink">￥450</span><span class="gray">起</span></span></a></li>
				
			</ul>
			<div class="R c13">
				<ul>
					<li><a href="#"><span class="gray">·游秦淮河画舫、中华门城堡</span><span class="pink">￥198</span></a></li>
					<li><a href="#"><span class="gray">·游南通狼山风景区</span><span class="pink">￥198</span></a></li>

				</ul>
				<a href="#" class="c3Ad"><img src="images/228_98_1.jpg" alt="" /></a>
				<a href="#" class="c3Ad"><img src="images/228_98_2.jpg" alt="" /></a>
			</div>
		</div>
		<ul class="mgt10 cnt2">
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>

			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>

			<li><a href="#"><img src="images/142_142.jpg" alt="" class="pad3"/><span class="c21"><strong class="pink">￥369.00 </strong><em>￥759.00</em></span><span class="c22">千岛湖、森林氧吧2日游</span></a></li>
		</ul>
	</div>
	<!-- idx4结束 -->
	<!-- idx5开始 -->
	<div class="mgt20 idx5">
		<!-- i5L开始 -->

		<div class="L i5L">
			<div class="L i5L1">
				<h2>度假OK动态</h2>
				<a href="#" class="itLink">
					<img src="images/142_92.jpg" alt="" class="L pad3" />
					<span class="R">度假OK创始人的文艺品牌电商新势力访谈：度假OK创始人文艺品牌...<em>阅读更多</em></span>
				</a>

				<ul class="mgt10">
					<li><a href="#">·度假市场荒原万物生长</a></li>
					<li><a href="#">·度假OK坚持理想主义 也需要商业平衡</a></li>
					<li><a href="#">·新金融观察报：旅游行业B2C的腔调</a></li>
					<li><a href="#">·网易：旅游b2c品牌度假OK正式上线</a></li>
					<li><a href="#">·创业邦：度假OK正式上线 瞄准旅游行业</a></li>

					<li><a href="#">·onews：业内热议度假OK上线</a></li>
					<li><a href="#">·北京商报：国内首个B2C旅游品牌推出</a></li>
				</ul>
			</div>
			<div class="L i5L2"></div>
			<div class="L i5L3">
				<h2>驴友热议</h2>

				<ul>
					<li>
						<a href="#">
							<img src="images/45_45.jpg" alt="" class="L" />
							<span class="R">
								<span class="ttl"><strong>[杭州]</strong>双溪竹海漂流景区</span>
								<span class="cnt">如果形容千岛湖的总体印象，青山绿水金腰带七字就够。类似的风光，在各地水库都能够看到，当然，没一个能够有千岛湖那么阔气。</span>

							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/45_45.jpg" alt="" class="L" />
							<span class="R">
								<span class="ttl"><strong>[杭州]</strong>双溪竹海漂流景区</span>

								<span class="cnt">如果形容千岛湖的总体印象，青山绿水金腰带七字就够。类似的风光，在各地水库都能够看到，当然，没一个能够有千岛湖那么阔气。</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/45_45.jpg" alt="" class="L" />
							<span class="R">

								<span class="ttl"><strong>[杭州]</strong>双溪竹海漂流景区</span>
								<span class="cnt">如果形容千岛湖的总体印象，青山绿水金腰带七字就够。类似的风光，在各地水库都能够看到，当然，没一个能够有千岛湖那么阔气。</span>
							</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
		<!-- i5L结束 -->
		<div class="R i5R">
			<iframe width="230" height="350" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=350&fansRow=2&ptype=0&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1751686452&verifier=75dfaa45&dpc=1"></iframe>
		</div>
	</div>
	<!-- idx5结束 -->
</div>
<!-- main结束 -->
