#set($layout="/front/default_new.vm")
#################################################

#set($title = "周边自驾")
#set($_productType = "selfDrive")

<!-- main开始 -->
#set($selfDriveChannel= $fontConstants.selfDriveChannel)
<div class="w950 index">
	<!-- travel1开始 -->
	<div class="mgt20 travel1">
		<div class="L L230">
			<div id="optionCard" class="optionCard box230" style="height:228px;">
				<div class="ttl"><h2>周边自驾</h2></div>
				<div class="current tabCnt">
					<form action="${env.root}/search/global.htm" method="get" id="zjSearchForm">
						<input type="hidden" name="s_product" value="ZJ"/>
					<table class="tableForm">
						<tbody>
							<tr><th style="width:50%">城市</th><td class="select">
                                <input type="text" name="s_city" /><ul><li>杭州</li><li>上海</li><li>北京</li></ul>
							</td></tr>
    						<tr><th>名称 </th><td><input type="text" name="keyword" /></td></tr>
    						<tr><th>出游类型</th><td class="select">
    								<select name="s_productType" style="width:80px;">
    									<option value="">不限</option>
    									<option value="亲子游">亲子游</option>
    									<option value="情侣游">情侣游</option>
    									<option value="老人游">老人游</option>
    									<option value="度假住宿">度假住宿</option>
    									<option value="温泉滑雪">温泉滑雪</option>
    									<option value="垂钓采摘">垂钓采摘 </option>
                                    </select>
									<select name="s_days"  style="width:50px;">
    									<option value="">不限</option>
    									<option value="1">一日游</option>
    									<option value="2">两日游</option>
    									<option value="3">三日游</option>
                                    </select>
    						</td></tr>
    						<tr><th></th><td><a href="javascript:;" class="btn_normal" data-searchForm="zjSearchForm">搜 索</a></td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
			</div>
		</div>
		<div class="R">
			#FRONT_EDIT_BUTTON($!selfDriveChannel.getmImageAdsA2(), $isEdit)
        	#if($!frontViewMap.get($!selfDriveChannel.getmImageAdsA2()).frontViews)
        		#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmImageAdsA2()).frontViews)
					<a href="$!fv.link" target="_blank">
						<img src="$!fv.photoURL" alt="" />
					</a>
        		#end
			#end
		</div>	
	</div>
	<!-- travel1结束 -->
	<!-- travel2开始 -->
	<div class="mgt10 travel2">
		<div class="L">
			<div class="pad3 imgLink">
				#FRONT_EDIT_BUTTON($!selfDriveChannel.getmImageAdsA3(), $isEdit)
            	#if($!frontViewMap.get($!selfDriveChannel.getmImageAdsA3()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmImageAdsA3()).frontViews)
    					<a href="$!fv.link" target="_blank">
    						<img src="$!fv.photoURL" alt="" />
    					</a>
            		#end
    			#end
			</div>
		</div>
		<div class="R idx1M">
			<div class="txtLink">
				<dl>
					<dt>#FRONT_EDIT_BUTTON($!selfDriveChannel.getmSearchTheme(), $isEdit)
						$!frontViewMap.get($!selfDriveChannel.getmSearchTheme()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!selfDriveChannel.getmSearchTheme()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmSearchTheme()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!selfDriveChannel.getmSearchAttractions(), $isEdit)
						$!frontViewMap.get($!selfDriveChannel.getmSearchAttractions()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!selfDriveChannel.getmSearchAttractions()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmSearchAttractions()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!selfDriveChannel.getmSearchPeriphery(), $isEdit)
						$!frontViewMap.get($!selfDriveChannel.getmSearchPeriphery()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!selfDriveChannel.getmSearchPeriphery()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmSearchPeriphery()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!selfDriveChannel.getmSearchPrice(), $isEdit)
						$!frontViewMap.get($!selfDriveChannel.getmSearchPrice()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!selfDriveChannel.getmSearchPrice()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmSearchPrice()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
			</div>
		
		</div>	
	</div>
	<!-- travel2结束 -->
	<!-- travel3开始 -->
	<div class="mgt10 travel3">
		<div class="L">
			<div class="box230 hSchL2">
				#FRONT_EDIT_BUTTON($!selfDriveChannel.getmHotTitleB1(), $isEdit)
				<div class="ttl">
					<h2>$!frontViewMap.get($!selfDriveChannel.getmHotTitleB1()).config.moduleName</h2>
				</div>
				<ol class="orderList">
					#if($!frontViewMap.get($!selfDriveChannel.getmHotTitleB1()).frontViews)
        				#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmHotTitleB1()).frontViews)
							#if($velocityCount <= 3)
								<li class="li123"><i>$velocityCount</i><a href="$!fv.link">$!fv.title</a></li>
							#else
								<li><i>$velocityCount</i><a href="$!fv.link">$!fv.title</a></li>
							#end
        				#end
					#end
				</ol>
			</div>
		</div>
		<div class="R">
			<div class="box230 box710 greenF">
				#FRONT_EDIT_BUTTON($!selfDriveChannel.getmHotTextB2(), $isEdit)
				<div class="ttl">
					<h2>$!frontViewMap.get($!selfDriveChannel.getmHotTextB2()).config.moduleName</h2>
				</div>
				<div class="floor">
					<ul class="c12">
						#if($!frontViewMap.get($!selfDriveChannel.getmHotTextB2()).frontViews)
                        	#foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmHotTextB2()).frontViews)
        						<li>
        							<a href="$!fv.link">
        								<span class="c121">
        									<span class="c1211">·$!fv.title</span>
        									<span class="gray">$!fv.detail</span>
        								</span>
        								<span class="c122">
        									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
        									<span class="gray">起</span>
        								</span>
        							</a>
        						</li>
                        	#end
                        #end
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- travel3结束 -->
	<!-- idx4开始 -->
	<div class="mgt10 floor idx4">
		<ul class="cnt2">
			#FRONT_EDIT_BUTTON($!selfDriveChannel.getmHotImageC1(), $isEdit)
    		#if($!frontViewMap.get($!selfDriveChannel.getmHotImageC1()).frontViews)
                #foreach($fv in $!frontViewMap.get($!selfDriveChannel.getmHotImageC1()).frontViews)
					<li>
        				<a href="$!fv.link">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- idx4结束 -->
	<!-- idx5开始 -->
	#parse("/home/commonDynamic.vm")
	<!-- idx5结束 -->
</div>
<!-- main结束 -->
