#set($layout="/front/default_new.vm")
#################################################

#set($title = "打折门票")
#set($_productType = "ticket")
<!-- main开始 -->
#set($ticketChannel= $fontConstants.ticketChannel)
<div class="w950 index">
	<!-- travel1开始 -->
	<div class="mgt20 travel1">
		<div class="L L230">
			<div id="optionCard" class="optionCard box230" style="height:228px;">
                <div class="ttl"><h2>打折门票</h2></div>
				<div class="current tabCnt">
					<form action="${env.root}/search/global.htm" method="get" id="mpSearchForm">
						<input type="hidden" name="s_product" value="MP"/>
					<table class="tableForm">
						<tbody>
							<tr><th style="width:50%">城市</th><td class="select">
                                <select name="s_city">
									<option>杭州市</option>
									<option>上海市</option>
									<option>北京市</option>
								</select>
							</td></tr>
    						<tr><th>景点名称 </th><td><input type="text" name="keyword" /></td></tr>
    						<tr><th>景点类型</th><td class="select">
    								<select name="s_productType">
    									<option value="">不限</option>
    									<option value="自然风光">自然风光</option>
    									<option value="人文景观">人文景观</option>
    									<option value="综艺表演">综艺表演</option>
    									<option value="休闲农庄">休闲农庄</option>
    									<option value="主题公园">主题公园</option>
                                    </select>
    						</td></tr>
    						<tr><th></th><td><a href="javascript:;" class="btn_normal" data-searchForm="mpSearchForm">搜 索</a></td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
			</div>
		</div>
		<div class="R product-a2">
			#FRONT_EDIT_BUTTON($!ticketChannel.getmImageAdsA2(), $isEdit)
        	#if($!frontViewMap.get($!ticketChannel.getmImageAdsA2()).frontViews)
        		#foreach($fv in $!frontViewMap.get($!ticketChannel.getmImageAdsA2()).frontViews)
					<a href="$!fv.link" target="_blank">
						<img src="$!fv.photoURL" alt="" />
					</a>
        		#end
			#end
		</div>	
	</div>
	<!-- travel1结束 -->
	<!-- travel2开始 -->
	<div class="mgt10 travel2">
		<div class="L">
			<div class="pad3 imgLink">
				#FRONT_EDIT_BUTTON($!ticketChannel.getmImageAdsA3(), $isEdit)
            	#if($!frontViewMap.get($!ticketChannel.getmImageAdsA3()).frontViews)
            		#foreach($fv in $!frontViewMap.get($!ticketChannel.getmImageAdsA3()).frontViews)
    					<a href="$!fv.link" target="_blank">
    						<img src="$!fv.photoURL" alt="" />
    					</a>
            		#end
    			#end
			</div>
		</div>
		<div class="R idx1M">
			<div class="txtLink">
				<dl>
					<dt>#FRONT_EDIT_BUTTON($!ticketChannel.getmSearchTheme(), $isEdit)
						$!frontViewMap.get($!ticketChannel.getmSearchTheme()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!ticketChannel.getmSearchTheme()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!ticketChannel.getmSearchTheme()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!ticketChannel.getmSearchAttractions(), $isEdit)
						$!frontViewMap.get($!ticketChannel.getmSearchAttractions()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!ticketChannel.getmSearchAttractions()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!ticketChannel.getmSearchAttractions()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!ticketChannel.getmSearchPeriphery(), $isEdit)
						$!frontViewMap.get($!ticketChannel.getmSearchPeriphery()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!ticketChannel.getmSearchPeriphery()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!ticketChannel.getmSearchPeriphery()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
				<dl>
					<dt>
						#FRONT_EDIT_BUTTON($!ticketChannel.getmSearchPrice(), $isEdit)
						$!frontViewMap.get($!ticketChannel.getmSearchPrice()).config.moduleName
					</dt>
					<dd>
						#if($!frontViewMap.get($!ticketChannel.getmSearchPrice()).frontViews)
        					#foreach($fv in $!frontViewMap.get($!ticketChannel.getmSearchPrice()).frontViews)
                                <a href="$!fv.link">$!fv.title</a>
        					#end
						#end
					</dd>
				</dl>
			</div>
		
		</div>	
	</div>
	<!-- travel2结束 -->
	<!-- travel3开始 -->
	
	<div class="mgt10 travel3">
		<div class="L">
			#FRONT_EDIT_BUTTON($!ticketChannel.getmHotTitleB1(), $isEdit)
			#if($!frontViewMap.get($!ticketChannel.getmHotTitleB1()).frontViews)
			<div class="box230 hSchL2">
				
				<div class="ttl">
					<h2>$!frontViewMap.get($!ticketChannel.getmHotTitleB1()).config.moduleName</h2>
				</div>
				<ol class="orderList">
    				#foreach($fv in $!frontViewMap.get($!ticketChannel.getmHotTitleB1()).frontViews)
						#if($velocityCount <= 3)
							<li class="li123"><i>$velocityCount</i><a href="$!fv.link">$!fv.title</a></li>
						#else
							<li><i>$velocityCount</i><a href="$!fv.link">$!fv.title</a></li>
						#end
    				#end
				</ol>
			</div>
			#end
		</div>
		<div class="R">
			<div class="box230 box710 greenF">
				#FRONT_EDIT_BUTTON($!ticketChannel.getmHotTextB2(), $isEdit)
				<div class="ttl">
					<h2>$!frontViewMap.get($!ticketChannel.getmHotTextB2()).config.moduleName</h2>
				</div>
				<div class="floor">
					<ul class="c12">
						#if($!frontViewMap.get($!ticketChannel.getmHotTextB2()).frontViews)
                        	#foreach($fv in $!frontViewMap.get($!ticketChannel.getmHotTextB2()).frontViews)
        						<li>
        							<a href="$!fv.link">
        								<span class="c121">
        									<span class="c1211">·$!fv.title</span>
        									<span class="gray">$!fv.detail</span>
        								</span>
        								<span class="c122">
        									<span class="pink">￥$!decimalUtils.format($!fv.presentPrice,"0")</span>
        									<span class="gray">起</span>
        								</span>
        							</a>
        						</li>
                        	#end
                        #end
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- travel3结束 -->
	<!-- idx4开始 -->
	<div class="mgt10 floor idx4">
		<ul class="cnt2">
			#FRONT_EDIT_BUTTON($!ticketChannel.getmHotImageC1(), $isEdit)
    		#if($!frontViewMap.get($!ticketChannel.getmHotImageC1()).frontViews)
                #foreach($fv in $!frontViewMap.get($!ticketChannel.getmHotImageC1()).frontViews)
					<li>
        				<a href="$!fv.link">
        					<img src="$!fv.photoURL" alt="$!fv.title" class="pad3"/>
        					<span class="c21">
        						<strong class="pink">￥$!decimalUtils.formatPrice($!fv.presentPrice)</strong>
        						<em>￥$!decimalUtils.formatPrice($!fv.originalPrice)</em>
        					</span>
        					<span class="c22">$!fv.title</span>
        				</a>
        			</li>
                #end
            #end
		</ul>
	</div>
	<!-- idx4结束 -->
	<!-- idx5开始 -->
	#parse("/home/commonDynamic.vm")
	<!-- idx5结束 -->
</div>
<!-- main结束 -->
