<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#parse("/common/common_head.vm")
</head>
<body>

	#parse("/common/common_top_new.vm")
	#JS(["jquery-1.7.2.min.js","common.js","index.js","search.js"])
	<!-- main开始 -->
	 $screen_content
    <!-- main结束 -->
    <!-- bottom开始 -->
	#parse("/common/common_bottom_new.vm")
	<!-- bottom结束 -->
	

</body>
</html>