#####前台页面默认的Layout
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>#if ($title)$!title #else 度假OK #end</title>
        #CSS(["base.css","General.css","main.css", "dialog.css", "msgbox.css", "tip.css"])
       
		
		<style>
        <!--
		#header{height:120px;}
        #footer { width:900px; border:1px #dcdcdc solid; padding:24px; margin:5px auto;}
        #footer .foot_left{float:left; padding:33px 10px 0 36px;}
        #footer .foot_right{ float:left;}
        #footer .foot_right .foot_rightcontent li{ float:left;  margin-left:45px; display:inline;}
        #footer .foot_right .foot_rightcontent li ul h2{font-size:14px; font-weight:bold; color:#006b27; padding-bottom:10px; padding-left:4px;}
        .foot_left .foot_tel{font-size:22px; color:#006b27; padding-left:2px;}
        .copy{ text-align:center; padding:20px 0 40px 0; font-size:12px;}
        .copy p{ padding:4px 0;}
        .copy p a{ color:#666666;}
        -->
        </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar_com FS12">
		#if(${env.member})
			欢迎您：$!env.member.nickname &nbsp;&nbsp;&nbsp;&nbsp;<a href="${env.root}/member/orderlist.htm">我的订单</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="${env.root}/member/modify.htm">修改个人资料</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="${env.root}/member/logout.htm">退出</a>&nbsp;&nbsp;
        #else
        	<a href="${env.root}/member/login.htm">登录</a>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="${env.root}/member/register.htm">注册</a>
        #end
		</div>
    </div>
	#parse('common/common_top.vm')
	
    <div class="page_bg">
        <div id="wrap" class="FS12 F2">
            
            $screen_content
        </div>
    </div>
   
	
	#parse('common/common_bottom.vm')
    
</body>
</html>
