#set($layout="/order/default.vm")
<form id='changeStatus' action='${env.root}/order/paydetail.htm' method='post'>
<!--内容开始 -->
        <div id="wrap">
		<div class="step-box"><div class="step-3"></div></div>
            <div class="section urhere">
                <!--span class="F3">分享到： 新浪微博 </span-->
            </div>
            
            <div id="order_confirm" class="section">
            		<h2 class="d_title"><span class="order-nav">预订：</span>$product.name</h2>
                    #if ($product.typeId == 0)
                    <table class="d_dgcp"  cellpadding="0" cellspacing="0">
                    	<tr>
                        	<th>编号</th>
                            <th>线路名称</th>
                            <th>出发信息</th>
                            <th>人数</th>
                        </tr>
                        <tr>
                        	<td>$!product.id</td>
                            <td>$!product.name</td>
                            <td>$!product.dest<br />$!order.startDate</td>
                            <td>成人 <strong>$!order.adultNumber</strong> <br />#if($order.childNumber!=0)儿童 <strong>$!order.childNumber</strong>#end </td>
                        </tr>
                    </table>
                    #if($order.insure!=0)
                    <h3 class="dingdanhead">附加产品</h3>
                    <p>自由行-平安国内短途2日游意外险&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市场价：20元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ok价：10元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>$!order.insure</strong> 份</p>
                    #end
                    <!--h3 class="dingdanhead">游玩人信息</h3>-->
                    #end
                    #if ($product.typeId == 1)
                    <table class="d_dgcp"  cellpadding="0" cellspacing="0">
                    	<tr>
                        	<th>编号</th>
                            <th>线路名称</th>
                            <th>出发信息</th>
                            <th>份数</th>
                        </tr>
                        <tr>
                        	<td>$!product.id</td>
                            <td>$!product.name</td>
                            <td>$!product.dest<br />$!order.startDate</td>
                            <td>份数<strong>$!order.comboNumber</strong> </td>
                        </tr>
                    </table>
                    #end
                    #if ($product.typeId == 2)
                    <table class="d_dgcp"  cellpadding="0" cellspacing="0">
                    	<tr>
                        	<th>编号</th>
                            <th>产品名称</th>
                            <th>酒店信息</th>
                            <th>房间数</th>
                        </tr>
                        <tr>
                        	<td>$!product.id</td>
                            <td>$!product.name</td>
                            <td>
								#foreach($tour in $tourList)
                        	    $!tour.startDate &nbsp;&nbsp; $!tour.hotelPrice元 <br />
								#end
								<!--$order.endDate-->
							</td>
                            <td>房间数<strong>$!order.hotelNumber</strong><br />天数：$!order.hotelDay</td>
                        </tr>
                    </table>
					#end
					
					<input type="hidden" value="$!order.personInfo" id="personInfo" />
                    <div id="dingdan">
                    <div class="d_left">
                    <div id="personInfo_view"></div>
                    </div>
                    </div>
					<div style="clear:both;"></div>
                    <h3 class="dingdanhead">金额总计</h3>

					<p class="Settlement_amount">订单结算金额&nbsp;&nbsp;&nbsp;<b>￥$!order.totalPrice元</b></p>
                    <div class="d_qrxd">
						#if("待付款"==$order.status)
							<button type="submit" id="submit">&nbsp;&nbsp;&nbsp;&nbsp;</button>
						#end
						<a style="cursor:pointer;" onclick="returnPage()">&nbsp;&nbsp;返回</a>
                    </div>
					
              </div>
       </div>    
		#if("y"==$isAdmin)
		   <select name="changeStatus" id="changeStatus">
    	      <option value="0">待付款</option>
    	      <option value="1">等待预定确认</option>
    	      <option value="2">预订成功</option>
    	      <option value="4">订单关闭（超时未付款）</option>
    	      <option value="5">订单关闭（预定不成功）</option>
    	      <option value="6">订单关闭（客户需退款）</option>
    	      <option value="7">已退款</option>
  	        </select>
			<p></p>
			<input name="comment" id="comment" value="$!order.comment" />
			<p></p>
			<button type="submit" onclick="changeStatus()">变更状态</button><a href="$env.getWebURL('')/trek/manage/manage/listAllOrder.htm">返回订单查询</a>
			
		#end
            <!-- 内容结束 -->
	
	<input type="hidden" id="webUrl" name="webUrl" value="$uribroker.rootContext.setTarget('/')" />
	
	<input type="hidden" id="orderId" name="orderId" value="$order.id" />
	<input type="hidden" id="productId" name="productId" value="$product.id" />
	<input type="hidden" id="amount" name="amount" value="$order.totalPrice" />
	<input type="hidden" id="status" name="status"  />
	
	
<script type="text/javascript">
var EV = xui.util.Event,
DOM = xui.util.Dom;
var personInfo=function(){};
personInfo.prototype={
	init:function(){
		this.render();
	},
	render:function(){
		var SELF = this;
		var EL = $('personInfo').value,
			EL2 = $('personInfo_view');
		SELF.Show(EL);
	},
	Show:function(data){
		var jsonData = eval(data);
		var b = [];
		for(var i=0; i<eval(data).length; i++){
			if(i==0){
				b.push('<h3 class="dingdanhead">主联系人信息</h3>')
				b.push('<div class="person_Order"><div style="clear:both;"></div>');
				b.push('<table class="d_ywrxx"  cellpadding="0" cellspacing="0"><tr><th><i>*</i> 主联系人姓名：</th><td>'+jsonData[i].name+'</td></tr>');
				b.push('<tr><th><i>*</i> 主联系人手机：</th><td>'+jsonData[i].tel+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件类型：</th><td>'+jsonData[i].select+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件号码：</th><td>'+jsonData[i].Certificate+'</td></tr>');
				b.push('<tr><th>E-mail：</th><td>'+jsonData[i].Email+'</td></tr>');
				b.push('</table></div>');
			}else{
				b.push('<h3 class="dingdanhead">游玩人信息</h3>')
				b.push('<div class="person_Order"><div style="clear:both;"></div>');
				b.push('<table class="d_ywrxx"  cellpadding="0" cellspacing="0"><tr><th><i>*</i> 游玩人姓名：</th><td>'+jsonData[i].name+'</td></tr>');
				b.push('<tr><th><i>*</i> 游玩人手机：</th><td>'+jsonData[i].tel+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件类型：</th><td>'+jsonData[i].select+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件号码：</th><td>'+jsonData[i].Certificate+'</td></tr>');
				b.push('<tr><th>E-mail：</th><td>'+jsonData[i].Email+'</td></tr>');
				b.push('</table></div>');
			}
		}
		$('personInfo_view').innerHTML =  b.join('');
	}
	
}
EV.onDOMReady(function(){
	var b = new personInfo();
	b.init();
});  

function pay(){
	var changeStatus = document.getElementById("changeStatus");
	changeStatus.action = "http://www.dujiaok.com/diablo/trek/order/order/choose2pay.htm?orderId=" + $("orderId").value + "&productId=" + $("productId").value + "&amount=" + $("amount").value;
	changeStatus.submit();
}

function changeStatus(){
alert(document.getElementById('status').value)
	document.getElementById('status').value = document.getElementById('changeStatus').value;
	//var changeStatus = document.getElementById('changeStatus').value;
	//alert(changeStatus);
	//location.href = $("webUrl").value + "trek/order/order/changeStatus.htm?orderId="+$("orderId").value+"&status="+changeStatus+"&comment="+$("comment").value;
}

function returnPage(){
	window.history.go(-1);
}
</script>
</form>