
.article .aside{  width:230px; border:none; float:right;}
.article .aside .login{ width:228px; height:238px; border:1px solid #dcdcdc; float:left;}
.article .aside .login .welcome{ background-repeat:repeat-x; background-position:0 -114px; padding:10px; height:55px;}
.article .aside .login .welcome img{ float:left;}
.article .aside .login .welcome ul{ margin-left:10px; display:inline; float:left;}
.article .aside .login .welcome ul li{ padding-top:4px; float:left; clear:both;}
.article .aside .login .wellist{ margin:0 auto; padding:16px 15px 16px 25px; width:170px; border-bottom:1px solid #dcdcdc;}
.article .aside .login .wellist ul li{ height:24px; line-height:24px;}
.article .aside .login .Tips{ padding-left:15px; height:35px; line-height:35px;}
.article .aside .login .Tips img{margin-right:6px; margin-top:10px; display:inline; float:left; }

.article .aside .login h2{background:url(../images/n_bg.png) 0 -114px repeat-x; padding:20px 60px; height:35px; margin:0 auto;}
.article .aside .login .login_list{ padding:20px 30px;}
.article .aside .login .login_list li{ height:22px; line-height:22px;}

.article .section{ width:710px; float:left;}
.article .section1 .aside{ float:left;}
.section1 .aside .sidebar,.aside .HotRecommend{ width:228px; height:238px;  line-height:24px; border:1px solid #dcdcdc; float:left;}
.section1 .aside .sidebar .sidebar_1{ width:208px; border-bottom:1px solid #dcdcdc; margin-left:10px; padding:11px 0; display:inline; float:left; }
.section1 .aside .sidebar .sidebar_1 h2{ width:30px; font-weight:bold; float:left;}
.section1 .aside .sidebar .sidebar_1 ul{ width:85%; float:right;}
.section1 .aside .sidebar .sidebar_1 ul li{padding-left:12px; float:left; white-space:nowrap;}

.aside .HotRecommend{ margin-top:10px; height:138px;}
.aside .HotRecommend ul,.aside .HotRecommend h2{padding-left:10px; padding-top:3px;}
.aside .HotRecommend h2{ background-repeat:repeat-x; background-position:0 -189px; height:29px; }

.aside .Train { margin-top:10px; width:228px; height:188px;  border:1px solid #dcdcdc; display:inline; float:left;}
.aside .Train ul{padding:10px 0 0 10px; _padding-top:15px;}
.aside .Train ul li{ height:24px; line-height:24px;}
.aside .Train ul li img{ padding-bottom:1px;}
.aside .Train h2{ padding-left:10px; padding-top:4px; background-repeat:repeat-x; background-position:0 -189px; height:28px; line-height:24px; }
.aside .Train ul li.Live img{ margin-top:10px; _margin-top:5px; display:inline; float:left;}

.aside .Network { margin-top:10px; width:228px; height:268px; border:1px solid #dcdcdc; display:inline; float:left;}
.aside .Network ul{padding-left:18px; padding-top:10px; +padding-top:8px; }
.aside .Network ul li img{ padding:2px; border:1px solid #dcdcdc;}
.aside .Network ul li{ float:left; display:inline; line-height:18px; margin-right:12px;}
.aside .Network ul li p{ width:124px;}
.aside .Network h2{ padding-left:10px; padding-top:3px; padding-bottom:15px; background-repeat:repeat-x; background-position:0 -189px; height:29px; line-height:24px; }

.shareLt{ margin-top:10px; display:inline; float:left;}
.shareLt img{ border:1px solid #dcdcdc;}

.Tools{background:url(../images/backdrop.png) no-repeat; background-position:0 -46px; margin-top:10px; width:710px; height:180px; display:inline; float:left;}
.Tools h2{ height:36px; padding:10px 0 0 10px; background:url(../images/backdrop.png); background-position:0 0; }
.Tools ul{ margin-left:5px;}
.Tools ul li{ float:left; width:100px; text-align:center;}
.Tools ul li .Toollist{ margin-top:12px; margin-bottom:10px;}
.Tools ul li span{ display:block;}

.Market{background:url(../images/backdrop.png) no-repeat; background-position:0 -46px; margin-top:10px; width:710px; display:inline; float:left;}
.Market h2{ height:36px; padding:10px 0 0 10px; background:url(../images/backdrop.png); background-position:0 0;}
.Market ul{ float:left; width:814px;}
.Market ul li{ float:left; display:inline; text-align:center; margin-left:12px; margin-bottom:35px; margin-top:20px;}
.Market ul li img{  border:1px solid #dcdcdc; padding:2px; float:left;}
.Market .LeftBotton,.Market .RightBotton{ display:block;height:80px;width:28px;background:url(../images/bt_05.png); margin-top:105px;}
.Market .LeftBotton{ float:left;}
.Market .LeftBotton:hover{ float:left; background-position:0 -80px;}
.Market .RightBotton{ float:right; background-position:-28px 0;}
.Market .RightBotton:hover{ float:right; background-position:-28px -80px;}
.Market .pcont { float: left; overflow: hidden; width:650px; }
.Market .ScrCont { width: 32766px; zoom:1; }
.Market #List1_1 { float: left}
.Market #List2_1 ul li,.Market #List1_1 ul li { float: left;}
.Market #List2_1 { float: left}

.footerBox{ float:left; width:950px; margin-top:15px;}

/*  从这里开始，之前的不要就删掉  */
#reg{}
#reg .reg_left{ float:left; width:610px; height:360px;}
#reg .reg_right{ float:right; width:345px; height:358px;}
#reg .reg_right .reg_imp{width:340px; height:356px; border:#27b300 solid 2px;}
#reg .reg_right .reg_imp h2{ width:170px; height:32px; display:block; float:left;}
#reg .reg_right .reg_imp h2 a{width:170px; height:26px; padding-top:6px; text-align:center; display:block; color:#24a000;}
#reg .reg_right .reg_imp h2 a.cur{ background:url("../images/bg_h2_01.gif") repeat-x 0 0; color:#fff;}
#reg .reg_right .reg_imp h2 a:hover , #reg .reg_right .reg_imp h2 a:hover.cur{ color:#ff6600; text-decoration:underline;}
#reg .reg_right .reg_imp ul{padding:46px 0 0 30px; display:block;}
#reg .reg_right .reg_imp ul li{ font-size:14px; color:#666; margin-bottom:34px;}
#reg .reg_right .reg_imp ul li input{ width:210px; height:21px; border:#ddd solid 2px; margin-left:15px;}
#reg .reg_right .reg_imp button{ height:40px; padding:0; background:url(../images/bg_botton01.gif) repeat-x 0 0; border:none; color:#fff; margin-left:73px;}
#reg .reg_right .reg_imp p{ margin-left:73px; margin-top:16px;}

.navbar{ width:100%; background:url("../images/bg_navbar.gif") repeat-x 0 0; height:26px;}
.navbar_com{ width:950px; margin:0 auto; text-align:right; padding-top:3px; color:#333;}
.page_bg{ width:100%; background:url("../images/bg_page.gif") repeat-x 0 0; }
.header_bg{width:950px; margin:0 auto; background:url(../images/header_bg.jpg) no-repeat 0 0;}
.header_tab{width:950px; margin:0 auto; background:url(../images/bg_tab.gif) no-repeat 0 0; height:34px;}
.header_tab ul{padding-left:20px;}
.header_tab ul li{ float:left; width:88px; height:34px;}
.header_tab ul li a{ width:88px; height:25px; display:block; color:#fff; text-align:center; padding-top:9px;}
.header_tab ul li a:hover{ background:url(../images/bg_tab_hover.gif) no-repeat 0 0; text-decoration:underline;}
.header_tab ul li.cur a{ background:url(../images/bg_tab_cur.gif) no-repeat 0 0; color:#1f8c00;}
.header_tab ul li.cur a:hover{text-decoration:underline;}
.header_tab .theme_link{ float:right; color:#006b27; margin:8px 10px 0 0;}
.header_tab .theme_link a{ color:#006b27;}

.ucenter{ width:950px; margin:10px auto;}
.ucenter .ucenter_left{width:150px; float:left; padding-bottom:21px; border-bottom:1px solid #44bb00; background:url(../images/ucenter_bg.gif) repeat-y 0 0;}
.ucenter .ucenter_right{width:790px; float:right;}
.ucenter .ucenter_left ul li{width:150px; height:30px;}
.ucenter .ucenter_left ul li a{width:150px; height:24px; display:block; background:url(../images/ucenter_moren.gif) no-repeat 0 0; color:#666; text-align:center; padding-top:6px;}
.ucenter .ucenter_left ul li a:hover{ background:url(../images/ucenter_huaguo.gif) no-repeat 0 0;}
.ucenter .ucenter_left ul li.cur a{background:url(../images/ucenter_dangqian.gif) no-repeat 0 0;}
.ucenter .ucenter_left ul li.cur a:hover{ text-decoration:underline;}
.ucenter h2{width:769px; height:23px; padding:9px 0 0 21px; background:url(../images/ucenter_biaoti.gif) no-repeat 0 0;}
.ucenter h3{width:150px; height:25px; background:#49c100; text-align:center; color:#fff; padding-top:6px;}
.ucenter h4{width:138px; height:21px; background:url(../images/ucenter_title.gif) no-repeat 0 0; margin-bottom:9px; color:#333; padding:8px 0 0 12px; font-weight:bold;}
.ucenter .ucenter_right table.us01{ margin: 30px;}
.ucenter .ucenter_right table.us01 tr th{padding: 8px 3px; text-align:right;}
.ucenter .ucenter_right table.us01 tr td{padding: 8px 3px; text-align:left;}
.ucenter .ucenter_right table.us01 tr td button{ width:66px; height:31px; background:url(../images/ucenter_button.gif) no-repeat 0 0; padding-top:0; text-align:center; border:none; margin-right:5px;}
.ucenter .ucenter_right table.us01 tr td input{ width:164px;}
.ucenter .ucenter_right table.us01 tr td b{ color:#ee0044;}
.ucenter .ucenter_right table.us02{ width:790px; margin-top:10px; border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.ucenter .ucenter_right table.us02 .tb01{width:95px; text-align:center;}
.ucenter .ucenter_right table.us02 .tb02{width:340px;}
.ucenter .ucenter_right table.us02 .tb03{width:90px; text-align:center;}
.ucenter .ucenter_right table.us02 .tb04{width:85px; text-align:right; color:#ee0044; font-weight:bold;}
.ucenter .ucenter_right table.us02 .tb05{width:70px; text-align:center;}
.ucenter .ucenter_right table.us02 .tb06{width:100px; text-align:center;}
.ucenter .ucenter_right table.us02 .tb07{ text-align:right;}
.ucenter .ucenter_right table.us02 tr th{border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; text-align:center; padding:9px 0; font-weight:bold;}
.ucenter .ucenter_right table.us02 tr td{border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; margin:0; padding:8px 5px;}
.ucenter .ucenter_right table.us02 tr td p{ margin-top:3px;}

.ucenter_profile{ width:790px; height:115px;}
.ucenter_profile_left{ width:400px; float:left;}
.ucenter_profile_left p{ margin:10px 20px;}
.ucenter_profile_left p b{color:#ee0044;}
.ucenter_profile_right{ width:300px; float:right; text-align:right; color:#666;}

.urhere{ margin:15px 0 13px 0; width:950px;}
.urhere p{width:710px; float:left; }
.urhere span{width:230px; float:right; text-align:left; display:block;}

#detail , #dingdan , #order_confirm{width:950px;}
#detail .d_left ,#dingdan .d_left{width:710px; float:left;}
#detail .d_right ,#dingdan .d_right{width:230px; float:right;}
#detail .d_left h2.d_title ,#dingdan .d_left h2.d_title ,#order_confirm h2.d_title{ font-family:微软雅黑,宋体; color:#249f00; font-size:18px; margin-bottom:13px;}

#Focus { width:710px;height:300px; display:inline; float:left; overflow:hidden; position:relative;zoom:1;}
#Focus_content{zoom:1; width:2840px;height:250px; }
#Focus_content:after{content:"\0020"; display:block; height:0; clear:both;}

#Focus_content { position:absolute;top:0; left:0;}
#Focus_content li{ width:710px; height:250px; background:#fff; float:left; display:inline; color:#fff; font-size:36px;}
#Focus_content li img{ float:left;}
#Focus_content li h2{background:url(../images/icon_02.png) 6px #fff no-repeat;_background:url(../images/icon_02.png) 6px 11px #fff no-repeat; font-size:12px; color:#666; height:40px; width:444px; line-height:40px; float:left;}
.trigger{ overflow:hidden;zoom:1; padding-top:13px; padding-left:5px; background:#fff; height:27px;  position:absolute;top:250px; right:0;}
.trigger li{ float:left; display:inline; background:url(../images/btg_02.png) no-repeat; width:15px; height:15px; margin:0 7px;  text-align:center; font-weight:bold; cursor:pointer;}
.trigger .on{background:url(../images/btg_02.png) right no-repeat;}

.information{ width:200px; border:1px solid #249f00; border-bottom:none; padding:5px 15px 15px 15px;}
.information h3{ color:#e8004c; margin-bottom:10px;}
.information h3 i{ padding:2px 5px; background-color:#ff9d1d; color:#fff; font-style:normal;}
.information h3 b{ font-size:28px;}
.information table tr th{padding:5px 0; text-align:right; color:#999;}
.information table tr td{padding:5px 0; color:#999;}
.information #Price,.information #difference{ text-decoration:line-through;}
.order{width:20 0px; border:1px solid #ffbd5f; background-color:#fff3e3; padding:15px;}
.order ul li{padding:9px 0; color:#666;}
.order ul li input{width:30px;}
.order button{ width:132px; height:42px; background:url(../images/ucenter_button02.gif) no-repeat 0 0; border:none; display:block; margin:15px auto;}

#order_confirm strong{color:#ff6600;}
#dingdan .d_left h2.yuding01 , #order_confirm h2.yuding01{ background:url(../images/icon_title_01.gif) no-repeat 0 0; padding-left:75px; height:30px;}
#dingdan .d_left h3.dingdanhead , #order_confirm h3.dingdanhead {width:688px; height:23px; margin:25px 0 15px 0; padding:9px 0 0 21px; background:url(../images/ucenter_biaoti.gif) no-repeat 0 0; font-size:14px; font-weight:bold;}
#dingdan .d_left .Insurance li input,.Insurance li p{ border:none; float:left;}
.Insurance{  padding:12px 0 0 0; }
.Insurance_one li{ float:left; width:100px; padding:0 0px 0 10px; height:22px; line-height:22px; margin-top:4px; display:inline;}
li.Insurance_check{ padding-right:0; width:22px;}
li.Insurance_name{ width:220px; padding:0;}
#order_confirm h3.dingdanhead{ width:950px;}
#dingdan .d_left .wpx34{ width:24px; margin-right:10px;}
#dingdan .d_left .wpx184,#dingdan .d_left .wpx1843{width:184px;}
#dingdan .d_left input{ border:1px solid #ddd;}
#dingdan .d_left .d_dgcp , #order_confirm .d_dgcp{ border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; width:710px;}
#dingdan .d_left .d_dgcp th , #order_confirm .d_dgcp th{border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background-color:#f3f6f8; padding:5px; font-weight:bold;}
#dingdan .d_left .d_dgcp td , #order_confirm .d_dgcp td{border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding:5px; line-height:25px;}
#dingdan .d_left .d_ywrxx , #order_confirm .d_ywrxx{ margin-bottom:10px;}
#dingdan .d_left .d_ywrxx th , #order_confirm .d_ywrxx th{padding:5px; text-align:right;}
#dingdan .d_left .d_ywrxx th i , #order_confirm .d_ywrxx th i{color:#ff0000;}
#dingdan .d_left .d_ywrxx td , #order_confirm .d_ywrxx td{padding:5px;}
#dingdan .d_left .d_qrxd , #order_confirm .d_qrxd{padding-left:96px; margin-bottom:20px;}
#dingdan .d_left .d_ydxx{padding-left:96px;}
#dingdan .d_left .d_ydxx textarea{ width:600px; margin-top:8px;}
#dingdan .d_left .d_qrxd button , #order_confirm .d_qrxd button{ background:url(../images/ucenter_button03.gif) no-repeat 0 0; border:none; width:132px; height:42px;}
#dingdan .d_left .d_qrxd button.submitbg{background:url(../images/ucenter_button03.jpg) no-repeat 0 0; border:none; width:132px; height:42px;}

#dingdan .d_right .information{ width:200px; border:1px solid #249f00; padding:5px 15px 15px 15px;}
#dingdan .d_right h3{background-color:#249f00; width:230px; height:25px; color:#fff; text-align:center; padding-top:7px;  border:1px solid #249f00;}
#dingdan .d_right .information .Settlement_amount{ margin-top:25px; line-height:30px; color:#999;}
#order_confirm .Settlement_amount{color:#666; margin-top:-20px; margin-bottom:20px;}
#dingdan .d_right .information .Settlement_amount b , #order_confirm .Settlement_amount b { color:#e8004c; font-size:22px;}

#pay .bank{ padding:20px 10px; margin:20px 0; border-bottom:1px solid #ddd;}
#pay .bank span{ display:block; width:60px; text-align:right; float:left; padding-top:17px;}
#pay .bank ul{display:block; width:700px; text-align:right; float:left;}
#pay .bank ul li{ width:180px; float:left; margin:3px;}
#pay .bank ul li img{ border:1px solid #ddd;}
#pay h2.yuding02{ background:url(../images/icon_title_01.gif) no-repeat 0 0; padding-left:75px; height:30px; font-family:微软雅黑,宋体; color:#e8004c; font-size:22px; margin-bottom:13px;}
#pay .d_qrxd button{background:url(../images/ucenter_button03.gif) no-repeat 0 0; border:none; width:132px; height:42px; margin-left:115px;}
#pay .transfer{ margin-top:30px;}
#pay .transfer p{ line-height:30px; padding-left:40px;}
#pay .transfer p B{ padding-left:0;}

/* --------------------------- */
#help{ width:950px; margin:10px auto;}
#help .help_left{ width:230px; float:left;}
#help .help_right{ width:710px; float:right;}
#help .help_left .help_center{ border:1px solid #dcdcdc; width:220px; padding:5px; font-size:14px; color:#333;}
#help .help_left .help_center h2{ height:36px; border-bottom:1px solid #dcdcdc; background:url(../images/icon_title_03.gif) no-repeat 0 7px; text-indent:-9999px;}
#help .help_left .help_center ul li h4{ background:url(../images/icon_jiantou.gif) no-repeat 8px 14px; padding:5px 25px;}
#help .help_left .help_center .s_toolbar a{ font-size:12px; color:#666; width:180px; height:25px; padding-left:40px; display:block; padding-top:5px;}
#help .help_left .help_center .s_toolbar a:hover{color:#666; background-color:#d8f2ff; color:#f60;}
#help .help_left .about_us{ border:1px solid #dcdcdc; width:230px; margin-top:10px;}
#help .help_left .about_us h3{ background:url(../images/bg_navbar.gif) repeat-x 0 0; height:21px; padding-top:5px; border-bottom:1px solid #dcdcdc; padding-left:10px; color:#666; font-weight:bold;}
#help .help_left .about_us p{ margin:10px;}
#help .help_right .help_seach{border:1px solid #dcdcdc; padding:18px 50px; width:610px; margin-bottom:10px;}
#help .help_right .help_seach input{ height:29px; border:1px solid #d9d9d9; width:470px; display:block; float:left; margin-right:10px;}
#help .help_right .help_seach a{ background:url(../images/ucenter_button05.gif) no-repeat 0 0; width:91px; height:32px; display:block; float:left; text-indent:-9999px;}
#help .help_right .help_list01{padding:10px 20px; border-bottom:1px solid #dcdcdc; width:670px; margin-bottom:15px;}
#help .help_right .help_list01 h3 , #help .help_right .help_list02 h3 , #help .help_right .help_detail h3{ font-size:14px; color:#333; font-weight:bold; margin-bottom:15px;}
#help .help_right .help_list01 ul li { float:left; width:320px; height:29px; margin-left:10px;}
#help .help_right .help_list01 ul li a , #help .help_right .help_list02 ul li a{ background:url(../images/icon_jiantou.gif) no-repeat 0 -45px; padding-left:15px; color:#666;}
#help .help_right .help_list01 ul li a:hover , #help .help_right .help_list02 ul li a:hover{ color:#f60;}
#help .help_right .help_list02{ width:310px; float:left; margin-left:20px; margin-bottom:30px;}
#help .help_right .help_list02 ul li {height:29px; margin-left:10px;}
#help .help_right .help_detail{padding:20px; width:670px;}
#help .help_right .help_detail p{ line-height:26px; margin-bottom:30px;}

/* --------------------------- */