 <div id="footer" class="clearFix">
    <div class="foot_left">
        <ul>
            <li class="foot_telnav">订购热线（免长途费)</li>
            <li class="foot_tel">400 800 3456</li>
        </ul>
    </div>
    <div class="foot_right">
        <ul class="foot_rightcontent">
            <li>
                <ul>
                    <h2>新手上路</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
            <li>
                <ul class="foot_rightcontent">
                    <h2>购物流程</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
            <li>
                <ul class="foot_rightcontent">
                    <h2>如何付款</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
            <li>
                <ul class="foot_rightcontent">
                    <h2>配送说明</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
            <li>
                <ul class="foot_rightcontent">
                    <h2>售后服务</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
            <li>
                <ul class="foot_rightcontent">
                    <h2>会员服务</h2>
                    <li>正品保证</li>
                    <li>会员注册</li>
                    <li>常见问题</li>
                    <li>防骗提示</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="copy">
    <p>
        <a href="#" target="_blank">了解度假OK</a>
        |  <a href="#" target="_blank">联系度假OK</a>
        |  <a href="#" target="_blank">媒体报道</a>
        |  <a href="#" target="_blank">版权声明</a>
        |  <a href="#" target="_blank">友情链接</a>
        |  <a href="#" target="_blank">加入度假OK</a>
        |  <a href="#" target="_blank">网站联盟</a>
        |  <a href="#" target="_blank">商务合作</a>
        |  <a href="#" target="_blank">分类大全</a>
        |  <a href="#" target="_blank">问题大全</a>
    </p>
    <p>Copyright © 2011 - 2012 度假OK Inc.度假OK 版权所有 浙ICP证080194号</p>
</div>