<div class="userBar">
	<div class="w950">
		#if(${env.member})
		<span>欢迎您：$!env.member.nickname</span>　
		<a href="${env.root}/member/orderlist.htm" id="myOrder">我的订单</a>　
		<a href="${env.root}/member/modify.htm">修改资料</a>　
		<a href="${env.root}/member/logout.htm">退出</a> | 
		<a href="#">帮助</a>
		#else
		<a href="${env.root}/member/login.htm">登录</a>  
		<a href="${env.root}/member/register.htm">注册</a>
		#end
	</div>
</div>
<div class="w950 head">
	<div class="top">
		<h1><a href="${env.root}/home/index.htm">度假OK</a></h1>
		<div class="schForm">
			<form action="${env.root}/search/global.htm" method="get" name="searchForm" id="searchForm">
    			<input type="text" id="schIpt" name="keyword" placeholder="我想去的地方" value="$!keyword"  class="gray"/><a href="javascript:void(0);" onclick="return _search();">ok</a>
            </form>
		</div>
		<div class="serviceTel">400-999-2788</div>
	</div>
	<div class="menu">
		<!-- 热门目的地开始 -->
		###parse("/common/hotPlace.vm")
		$!hotPlaceContent
		<!-- 热门目的地结束 -->
		<ul class="mainMenu">
			#if($isEdit)
			<li><a href="${env.root}/admin/editIndex.htm" #if($_productType == "index")class="current" #end>首页</a></li>
			<li><a href="${env.root}/admin/editSelfDrive.htm" #if($_productType == "selfDrive")class="current" #end>周边自驾</a></li>			
			<li><a href="${env.root}/admin/editHotel.htm" #if($_productType == "hotel")class="current" #end>度假酒店</a></li>
			<li><a href="${env.root}/admin/editTicket.htm" #if($_productType == "ticket")class="current" #end>打折门票</a></li>
			#else
			<li><a href="${env.root}/home/index.htm" #if($_productType == "index")class="current" #end>首页</a></li>
			<li><a href="${env.root}/home/selfDrive.htm" #if($_productType == "selfDrive")class="current" #end>周边自驾</a></li>			
			<li><a href="${env.root}/home/hotel.htm" #if($_productType == "hotel")class="current" #end>度假酒店</a></li>
			<li><a href="${env.root}/home/ticket.htm" #if($_productType == "ticket")class="current" #end>打折门票</a></li>
			#end
		</ul>
		<p class="subMenu"><a href="#">旅游攻略</a>|<a href="#">景点大全</a>|<a href="#">订购指南</a></p>
	</div>
</div>
