




<!-- bottom开始 -->
<div class="w950 mgt20 bottom">
	<div class="btm1">
		<ul>
			<li><dl><dt>订购流程</dt><dd>
				<a href="${env.cmsroot}/cms/help/help_101.html" target="_blank">·如何网上订购产品？</a>
                <a href="${env.cmsroot}/cms/help/help_102.html" target="_blank">·订购产品的方法？</a>
                <a href="${env.cmsroot}/cms/help/help_103.html" target="_blank">·可以预订多长时间的门票或产品？</a>
                <a href="${env.cmsroot}/cms/help/help_104.html" target="_blank">·预订的订单多长时间内付款有效？</a>
                <a href="${env.cmsroot}/cms/help/help_105.html" target="_blank">·是否付款成功就代表了预订成功了？</a></dd></dl></li>
			<li><dl><dt>注册与登陆</dt><dd>
				<a href="${env.cmsroot}/cms/help/help_201.html" target="_blank">·如何才能成为度假OK网的会员？</a>
                <a href="${env.cmsroot}/cms/help/help_202.html" target="_blank">·在哪里登陆会员帐号？</a>
                <a href="${env.cmsroot}/cms/help/help_203.html" target="_blank">·如何修改我的会员密码？</a>
                <a href="${env.cmsroot}/cms/help/help_204.html" target="_blank">·忘记用户名或密码怎么办？</a>
                <a href="${env.cmsroot}/cms/help/help_205.html" target="_blank">·用户名可以用中文或手机号码注册吗？</a></dd></dl></li>
			<li><dl><dt>付款方式</dt><dd>
				<a href="${env.cmsroot}/cms/help/help_301.html" target="_blank">·可以选择的付款方式</a>
                <a href="${env.cmsroot}/cms/help/help_302.html" target="_blank">·使用网上支付安全吗？</a>
                <a href="${env.cmsroot}/cms/help/help_303.html" target="_blank">·网上支付不能成功的可能原因有哪些？</a>
                <a href="${env.cmsroot}/cms/help/help_304.html" target="_blank">·如果网上支付未能成功该怎么办？</a>
                <a href="${env.cmsroot}/cms/help/help_305.html" target="_blank">·因为预订确认不成功或其它原因需要退款怎么处理？</a></dd></dl></li>
			<li><dl><dt>取票与沟通</dt><dd>
				<a href="${env.cmsroot}/cms/help/help_401.html" target="_blank">·如何验票入园？</a>
                <a href="${env.cmsroot}/cms/help/help_402.html" target="_blank">·没有短信可以入园吗？</a>
                <a href="${env.cmsroot}/cms/help/help_403.html" target="_blank">·怎样咨询门票或预订问题？</a>
                <a href="${env.cmsroot}/cms/help/help_404.html" target="_blank">·我对服务不满意怎么投诉？</a>
                <a href="${env.cmsroot}/cms/help/help_405.html" target="_blank">·我是酒店或景点负责人，如何联系度假OK网合作？</a></dd></dl></li>
		</ul>
	</div>
	<p class="btm2">
		<a href="${env.cmsroot}/cms/help/help_b01.html">关于度假OK</a>|<a href="${env.cmsroot}/cms/help/help_b02.html">关于团队</a>|<a href="javascript:;">媒体报道</a>|<a href="javascript:;">版权声明</a>|<a href="javascript:;">友情链接</a>|<a href="javascript:;">加入度假OK</a>-->
	</p>
	
	
	<p class="btm3">Copyright &copy; 2011 - 2012 DujiaOK.com Inc. 度假OK 版权所有 浙ICP备12020270</p>
</div>
<!-- bottom结束 -->

<!-- 底部link开始 -->
<div class="w950">
		<ul class="flink">
        	<li><a target="_blank" href="https://www.alipay.com/index.html"><img src="${env.staticroot}/images/flink_alipay.png" /></a></li>
        	<li><a target="_blank" href="http://net.china.com.cn/index.htm"><img src="${env.staticroot}/images/flink_blxx.png" /></a></li>
        	<li><a target="_blank" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action"><img src="${env.staticroot}/images/flink_jywz.png" /></a></li>
        	<li><a target="_blank" href="http://www.12312.gov.cn/"><img src="${env.staticroot}/images/flink_ljxx.png" /></a></li>
        </ul>

</div>
<!-- 底部link结束 -->










<!--客服-->
	
<div class="w950">
<div id="float" class="float" style="left: 1189.5px;">
	<div class="ttl">
    	<h2>欢迎联系我们</h2><b></b>
    </div>
    <ul>
    	<li class="kf"><a href="http://wpa.qq.com/msgrd?V=1＆Uin=2473834517">在线客服</a></li>
        <li class="tel"><strong class="telTxt">订购电话</strong><strong class="telNum">400-999-2788</strong><span>8:00-24:00</span></li>
        <li class="btm">
        	<p class="addFav"><a href="#" id="addFav">加入收藏夹</a></p>
            <p class="backTop"><a href="#" id="backTop">返回顶部</a></p>
        </li>
    </ul>
</div>
</div>