#####前台页面默认的Layout
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>#if ($title)$!title #else 度假OK #end</title>
        #CSS(["base.css","General.css", "dialog.css", "msgbox.css", "tip.css", "intro/productintro.css"])
</head>
<body>
    <div class="navbar">
        <div class="navbar_com FS12">
		#if(${env.member})
			欢迎您：$!env.member.nickname &nbsp;&nbsp;&nbsp;&nbsp;<a href="${env.root}/member/orderlist.htm">我的订单</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="${env.root}/member/modify.htm">修改个人资料</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="${env.root}/member/logout.htm">退出</a>&nbsp;&nbsp;
        #else
        	<a href="${env.root}/member/login.htm">登录</a>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="${env.root}/member/register.htm">注册</a>
        #end
		</div>
    </div>
    <div class="page_bg">
        <div id="wrap" class="FS12 F2">
            <div class="header_bg">
                <div id="header" class="section">
                    <div class="header_1">
                        <div class="logo">
                            <a href="${env.root}/home/index.htm"></a>
                        </div>
                    </div>
                </div>
                <div class="header_tab section">
                    <ul class="FS14 B">
                        <li #if($navigation=="shouye")class="cur"#end>
                            <a href="${env.root}/home/index.htm">首页</a>
                        </li>
                        <li #if($navigation=="ticket")class="cur"#end>
                            <a href="${env.root}/trek/user/user/dazhe.htm">打折门票</a>
                        </li>
                        <li #if($navigation=="selfdrive")class="cur"#end>
                            <a href="${env.root}/trek/user/user/zijia.htm">周边自驾</a>
                        </li>
                        <li #if($navigation=="hotel")class="cur"#end>
                            <a href="${env.root}/trek/user/user/dujia.htm">度假酒店</a>
                        </li>
                    </ul>
                    <span class="theme_link">
                        <a href="#">旅游攻略</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">景点大全</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">订购指南</a>
                    </span>
                </div>
            </div>
            $screen_content
        </div>
    </div>
    <div id="footer" class="clearFix">
        <div class="foot_left">
            <ul>
                <li class="foot_telnav">订购热线（免长途费)</li>
                <li class="foot_tel">400 800 3456</li>
            </ul>
        </div>
        <div class="foot_right">
            <ul class="foot_rightcontent">
                <li>
                    <ul>
                        <h2>新手上路</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
                <li>
                    <ul class="foot_rightcontent">
                        <h2>购物流程</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
                <li>
                    <ul class="foot_rightcontent">
                        <h2>如何付款</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
                <li>
                    <ul class="foot_rightcontent">
                        <h2>配送说明</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
                <li>
                    <ul class="foot_rightcontent">
                        <h2>售后服务</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
                <li>
                    <ul class="foot_rightcontent">
                        <h2>会员服务</h2>
                        <li>正品保证</li>
                        <li>会员注册</li>
                        <li>常见问题</li>
                        <li>防骗提示</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy">
        <p>
            <a href="#" target="_blank">了解度假OK</a>
            |  <a href="#" target="_blank">联系度假OK</a>
            |  <a href="#" target="_blank">媒体报道</a>
            |  <a href="#" target="_blank">版权声明</a>
            |  <a href="#" target="_blank">友情链接</a>
            |  <a href="#" target="_blank">加入度假OK</a>
            |  <a href="#" target="_blank">网站联盟</a>
            |  <a href="#" target="_blank">商务合作</a>
            |  <a href="#" target="_blank">分类大全</a>
            |  <a href="#" target="_blank">问题大全</a>
        </p>
        <p>Copyright © 2011 - 2012 度假OK Inc.度假OK 版权所有 浙ICP证080194号</p>
    </div>
    #XUI_JS(["core/xui-core.js","util/util-min.js","slide/slide.js"])
	#JS(["dujiaok.js"])
</body>
</html>
