#####后台页面默认的Layout
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>#if ($title)$!title #else 度假OK #end</title>
        #CSS(["base.css","General.css","main.css"])
		
		<style type="text/css">
			.menu_item{
				margin: 3px 0 ;
			}
        </style>
		
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_com FS12">
                #if(${env.admin})
                    欢迎您：$!env.admin.username
                #end
            </div>
        </div>
        <div class="page_bg">
            <div id="wrap" class="FS12 F2">
                <div class="header_bg">
                    <div id="header" class="section">
                        <div class="header_1">
                            <div class="logo">
                                <a href="${env.root}/home/index.htm"></a>
                            </div>
                        </div>
                    </div>
                </div>
				<div style="height:600px;margin:10px 10px ;">
    				<table border="1" cellpadding="1" cellspacing="1">
    					<tr>
    						<td style="width:100px; align="">
                                    <div class="menu_item"><a href="${env.root}/admin/createHotel.htm">发布酒店</a></div>
    								<div class="menu_item"><a href="${env.root}/admin/createHotelRoom.htm">发布酒店房间</a></div>
    								<div class="menu_item"><a href="${env.root}/admin/createTicket.htm">发布打折门票</a></div>
    								<div class="menu_item"><a href="${env.root}/admin/createSelfDrive.htm">发布周边自驾</a></div>
    								<div class="menu_item"><a href="${env.root}/admin/ticketlist.htm">门票</a></div>
							</td>
    						<td>$screen_content</td>
    					</tr>
                    
                    </table>
				</div>
            </div>
        </div>
        <div id="footer" class="clearFix">
        </div>
        <div class="copy">
            <p>
                <a href="#" target="_blank">了解度假OK</a>
                |  <a href="#" target="_blank">联系度假OK</a>
                |  <a href="#" target="_blank">媒体报道</a>
                |  <a href="#" target="_blank">版权声明</a>
                |  <a href="#" target="_blank">友情链接</a>
                |  <a href="#" target="_blank">加入度假OK</a>
                |  <a href="#" target="_blank">网站联盟</a>
                |  <a href="#" target="_blank">商务合作</a>
                |  <a href="#" target="_blank">分类大全</a>
                |  <a href="#" target="_blank">问题大全</a>
            </p>
            <p>Copyright © 2011 - 2012 度假OK Inc.度假OK 版权所有 浙ICP证080194号</p>
        </div>
    </body>
</html>
