.linkInput{
	width: 600px;
}

.titleInput{
	width: 300px;
}

.priceInput{
	width: 80px;
}

.frontviewTr_0{
	background-color: #DCF4F3;
}

.frontviewTr_1{
	background-color: #FFF;
}
