#####前台页面默认的Layout
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>#if ($title)$!title #else 度假OK #end</title>
        #CSS(["member.css"])
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <img src="${env.staticroot}/images/reg_02.png" width="231" height="122"></img>
			</div>
            <div id="content">
                ## replace with content
                $screen_content 
            </div>
        </div>
        #XUI_JS(["core/xui-core.js","util/util.js","slide/slide.js"])
    </body>
</html>
