#CSS(["admin/front.css"])
#set($layout="/admin/default.vm")
#set($title="度假OK - 后台 - 前台资料编辑")
#set($menu_name = "编辑前台")
<form name="editModuleForm" id="editModuleForm" method="post" action="${env.root}/admin/saveFrontModule.htm">
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="10"></td>
        </tr>
    </table>
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="fabu_mb">
        <tr>
            <td>
				模块编辑：$!frontconfig.moduleName
				<input type="hidden" name="moduleKey" value="$!frontconfig.moduleKey"/>
			</td>
        </tr>
		#if($!stringUtils.isNotBlank($message))
		<tr>
            <td>
				#if($message == "saveSuccess")
					<font color="red">保存成功。</font>
				#elseif($message == "saveFail")
					<font color="red">保存失败。</font>
				#end
			</td>
        </tr>
		#end
        <tr>
            <td>
				<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="fabu_mb">
					#set($count = -1)
					#foreach($fv in $!frontViews)
						#set($count = $velocityCount)
                        #set($count = $count - 1)
						#set($parity = $count % 2)
						<input type="hidden" name="frontViews[$count].frontViewId" value="$!fv.frontViewId"/>
                        <tr class="frontviewTr_$parity">
							<td>
								No.$!velocityCount&nbsp;&nbsp;&nbsp;
								#if($!frontconfig.isHasCategory())
									类目：<input type="text" name="frontViews[$count].category" value="$!fv.category"/>
								#end
								#if($!frontconfig.isHasTitle())
									标题：<input type="text" name="frontViews[$count].title" value="$!fv.title" class="titleInput"/>
								#end
								#if($!frontconfig.isHasOriginalPrice())
									原价：¥<input type="text" name="frontViews[$count].originalPrice" value="$!fv.originalPrice" class="priceInput"/>
								#end
								#if($!frontconfig.isHasPresentPrice())
									现价：¥<input type="text" name="frontViews[$count].presentPrice" value="$!fv.presentPrice" class="priceInput"/>
								#end
							</td>
                        </tr>
						#if($!frontconfig.isHasLink())
    						<tr class="frontviewTr_$parity">
    							<td>
    								链接地址：<input type="text" name="frontViews[$count].link" value="$!fv.link" class="linkInput"/>
    							</td>
                            </tr>
						#end
						#if($!frontconfig.isHasPhoto())
    						<tr class="frontviewTr_$parity">
    							<td>
    								图片地址：<input type="text" name="frontViews[$count].photoURL" value="$!fv.photoURL" class="linkInput"/>
    							</td>
                            </tr>
						#end
						#if($!frontconfig.isHasDetail())
    						<tr class="frontviewTr_$parity">
    							<td>
    								详情：<textarea rows="3" cols="100" name="frontViews[$count].detail">$!fv.detail</textarea>
    							</td>
                            </tr>
						#end
					#end
					#set($dispalyNum=$!frontconfig.dispalyNum - 1)
					#if($count < $dispalyNum)
							#set($count=$count+1)
							
							#foreach($index in [$!count..$dispalyNum])
								#set($parity = $index % 2)
        						<input type="hidden" name="frontViews[$index].frontViewId" value=""/>
                                <tr class="frontviewTr_$parity">
        							<td>
										#set($num=$index + 1)
										No.$!num&nbsp;&nbsp;&nbsp;
        								#if($!frontconfig.isHasCategory())
        									类目：<input type="text" name="frontViews[$index].category" value=""/>
        								#end
        								#if($!frontconfig.isHasTitle())
        									标题：<input type="text" name="frontViews[$index].title" value="" class="titleInput"/>
        								#end
        								#if($!frontconfig.isHasOriginalPrice())
        									原价：¥<input type="text" name="frontViews[$index].originalPrice" value="" class="priceInput"/>
        								#end
        								#if($!frontconfig.isHasPresentPrice())
        									现价：¥<input type="text" name="frontViews[$index].presentPrice" value="" class="priceInput"/>
        								#end
        							</td>
                                </tr>
        						#if($!frontconfig.isHasLink())
            						<tr class="frontviewTr_$parity">
            							<td>
            								链接地址：<input type="text" name="frontViews[$index].link" value="" class="linkInput"/>
            							</td>
                                    </tr>
        						#end
        						#if($!frontconfig.isHasPhoto())
            						<tr class="frontviewTr_$parity">
            							<td>
            								图片地址：<input type="text" name="frontViews[$index].photoURL" value="" class="linkInput"/>
            							</td>
                                    </tr>
        						#end
        						#if($!frontconfig.isHasDetail())
            						<tr class="frontviewTr_$parity">
            							<td>
            								详情：<textarea rows="3" cols="100" name="frontViews[$index].detail"></textarea>
            							</td>
                                    </tr>
        						#end
							#end
					#end
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="button" id="button" value="保存  " />
            </td>
        </tr>
    </table>
</form>


#XUI_JS(["core/xui-core.js","util/util-min.js"])
#JS(["validator.js","dujiaok.js"])