#set($layout="/admin/default.vm")
#set($title="度假OK - 后台 - 发布酒店")
#set($menu_name = "发布酒店")
#KISSY_EDITOR_CSS()
###################################################
<form name="createHotelForm" id="createHotelForm" action="${env.root}/admin/docreateHotel.htm" onsubmit="return Validator.validate(this,'admin');">
<input name="id"  type="hidden" value="$!id" />
<input name="productId"  type="hidden" value="$!productId" />
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="10"></td>
        </tr>
    </table>
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="fabu_mb">
        <tr>
            <td width="103" align="right">酒店编号：</td>
            <td width="857">$!productId</td>
        </tr>
        <tr>
            <td align="right">名称：</td>
            <td>
				<input type="text" id='name' name='name' value="$!hotel.name" class="input_m" />
                &nbsp;<i class="F9"></i>
            </td>
        </tr>
        <tr>
            <td align="right">所在地：</td>
            <td>
                <select id='destProvince'  name='destProvince' onchange="selectProvince();"></select>
                <select id='destCity' name='destCity' onchange="selectCity();"></select>
                <select id='destArea' name='destArea' ></select>
                <input type="text" id='destAddr'  name='destAddr' value="$!hotel.destAddr"/>
                &nbsp;&nbsp;<a href="#">查看地图坐标</a>
            </td>
        </tr>
        <tr>
            <td align="right">星级：</td>
            <td>
                <select name="starRate" id="starRate">
                    <option value="1">连锁商务酒店</option>
                    <option value="2">经济商务</option>
                    <option value="3">三星级</option>
                    <option value="4">准三星级</option>
                    <option value="5">四星级</option>
                    <option value="6">准四星级</option>
                    <option value="7">五星级</option>
                    <option value="8">准五星级</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">房间数量：</td>
            <td>
                <input type="text" name="roomAmount" value="$!hotel.roomAmount"/>
            </td>
        </tr>
        <tr>
            <td align="right">上传图片：</td>
            <td>
				<div id="images">
                #foreach($image in $imagesList)
                    #set($count = $velocityCount)
                    #set($count = $count - 1)
                    <div id="image$count">
                        <input type="text"  name='imagesList' value="$!image"/>
                        #if($count > 0)
                            <input type="button" value="删除" onclick="removeElement(this.parentNode) ;" />
                        #end
                    </div>
				#end
                </div>
				<input type="button" value="增加图片" onclick="addImage() ;"/>
            </td>
        </tr>
        <tr>
            <td align="right">产品简介：</td>
            <td>
				<textarea id='introduction' name='introduction' cols="45" rows="8">#ESCAPE_HTML($!hotel.introduction)</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">备注：</td>
            <td>
                <textarea id='memo' name='memo' cols="45" rows="8" >#ESCAPE_HTML($!hotel.memo)</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>
                <input type="submit" name="button" id="button" value="  发 布  " />
            </td>
        </tr>
    </table>
</form>


#XUI_JS(["core/xui-core.js","util/util-min.js"])
#JS(["jquery-1.6.2.min.js","common.js","validator.js","admin.js"]) 
#KISSY_EDITOR_JS()
<script type="text/javascript">
    var starRate = '$!hotel.starRate' ;
    var lastImagesIndex = $collectionUtils.size($imagesList) ; // 上传照片个数
    var removeElement = function(ele){
        ele.parentNode.removeChild(ele) ;
    }
    
    var addImage = function(){
        var i = lastImagesIndex  ;
        if(i > 3){
        	return ;
        }
        var divElement = document.createElement('div') ;
        divElement.id = 'image' + i ;
        $element('images').appendChild(divElement) ;
        var innerHTML = '<input type="text"  name="imagesList" />' ;
        if(i > 0){
        	innerHTML += '<input type="button" value="删除" onclick="removeElement(this.parentNode) ;" />' ;
        }
        $element('image'+i).innerHTML = innerHTML ;
        lastImagesIndex ++ ;
    }
        // /初始化
    var selectProvince = function (){
    	var select = $element('destProvince') ;
    	var name = select.options[select.selectedIndex].value ;
    	initAddressSelect(url,'destCity','city','',name) ;
    	$element('destArea').options.length = 0 ;
    }
    var selectCity = function(){
    	var select = $element('destCity') ;
    	var name = select.options[select.selectedIndex].value ;
    	initAddressSelect(url,'destArea','area','',name) ;
    }
    
    // 省市地区
    var province = '$!hotel.destProvince' ;
    var city = '$!hotel.destCity' ;
    var area = '$!hotel.destArea' ;
    var url = '${env.root}/ajax/address.htm' ;	
    if(lastImagesIndex <= 0){
        addImage() ;
    }
    setupSelect('starRate',starRate) ;
    initAddressSelect(url,'destProvince','province',province) ;
    initAddressSelect(url,'destCity','city',city,province) ;
    initAddressSelect(url,'destArea','area',area,city) ;
	
	//load edtor
	KISSY.ready(function(S) {
        S.use('editor', function(S) {
			window.editor = loadediter("#introduction") ;
			window.editor = loadediter("#memo") ;
        });
    });
</script>
