<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dujia OK 后台系统</title>
<link href="css/General.css" type="text/css" rel="stylesheet" />
<link href="css/houtai.css" type="text/css" rel="stylesheet" />
</head>

<body>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="233"><img src="images/logo.jpg" width="226" height="73" /></td>
    <td width="384" class="FS24 B">后台系统</td>
    <td width="343"><form id="form1" name="form1" method="post" action="">
      <input type="submit" name="1" id="1" value="&nbsp;&nbsp;前台展示页后台&nbsp;&nbsp;" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="2" id="2" value="&nbsp;&nbsp;订单后台&nbsp;&nbsp;" />
    </form></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style=" background:#fff6ce; border:1px solid #ffba15; padding:10px;"><form id="form2" name="form1" method="post" action="">
      <input type="submit" name="12" id="12" value="  发布周边度假 " />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" name="22" id="22" value="  发布打折门票  " />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" name="22" id="22" value="  发布房间  " />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" name="22" id="22" value="  发布酒店  " />
    </form></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    	<ul class="tab_sy clearFix">
        	<li class="cur"><a href="#">自驾</a></li>
            <li><a href="#">酒店</a></li>
            <li><a href="#">门票</a></li>
        </ul>
    </td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="search_sx">
    <form id="form3" name="form1" method="post" action="">
     编号：
       <input type="text" name="textfield" id="textfield" />
       &nbsp;&nbsp;名称：
<input type="text" name="textfield2" id="textfield2" />
       &nbsp;&nbsp;目的地：
       <select name="select" id="select">
         <option>浙江</option>
         <option>安徽</option>
         <option>黑龙江</option>
       </select>
       <select name="select2" id="select2">
         <option>杭州</option>
         <option>温州</option>
         <option>宁波</option>
       </select>
       &nbsp;&nbsp;状态：
       <select name="select3" id="select3">
         <option>全部</option>
         <option>已过期</option>
         <option>一周内过期</option>
       </select>
       &nbsp;&nbsp;
<input name="查询" type="button" value="查询" /> 
    </form></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="list_sy">
  <tr>
    <td width="129" align="center"><strong>编号</strong></td>
    <td width="447" align="center"><strong>名称</strong></td>
    <td width="133" align="center"><strong>目的地</strong></td>
    <td width="100" align="center"><strong>到期时间</strong></td>
    <td width="151" align="center"><strong>操作</strong></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a></td>
    <td>浙江 杭州</td>
    <td class="F9">2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a><img src="images/bz_icon.png" width="14" height="14" title="内容，此处显示内容" /></td>
    <td>浙江 杭州</td>
    <td>2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a></td>
    <td>浙江 杭州</td>
    <td>2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a></td>
    <td>浙江 杭州</td>
    <td>2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a></td>
    <td>浙江 杭州</td>
    <td>2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td>zj100212312311</td>
    <td><a href="#">“柔软时光”昆明+丽江双飞双卧6日游（旅游度假）</a></td>
    <td>浙江 杭州</td>
    <td>2011-12-10</td>
    <td><a href="#">复制链接</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></td>
  </tr>
  <tr>
    <td height="17">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right"><img src="images/fanye.gif" width="490" height="26" /></td>
  </tr>
</table>
</body>
</html>
