#set($layout="/admin/default.vm")
#set($title="度假OK - 后台 - 登陆")
###############################################################
<style>
	.login_margin{
		margin:5px  20px;
	}
</style>

<h2 class="login_margin">管理员登录</h2>

<form id="adminLoginForm" name="adminLoginForm" method="post" action="${env.root}/admin/dologin.htm" onSubmit="return Validator.validate(this,'admin');">
	<input type="hidden" id='Done' name='Done' value="$!Done"/>
	<div class="login_margin">
		<span>用户名</span><input type="text" id='username' name='username' value="$!username" class="input_m"/>
	</div>
	
	<div class="login_margin">
		<span>密　码</span><input type="password" id='password' name='password' class="input_m"/>
	</div>
	
		
	<div class="login_margin">
		<button>　登录　</button><span class="errorMsg">$!actionError</span>
	</div>
</form>

	
#JS(["validator.js"])