#set($layout="/admin/default.vm")
#set($title="订单详情 - $!order.name")
#set($menu_name = "订单详情")

###################################################
<form name="createHotelForm" id="createHotelForm" action="${env.root}/admin/docreateHotel.htm" onsubmit="return Validator.validate(this,'admin');">
<input name="id"  type="hidden" value="$!order.id" />
<input name="orderId"  type="hidden" value="$!order.orderId" />
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="10"></td>
        </tr>
    </table>
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="fabu_mb">
        <tr>
            <td width="103" align="right">订单编号：</td>
            <td width="857">$!order.orderId</td>
        </tr>
        <tr>
            <td align="right">名称：</td>
            <td>
				<b>$!order.name</b> [
				#if("FJ" == $!order.productType)
					$!order.count 晚酒店
				#elseif("ZJ" == $!order.productType)
					成人 （$!order.count） 儿童（$!order.secondaryCount） 
				#elseif("MP" == $!order.productType)
					$!order.count 张门票
				#end
				]
            </td>
        </tr>
        <tr>
            <td align="right">会员：</td>
            <td>
                    <div>$!order.memberId , 手机：$!member.mobileNo , email：$!member.email</div>
                    <div>退款：$!member.refundAccountType ,  $!member.refundAccountTypeBank , $!member.refundAccount , $!member.refundAccountName</div>
					<div>邮寄：$!member.mailingProvince $!member.mailingCity $!member.mailingArea $!member.mailingAddr , $!member.mailingName 收  , 邮编:$!member.mailingName </div>
			</td>
        </tr>
        <tr>
            <td align="right">产品编号：</td>
            <td>$!order.productId</td>
        </tr>
        <tr>
            <td align="right">总价：</td>
            <td>$!order.price</td>
        </tr>
        <tr>
            <td align="right">订单状态：</td>
            <td>$enumUtils.orderStatus($!order.status).desc  #if($order.statusDetail)（$!order.statusDetail）#end
            </td>
        </tr>
        <tr>
            <td align="right">付款方式：</td>
            <td>
				$enumUtils.payType($!order.payType).desc
            </td>
        </tr>
		<tr>
            <td align="right">付款状态：</td>
            <td>
				$enumUtils.payStatus($!order.payStatus).desc
            </td>
        </tr>
		<tr>
            <td align="right">支付宝ID：</td>
            <td>
				$!order.alipayId
            </td>
        </tr>
		<tr>
            <td align="right">付款时间：</td>
            <td>
				$!dateUtils.format($!order.gmtPaid , "yyyy-MM-dd HH:mm:ss")
            </td>
        </tr>
		<tr>
            <td align="right">保险份数：</td>
            <td>
				$!order.insureNum 
            </td>
        </tr>
		<tr>
            <td align="right">下单时间：</td>
            <td>
				$!dateUtils.format($!order.gmtCreate , "yyyy-MM-dd HH:mm:ss")
            </td>
        </tr>
		#if($order.contacts)
        <tr>
            <td align="right">游玩人信息</td>
			<td>
				#foreach($contact in $order.contacts)
                    <div class="line_sep" style="padding: 5px 0;">$!contact.name #if($!contact.isMain) （主） #end , $!contact.mobile , $!contact.email ,<br/> $!contact.certificateType : $!contact.certificateNumber</div>
				#end
            </td>
        </tr>
		#end
    </table>
</form>


#XUI_JS(["core/xui-core.js","util/util-min.js"])
#JS(["validator.js","dujiaok.js"])
#KISSY_EDITOR_JS()
<script type="text/javascript">
    
</script>
