#set($layout="/front/default.vm")
#set($title="度假OK - 修改密码")
<!-- 内容开始 -->
<div class="ucenter section">
    <div class="ucenter_left">
        <h3 class="B ">我的度假OK</h3>
        <ul>
            <h4>我的订单</h4>
            <li>
                <a href="${env.root}/member/orderlist.htm">订单中心</a>
            </li>
        </ul>
        <ul>
            <h4>个人信息</h4>
            <li>
                <a href="${env.root}/member/modify.htm">个人资料</a>
            </li>
            <li class="cur">
                <a href="${env.root}/member/modifyPassword.htm">修改密码</a>
            </li>
        </ul>
    </div>
    <div class="ucenter_right">
        <h2 class="B FS14">个人资料</h2>
        <form id="modifyMemberPasswordForm" name="modifyMemberPasswordForm" method="post"  action="${env.root}/member/domodifyPassword.htm" onsubmit="return Validator.validate(this,'member');">
            <table class="us01">
                <tr>
                    <th>当前密码：</th>
                    <td>
                        <input type="password" id='password' name='password' />
                    </td>
                </tr>
                <tr>
                    <th>新的密码：</th>
                    <td>
                        <input type="password" id='newPassword' name='newPassword' />
                    </td>
                </tr>
                <tr>
                    <th>再次输入：</th>
                    <td>
                        <input type="password" id='newPassword2' name='newPassword2' />
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <span class="errorMsg">$!actionError</span>
                        <button>保存</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- 内容结束 -->

#JS(["validator.js"])
