#set($layout="/front/default_new.vm")
#CSS(["userCenter.css"])
#set($title="度假OK - 修改密码")

<div class="w950 mgt10 ucenter">
	<div class="leftMenu">
		<h2>我的度假OK</h2>
		<h3>我的订单</h3>
		<h4><a href="${env.root}/member/orderlist.htm">订单中心</a></h4>
		<h3>我的订单</h3>
		<h4 class=""><a href="${env.root}/member/modify.htm">个人资料</a></h4>
		<h4 class="current"><a href="${env.root}/member/modifyPassword.htm">修改密码</a></h4>
	</div>
	<div class="rightMain">
		<form id="modifyMemberPasswordForm" name="modifyMemberPasswordForm" method="post"  action="${env.root}/member/domodifyPassword.htm" onsubmit="return Validator.validate(this,'member');">
		<h2 class="banner"><strong>修改密码</strong></h2>
		<table class="userInfo">
			<tr><td>登录名：</td><th class="pink">$!member.memberId</th></tr>
			<tr><td>当前密码：</td><th><input type="password" id='password' name='password' /></th></tr>
            <tr><td>新密码：</td><th><input type="password" id='newPassword' name='newPassword' /></th></tr>
			<tr><td>再次输入：</td><th><input type="password" id='newPassword2' name='newPassword2' /></th></tr>
			<tr><td></td><th><input type="submit" value="保存" class="button" /><span class="pink">$!actionError</span></th></tr>
		</table>
        </form>
	</div>
</div>
<!-- main结束 -->
#JS(["area.js","ucenter.js","validator.js"])

