#set($layout="/front/default_new.vm")
#CSS(["userCenter.css"])
#set($title="度假OK - 我的订单")


<!-- main开始 -->
<div class="w950 mgt10 ucenter">
	<div class="leftMenu">
		<h2>我的度假OK</h2>
		<h3>我的订单</h3>
		<h4 class="current"><a href="${env.root}/member/orderlist.htm">订单中心</a></h4>
		<h3>我的订单</h3>
		<h4 class=""><a href="${env.root}/member/modify.htm">个人资料</a></h4>
		<h4 class=""><a href="${env.root}/member/modifyPassword.htm">修改密码</a></h4>
	</div>
	<div class="rightMain">
		<h2 class="banner"><strong>个人订单</strong></h2>
		<table class="userOrder mgt10">
			<tr>
				<th width="95">编号</th>
				<th width="340">商品</th>
				<th width="90">下单时间</th>
				<th width="85">订单金额</th>
				<th width="70">订单状态</th>
				<th width="100">操作</th>
			</tr>
			
			
			#set($unpayCount=0)
			#set($succCount=0)
			#set($closeCount=0)
            #if(!$collectionUtils.isEmpty($!orderList))
                #foreach($order in $!orderList)
	                <tr>
	                	<td>$!order.orderId</td>
	                    <td class="al"><p><a></a></p><p>成人（<b>$!order.count</b>）&nbsp;&nbsp;&nbsp;&nbsp;儿童（<b>$!order.secondaryCount</b>）</p></td>
	                    <td>$dateUtils.format($!order.gmtCreate, 'yyyy-MM-dd HH:mm:ss')</td>
	                    <td class="pink ar">￥$!order.price</td>
	                    <td class="tb05">
	                    	<p class="F7">
	                    		#if($!order.status=='SUCCESS')
	                    			#set($succCount = $succCount+1)
	                    			已付款
	                    		#elseif($!order.status=='CLOSED')
	                    		    #set($closeCount = $closeCount+1)
	                    		    已关闭
	                    		#elseif($!order.status=='UNPAY')
	                    		    #set($unpayCount = $unpayCount+1)
	                    		    未付款
	                    		#elseif($!order.status=='CONFIRM')
	                    		    已确认
	                    		#elseif($!order.status=='DRAWBACKING')
	                    		    退款中
	                    		#elseif($!order.status=='DRAWBACKED')
	                    		    已退款
	                    		#end
	                    	</p>
	                    	<p><a href="${env.root}/order/orderdetail.htm?orderId=$!order.orderId" target="_blank">订单详情</a></p></td>
	                    <td class="tb06">
	                    	#if ($!order.status=='UNPAY')
	                    		<a href="${env.root}/order/paydetail.htm?orderId=$!order.orderId" target="_blank"><button>付款</button></a>
	                    	#end
	                    	<p><a href="#">关闭</a></p>
	                    </td>
	                </tr>
                #end
            #end
			
			 <tr>
				<td class="ar" colspan="6">等待付款：$unpayCount&nbsp;&nbsp;&nbsp;&nbsp;已完成：$succCount&nbsp;&nbsp;&nbsp;&nbsp;已取消：$closeCount&nbsp;&nbsp;&nbsp;&nbsp;订单总数：$collectionUtils.size($!orderList)</td>
			</tr>
		</table>
	</div>
</div>
<!-- main结束 -->

#JS(["area.js","ucenter.js","validator.js"])