#set($layout="/order/default.vm")
<form id="orderForm" method="post" action="${env.root}/order/makeorder.htm" onsubmit="javascript:return new Totalorders().checkForm1()" >
    <input type="hidden" value="$!product.marketPrice" id="Adult_mkprice">
	<!-- 内容开始 -->
    <div id="wrap">
		<div class="step-box"><div class="step-1"></div></div>
        <div class="section urhere">
            <!--span class="F3">分享到： 新浪微博 </span-->
        </div>
        <div id="dingdan" class="section">
        	<div class="d_left">
        		<h2 class="d_title"><span class="order-nav">预订：</span>$product.name</h2>
                <table class="d_dgcp"  cellpadding="0" cellspacing="0">
                	<tr>
                    	<th>编号</th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>使用日期</th>
                        <th>数量</th>
                    </tr>
                    <tr>
                    	<td>$!product.productId</td>
                        <td>$!product.name</td>
                        <td>
                        	￥<span id="price" style="color: red;">$!product.details[0].price</span>
                        	(市场价：<span style="text-decoration: line-through;">￥<span id="marketPrice">$!product.marketPrice</span></span>)
                        </td>
                        <td class="F10">$dateUtil.format($!orderDO.gmtOrderStart)</td>
                        <td class="F10">
                        	<input type="text" name="count" id="ticketNum" maxlength="3" class="wpx34" value="$!orderDO.count"/>
						</td>
                    </tr>
                </table>
               <h3 class="dingdanhead">游玩人信息</h3>
                <div id="personInfos">
                	<div id="personInfo0">
		                <table class="d_ywrxx"  cellpadding="0" cellspacing="0">
		                	<tr>
		                		<th ><strong>主联系人信息</strong></th>
		                    	<th><i>*</i> 主联系人姓名：</th>
		                        <td><input type="text" name="contacts[0].name" id="name0" class="wpx184" value="$!orderDO.contacts[0].name"/></td>
		                    </tr>
		                    <tr>
		                    	<th></th>
		                    	<th><i>*</i> 主联系人手机：</th>
		                        <td><input type="text" name="contacts[0].mobile" maxlength=11 id="mobile0" class="wpx184" value="$!orderDO.contacts.get(0).mobile" /></td>
		                    </tr>
		                    <tr>
		                    	<th></th>
		                    	<th><i>*</i> 证件类型：</th>
		                        <td>
		                          <select name="contacts[0].certificateType" id="certificateType0" value="" style="width: 184px;">
		                            <option value="ID">身份证</option>
		                            <option value="PASSPORT">护照</option>
		                            <option value="OFFICERPORT">军官证</option>
									<option value="OTHER">其它</option>
		                          </select>
		                        </td>
		                    </tr>
		                    <tr>
		                    	<th></th>
		                    	<th><i>*</i> 证件号码：</th>
		                        <td><input type="text" name="contacts[0].certificateNumber" id="certificateNumber0" class="wpx184" dataType="IdCard" msg="身份证号错误"/></td>
		                    </tr>
		                    <tr>
		                    	<th></th>
		                    	<th>E-mail：</th>
		                        <td><input type="text" name="contacts[0].email" id="email0" class="wpx1843" style="width: 184px;" value="$!orderDO.contacts.get(0).email"/></td>
		                    </tr>
		                    <tr style="display: none;">
		                    	<th></th>
		                    	<th></th>
		                        <td><input type="text" name="contacts[0].isMain" id="isMain0" value="Y"/></td>
		                    </tr>
		                    <tr>
		                    	<th></th>
		                    	<td></td>
		                    	<td align="right"><a href="javascript:addPersonInfo()" id="addPersonInfo" class="addPersonInfo">+ 添加游玩人</a></td>
		                    </tr>
		                </table>
	                </div>
	            </div>
				<div>
					<table>
						<tr valign="top">
						    <td><strong>订单备注</strong></td>
						    <td><textarea rows="10" id="memo" name="memo" style="width:500px; margin:8px 0 0 50px;"></textarea></td>
						</tr>
					</table>
	            </div>
				<div style="clear:both;"></div>
                <div class="d_qrxd" >
                	<button type="submit" id="submit">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
                <div class="d_ydxx">
                	<!--p><input name="" type="checkbox" value="" checked />同意度假OK预订协议</p-->
                	<textarea name="comment" id="comment" cols="45" rows="5" style="display:none"></textarea>
                </div>
          </div>
            
            <div class="d_right">
            	<h3>订单金额总计</h3>
                <div class="information"> 
                    <table  cellpadding="0" cellspacing="0">
                    	<tr><th>市 场 价：￥</th><td><span id="orderMarketPrice"></span>元</td></tr>
                    	<tr><th>ok价：￥</th><td><span id="orderOkPrice"></span>元</td></tr>
                        <tr><th>累计节省：￥</th><td><span id="orderSavePrice"></span>元</td></tr>
                    </table>
                    <p class="Settlement_amount">订单结算金额<br /><b>￥<span id="orderPrice"></span></b></p>
                </div> 
            </div>

        </div>
   </div>    
        <!-- 内容结束 -->
    </div>
</div>
<input type="hidden" name="orderId" id="orderId" value="$!orderDO.orderId" />
<input type="hidden" name="productId" id="productId" value="$!orderDO.productId" />
<input type="hidden" name="productDetailId" id="productDetailId" value="$!orderDO.productDetailId" />
<input type="hidden" name="gmtOrderStart" id="gmtOrderStart" value="$dateUtils.format($!orderDO.gmtOrderStart, 'yyyy-MM-dd')" />
<input type="hidden" name="productType" id="productType" value="TICKET" />
</form>
	
#XUI_JS(["core/xui-core-min.js","dialog/xui-dialog-min.js","msgbox/xui-msgbox-min.js","tip/xui-tip.js","util/util-min.js","slide/slide.js"])	
<script>
	var personInfoCount = 1;
	
	function submitForm(){
		var orderForm = document.getElementById('orderForm');
		orderForm.action = $('webUrl').value + 'trek/order/order/saveorder.htm';
		
		$('amount').value = $('Order_Total').innerHTML;
		$('adultNumber').value = $('adultNum').value;
		$('countChild').value = $('childNum').value;
		if($('Accident_Insurance').checked){
			$('isNeedRiskInput').value = "y";
		}
		
		orderForm.submit();
	}

	function addPersonInfo(){
	    var index = personInfoCount;
		var personInfo = document.createElement('div');
		personInfo.id = 'personInfo' + index;
		var Contact = [];
		Contact.push('<table class="d_ywrxx"  cellpadding="0" cellspacing="0">');
		Contact.push('<tr><th><strong>游玩人信息</strong></th><th><i>*</i> 游玩人姓名：</th>');
		  Contact.push('<td><input type="text" name="contacts['+ index + '].name" id="name' + index + '" class="wpx184"/></td></tr>');
		Contact.push('<tr><th></th><th><i>*</i> 游玩人手机：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].mobile" id="mobile' + index + '" class="wpx184" /></td></tr>');
		Contact.push('<tr><th></th><th><i>*</i> 证件类型：</th>');
		  Contact.push('<td><select name="contacts[' + index + '].certificateType" id="certificateType' + index + '" style="width: 184px;">');
		  Contact.push('<option value="ID">身份证</option><option value="PASSPORT">护照</option><option value="OFFICERPORT">军官证</option><option value="OTHER">其它</option></select></td></tr>');
		Contact.push('<tr><th></th><th><i>*</i> 证件号码：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].certificateNumber" id="certificateNumber' + index + '" class="wpx184" /></td></tr>');
		Contact.push('<tr><th></th><th>E-mail：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].email" id="email' + index + '" class="wpx1843" style="width: 184px;"/></td></tr>');
		Contact.push('<tr><th></th><th><a href="javascript:removePersonInfo(' + index + ')" id="removePersonInfo" class="removePersonInfo">- 删除游玩人</a></th>');
		  Contact.push('<td align="right"><a href="javascript:addPersonInfo()" id="addPersonInfo" class="addPersonInfo">+ 添加游玩人</a></td></tr>');
		Contact.push('</table>');
		
		personInfo.innerHTML = Contact.join('');
		$('personInfos').appendChild(personInfo);
		personInfoCount++;
	}
	
	function removePersonInfo(index) {
		var personInfoId = 'personInfo' + index;
		var personInfo = $(personInfoId);
		$('personInfos').removeChild(personInfo);
	}

var EV = xui.util.Event,
	DOM = xui.util.Dom;
var Totalorders = function(){};
Totalorders.prototype = {
	bind:function(){
		var SELF = this;
		SELF.calculatePrice();
		EV.on($('ticketNum'),'blur',function(){
			SELF.calculatePrice();
			xui.widgets.Tip.clear();
		})
		EV.on($('add_person'),'click',function(){
			SELF.Creat_person();
		})
		EV.on($('submit'),'click',function(){
				SELF.checkForm();
		})
		EV.on(DOM.getElementsByClassName('wpx184'),'keyup',function(){
			if(this.value == ""){
				xui.widgets.Tip.show(this.id,'带*号为必填项,请重新输入。');
			}else{
				xui.widgets.Tip._close(this.id+'china');
			}
		})
		EV.on(DOM.getElementsByClassName('wpx184'),'blur',function(){
			if(this.value == ""){
				xui.widgets.Tip.show(this.id,'带*号为必填项,请重新输入。');
			}else{
				xui.widgets.Tip._close(this.id+'china');
			}
		})
	},
	bind4:function(){
		EV.on(DOM.getElementsByClassName('wpx184'),'keyup',function(){
			if(this.value == ""){
				xui.widgets.Tip.show(this.id,'带*号为必填项,请重新输入。');
			}else{
				xui.widgets.Tip._close(this.id+'china');
			}
		})
	},
	/**
	*订单金额总计数据
	*/
	calculatePrice:function(){
		var ticketNum = this.defaultValue(parseInt($('ticketNum').value), 0),
			price = this.defaultValue(Number($('price').innerHTML), 0),
			marketPrice = this.defaultValue(Number($('marketPrice').innerHTML), 0);
		$('ticketNum').value = ticketNum;
		var okPrice = ticketNum * price;
		var marketPrice = ticketNum * marketPrice;
		this.initOrderPriceInfo(okPrice, marketPrice);
	},
	initOrderPriceInfo:function(okPrice, marketPrice){
		$('orderOkPrice').innerHTML = okPrice;
		$('orderMarketPrice').innerHTML = marketPrice;
		$('orderSavePrice').innerHTML = marketPrice - okPrice;
		$('orderPrice').innerHTML = okPrice;
	},
	defaultValue: function(obj, value) {
	    if ((obj == null) || (typeof(obj) == 'undefined') || isNaN(obj)) {
	      return value;
	    }
	    return obj;
	}
};					   
EV.onDOMReady(function(){
	var b = new Totalorders();
	b.bind();
});
</script>