#set($layout="/front/default_new.vm")
#CSS(["dingdan.css"])


<form id="orderForm" method="post" action="${env.root}/order/makeorder.htm"  onSubmit="javascript:return new Totalorders().checkForm();" >
    
	
	
	<!-- main开始 -->
    <div class="w950 dingdan">
    
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：周边自驾  > $!product.destProvince > $!product.destCity > $!product.destAddr</div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="greenTtl">【周边自驾】$!product.name</span></div>
    
    		<h2 class="banner mgt20"><strong>订购产品</strong></h2>
    		<table class="mgt10 product">
    			<thead><tr><td>编号</td><td>路线</td><td>使用日期</td></tr></thead>
    			<tbody>
					<tr>
        				<td>$!product.productId</td>
        				<td>$!product.name</td>
                        <td>
    						成人 <input type="text" name="count" id="adultNum" maxlength="6" class="wpx34" value="$!orderDO.count" dataType="Integer"/>
                        	<span class="F2">（单人价：￥<span id="singlePrice" style="color:red">$!detail.price</span>
                        	元　双人价：￥<span id="doublePrice" style="color:red">$!detail.doublePrice</span>元）</span><br />
							
							儿童 <input type="text" name="secondaryCount" id="childNum" maxlength="6" class="wpx34" value="$!orderDO.secondaryCount"/>
							<span class="F2">（儿童价：￥<span id="childPrice"  style="color:red">$!detail.childPrice</span>元）</span>
							
    					</td>
        			</tr>
				</tbody>
    		</table>
    		<h2 class="banner mgt20"><strong>附加产品</strong> </h2>
			
			<table class="mgt10">
        		<tr>
            		<th width="160">使用日期</th>
                	<th width="120">名称</th>
                    <th width="120">现售价</th>
                    <th>数量</th>
        		</tr>
        		<tr>
            		<td>$dateUtils.format($!orderDO.gmtOrderStart, 'yyyy-MM-dd') 至 $dateUtils.format($!orderDO.gmtOrderEnd, 'yyyy-MM-dd')</td>
                    <td>平安意外险</td>
					#set($totalCount = $orderDO.count)
                    <td>￥<span style="color:red">20</span>人/天 x $product.days 天</td>
                    <td><input type="text" name="insureNum" id="insureNum" maxlength="3" class="wpx34" value="$!orderDO.count" style="width:40px;"/></td>
        		</tr>
				<tr>
					<td colspan="4"><span style="color:red;font-size:12px;font-weight:normal;">备注：16岁以下儿童不含保险</span></td>
				</tr>
            </table>
			
						
			<h2 class="banner mgt20"><strong>游玩人信息</strong> </h2>
			
			
			<div id="personInfos">
            	<div id="personInfo0">
					<input type="hidden" name="contacts[0].isMain" value="T" />
	                <table class="mgt10 contactInfo">
						
	                	<tr>
	                    	<th><i>*</i> 主联系人姓名：</th>
	                        <td><input type="text" name="contacts[0].name" id="name0" class="wpx184" value="$!orderDO.contacts[0].name"/></td>
	                    </tr>
	                    <tr>
	                    	<th><i>*</i> 主联系人手机：</th>
	                        <td><input type="text" name="contacts[0].mobile" maxlength=11 id="mobile0" class="wpx184" value="$!orderDO.contacts[0].mobile" /></td>
	                    </tr>
	                    <tr>
	                    	<th><i>*</i> 证件类型：</th>
	                        <td>
	                          <select name="contacts[0].certificateType" id="certificateType0" value="" style="width: 184px;">
	                            <option value="ID">身份证</option>
	                            <option value="PASSPORT">护照</option>
	                            <option value="OFFICERPORT">军官证</option>
								<option value="OTHER">其它</option>
	                          </select>
	                        </td>
	                    </tr>
	                    <tr>
	                    	<th><i>*</i> 证件号码：</th>
	                        <td><input type="text" name="contacts[0].certificateNumber" value="$!orderDO.contacts[0].certificateNumber" id="certificateNumber0" class="wpx184" dataType="IdCard" msg="证件号码错误"/></td>
	                    </tr>
	                    <tr>
	                    	<th>E-mail：</th>
	                        <td><input type="text" name="contacts[0].email" id="email0" class="wpx1843" style="width: 184px;" value="$!orderDO.contacts[0].email"/></td>
	                    </tr>
	                    <tr style="display: none;">
	                    	<th></th>
	                        <td><input type="text" name="contacts[0].isMain" id="isMain0" value="Y"/></td>
	                    </tr>
	                </table>
                </div>
				
            </div>
			<a href="javascript:addPersonInfo()" id="addPersonInfo" class="addPersonInfo">+ 添加游玩人</a>
    		<h2 class="banner mgt20"><strong>订单备注</strong></h2>
    		<table class="mgt10">
                <tr>
					<th></th>
                    <td>
						<textarea rows="1" id="memo" name="memo" style="width:500px;height:30px;"></textarea>
					</td>
				</tr>
    			<tr>
    				<th></th>
    				<td>
    					<button class="order">确认下单</button>
    					<div><input type="checkbox" checked="checked" id="odrProtocol" /><label for="odrProtocol">同意度假OK预订协议</label></div>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    		<div class="moneyTotal">
    
    			<h3>订单金额总计</h3>
    			<table>
    				<tr><th>市 场 价：</th><td><span id="orderMarketPrice"></span>元</td></tr>
                	<tr><th>ok价：</th><td><span id="orderOkPrice"></span>元</td></tr>
                    <tr><th>保险费用：</th><td><span id="orderInsPrice"></span>元</td></tr>
                    <tr><th>累计节省：</th><td><span id="orderSavePrice"></span>元</td></tr>
    			</table>
    			<p>订单结算金额<br><b class="f22">￥<span id="orderPrice"></span></b></p>
    		</div>
    	</div>
    </div>
    <!-- main结束 -->
	
	<input type="hidden" value="$!product.marketPrice" id="marketPrice">
   	<input type="hidden" name="orderId" id="orderId" value="$!orderDO.orderId" />
	<input type="hidden" name="productId" id="productId" value="$!orderDO.productId" />
	<input type="hidden" name="productDetailId" id="productDetailId" value="$!orderDO.productDetailId" />
	<input type="hidden" name="gmtOrderStart" id="departDate" value="$dateUtil.format($!orderDO.gmtOrderStart)" />
	<input type="hidden" name="dayNum" id="dayNum" value="$!product.days">
	<input type="hidden" name="productType" id="productType" value="SELFDRIVE" />
</form>	
#XUI_JS(["core/xui-core-min.js","dialog/xui-dialog-min.js","msgbox/xui-msgbox-min.js","tip/xui-tip.js","util/util-min.js","basic-widgets/xui-basic-widgets-min.js"])

<script>
	
	var personInfoCount = 1;
	
	function submitForm(){
		var orderForm = document.getElementById('orderForm');
		orderForm.action = $element('webUrl').value + 'trek/order/order/saveorder.htm';
		
		$element('amount').value = $element('Order_Total').innerHTML;
		$element('adultNumber').value = $element('adultNum').value;
		$element('countChild').value = $element('childNum').value;
		if($element('Accident_Insurance').checked){
			$element('isNeedRiskInput').value = "y";
		}
		orderForm.submit();
	}
	
	function addPersonInfo(){
	    var index = personInfoCount;
		var personInfo = document.createElement('div');
		personInfo.id = 'personInfo' + index;
		var Contact = [];
		Contact.push('<div style="border-top:1px solid #ddd;"></div>') ;
		Contact.push('<table class="mgt10 contactInfo">');
		Contact.push('<tr><th><i>*</i> 游玩人姓名：</th>');
		  Contact.push('<td><input type="text" name="contacts['+ index + '].name" id="name' + index + '" class="wpx184"/></td></tr>');
		Contact.push('<tr><th><i>*</i> 游玩人手机：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].mobile" id="mobile' + index + '" class="wpx184" /></td></tr>');
		Contact.push('<tr><th><i>*</i> 证件类型：</th>');
		  Contact.push('<td><select name="contacts[' + index + '].certificateType" id="certificateType' + index + '" style="width: 184px;">');
		  Contact.push('<option value="ID">身份证</option><option value="PASSPORT">护照</option><option value="OFFICERPORT">军官证</option><option value="OTHER">其它</option></select></td></tr>');
		Contact.push('<tr><th><i>*</i> 证件号码：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].certificateNumber" id="certificateNumber' + index + '" class="wpx184" /></td></tr>');
		Contact.push('<tr><th>E-mail：</th>');
		  Contact.push('<td><input type="text" name="contacts[' + index + '].email" id="email' + index + '" class="wpx1843" style="width: 184px;"/></td></tr>');
		Contact.push('<tr><th><a href="javascript:removePersonInfo(' + index + ')" id="removePersonInfo" class="removePersonInfo">- 删除游玩人</a></th>');
		  Contact.push('<td align="right"></td></tr>');
		Contact.push('</table>');
		
		personInfo.innerHTML = Contact.join('');
		$element('personInfos').appendChild(personInfo);
		personInfoCount++;
	}
	
	function removePersonInfo(index) {
		var personInfoId = 'personInfo' + index;
		var personInfo = $element(personInfoId);
		$element('personInfos').removeChild(personInfo);
	}

var EV = xui.util.Event,
	DOM = xui.util.Dom;
var Totalorders = function(){};
					   
EV.onDOMReady(function(){
	var b = new Totalorders();
	b.bind();
});

Totalorders.prototype = {
	bind:function(){
		var SELF = this;
		SELF.calculatePrice();
		EV.on($element('adultNum'),'blur',function(){
			SELF.calculatePrice();
			xui.widgets.Tip.clear();
		})
		EV.on($element('childNum'),'blur',function(){
			SELF.calculatePrice();
		})
		EV.on($element('insureNum'),'blur',function(){								   
			SELF.calculatePrice();
		})
		EV.on($element('submit'),'click',function(){
				SELF.checkForm();
		})
		EV.on(DOM.getElementsByClassName('wpx184'),'keyup',function(){
			if(this.value == ""){
				xui.widgets.Tip.show(this.id,'带*号为必填项,请重新输入。');
			}else{
				xui.widgets.Tip._close(this.id+'china');
			}
		})
		EV.on(DOM.getElementsByClassName('wpx184'),'blur',function(){
			if(this.value == ""){
				xui.widgets.Tip.show(this.id,'带*号为必填项,请重新输入。');
			}else{
				xui.widgets.Tip._close(this.id+'china');
			}
		})
	},
	/**
	*订单金额总计数据
	*/
	calculatePrice:function(){
	    var childInputObj = $element('childNum'),
	        childPriceObj = $element('childPrice');
	    var childNum = this.defaultValue(childInputObj == null ? 0 : parseInt(childInputObj.value), 0),
			childPrice = this.defaultValue(childPriceObj == null ? 0 : Number(childPriceObj.innerHTML), 0);
			childInputObj.value = childNum;
		var adultNum = this.defaultValue(parseInt($element('adultNum').value), 0),
			singlePrice = this.defaultValue(Number($element('singlePrice').innerHTML), 0),
			doublePrice = this.defaultValue(Number($element('doublePrice').innerHTML), 0),
			marketPrice = this.defaultValue(Number($element('marketPrice').value), 0),
			insureNum = this.defaultValue(parseInt($element('insureNum').value), 0),
			dayNum = this.defaultValue(parseInt($element('dayNum').value), 0);
			insurancePrice = 20;
		$element('adultNum').value = adultNum;
		$element('childNum').value = childNum;
		$element('insureNum').value = insureNum;
		var insurancePrice = insurancePrice * (insureNum) * dayNum;
		var okPrice = Math.floor(adultNum/2) * doublePrice + adultNum%2 * singlePrice + childNum * childPrice;
		var marketPrice = (adultNum + childNum) * marketPrice + insurancePrice;
		this.initOrderPriceInfo(okPrice, insurancePrice, marketPrice);
	},
	initOrderPriceInfo:function(okPrice, insPrice, marketPrice){
		$element('orderOkPrice').innerHTML = okPrice;
		$element('orderMarketPrice').innerHTML = marketPrice;
		$element('orderInsPrice').innerHTML = insPrice;
		$element('orderSavePrice').innerHTML = marketPrice - okPrice;
		$element('orderPrice').innerHTML = insPrice + okPrice;
	},
	defaultValue: function(obj, value) {
	    if ((obj == null) || (typeof(obj) == 'undefined') || isNaN(obj)) {
	      return value;
	    }
	    return obj;
	},
	checkForm:function(){
		var SELF = this;
		var EL = DOM.getElementsByClassName('wpx184');
		xui.widgets.Tip.clear();
		for (i=0; i<EL.length; i++){
			if(EL[i].value==""){
				xui.widgets.Tip.show(EL[i].id,'带*号为必填项,不能为空!请重新输入。');
				return false ;
			}else if(EL[i] == $element("erh_Tel0")&!xui.util.NumberUtil.isNumber(EL[i].value)){
				xui.widgets.Tip.show(EL[i].id,'手机号码必须为11位数字。');
				return false ;
			}else if(EL[i] == $element("erh_Tel0")&EL[i].value.length!==11){
				xui.widgets.Tip.show(EL[i].id,'手机号码必须为11位数字。');
				return false ;
			}
		}
		SELF.postData();
	}
};
</script>