#set($layout="/front/default_new.vm")
#CSS(["dingdan.css"])


<form id="orderForm" method="post" action="${env.root}/order/makeorder.htm" >
    
	
	
	<!-- main开始 -->
    <div class="w950 dingdan">
    
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：周边自驾  > $!product.destProvince > $!product.destCity > $!product.destAddr</div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="greenTtl">【周边自驾】$!product.name</span></div>
    
    		<h2 class="banner mgt20"><strong>订购产品</strong></h2>
    		<table class="mgt10 product">
    			<thead><tr><td>编号</td><td>路线</td><td>使用日期</td></tr></thead>
    			<tbody>
					<tr>
        				<td>$!product.productId</td>
        				<td>$!product.name</td>
                        <td>
    						成人 <input type="text" name="count" id="ddIpt1" maxlength="6" class="wpx34" value="$!orderDO.count" dataType="Integer"/>
                        	<span class="F2">（单人价：￥<span id="dingdanP1" style="color:red">$!detail.price</span>
                        	元　双人价：￥<span id="dingdanP2" style="color:red">$!detail.doublePrice</span>元）</span><br />
							
							儿童 <input type="text" name="secondaryCount" id="ddIpt2" maxlength="6" class="wpx34" value="$!orderDO.secondaryCount"/>
							<span class="F2">（儿童价：￥<span id="dingdanP3"  style="color:red">$!detail.childPrice</span>元）</span>
							
    					</td>
        			</tr>
				</tbody>
    		</table>
    		<h2 class="banner mgt20"><strong>附加产品</strong> </h2>
			
			<table class="mgt10">
        		<tr>
            		<th width="160">使用日期</th>
                	<th width="120">名称</th>
					<th width="120">原售价</th>
                    <th width="120">现售价</th>
                    <th>数量</th>
        		</tr>
        		<tr>
            		<td>$dateUtils.format($!orderDO.gmtOrderStart, 'yyyy-MM-dd') 至 $dateUtils.format($!orderDO.gmtOrderEnd, 'yyyy-MM-dd')</td>
                    <td>平安意外险</td>
					#set($totalCount = $orderDO.count)
                    <td><span id="dingdanP4">20</span>人/天</td>
                    <td>￥<span style="color:red" id="dingdanP5">$env.getProp("doucome.config.insurancePrice")</span>人/天 x <span id="orderDays">$product.days</span> 天</td>
                    <td><input type="text" name="insureNum" id="dingdanP6" maxlength="3" class="wpx34" value="$!orderDO.count" style="width:40px;border:none;text-align:center;"  readonly="readonly"/></td>
        		</tr>
				<tr>
					<td colspan="4"><p class="mgt10 pink">备注：购买儿童票不含保险</p></td>
				</tr>
            </table>
			
			<h2 class="banner mgt20"><strong>游玩人信息</strong> </h2>
			
			
			<table class="mgt10 contactInfo">
    			<tr>
    				<th><i>*</i>主联系人姓名：</th>
    				<td>
						<input type="hidden" name="contacts[0].isMain" value="T" />
						<input type="text" name="contacts[0].name" id="name0" class="wpx184 name" value="$!orderDO.contacts[0].name"/>
					</td>
    			</tr>
    			<tr>
    				<th><i>*</i>主联系人手机：</th>
    				<td><input type="text" name="contacts[0].mobile" maxlength="11" id="mobile0" class="wpx184 mobile" value="$!orderDO.contacts[0].mobile" /></td>
    			</tr>
    			<tr>
    				<th><i>*</i>证件类型：</th>
    				<td>
    				  <select name="contacts[0].certificateType" id="certificateType0" value="" style="width: 184px;" class="certificateType">
    					<option>身份证</option>
    					<option>护照</option>
    					<option>军官证</option>
    				  </select>
    				</td>
    			</tr>
    			<tr>
    				<th><i>*</i>证件号码：</th>
    				<td><input type="text" name="contacts[0].certificateNumber" value="$!orderDO.contacts[0].certificateNumber" id="certificateNumber0" class="wpx184 certificateNumber" dataType="IdCard" msg="证件号码错误"/></td>
    			</tr>
    			<tr>
    				<th>E-mail：</th>
    				<td><input type="text" name="contacts[0].email" id="email0" class="wpx1843 email" value="$!orderDO.contacts[0].email"/></td>
    			</tr>
            </table>
            <div id="subCBox">
                
            </div>
			
    		<table class="mgt10">
    			<tr>
    				<th></th>
    				<td>
    					<input class="order" type="submit" value="确认下单"/></input>
    					<div><input type="checkbox" checked="checked" id="odrProtocol" /><label for="odrProtocol">同意度假OK预订协议</label></div>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    		<div class="moneyTotal">
    
    			<h3>订单金额总计</h3>
    			<table>
    				<tr><th>市 场 价：</th><td>
							<span single="300" id="dingdanP8" class="through pink">$!product.marketPrice</span>元</td></tr>
                	<tr><th>ok价：</th><td><span class="pink" id="dingdanP9"></span>元</td></tr>
                    <tr><th>保险费用：</th><td><span class="pink" id="dingdanP10"></span>元</td></tr>
                    <tr><th>累计节省：</th><td><span class="pink" id="dingdanP11"></span>元</td></tr>
    			</table>
    			<p>订单结算金额<br><b class="f22">￥<span class="pink" id="dingdanP12"></span></b></p>
    		</div>
    	</div>
    </div>
    <!-- main结束 -->
	
	<input type="hidden" value="$!product.marketPrice" id="marketPrice">
   	<input type="hidden" name="orderId" id="orderId" value="$!orderDO.orderId" />
	<input type="hidden" name="productId" id="productId" value="$!orderDO.productId" />
	<input type="hidden" name="productDetailId" id="productDetailId" value="$!orderDO.productDetailId" />
	<input type="hidden" name="gmtOrderStart" id="departDate" value="$dateUtil.format($!orderDO.gmtOrderStart)" />
	<input type="hidden" name="dayNum" id="dayNum" value="$!product.days">
	<input type="hidden" name="productType" id="productType" value="SELFDRIVE" />
</form>	
#JS(["dingdan.js"])

<script>
	
</script>