#set($layout="/front/default_new.vm")
#CSS(["dingdan.css"])

<form id="orderForm" method="post" action="${env.root}/order/makeorder.htm" >
    <input type="hidden" value="$!product.marketPrice" id="Adult_mkprice">
	<input type="hidden" name="orderId" id="orderId" value="$!orderDO.orderId" />
    <input type="hidden" name="productId" id="productId" value="$!orderDO.productId" />
    <input type="hidden" name="productDetailId" id="productDetailId" value="$!orderDO.productDetailId" />
    <input type="hidden" name="gmtOrderStart" id="gmtOrderStart" value="$dateUtils.format($!orderDO.gmtOrderStart, 'yyyy-MM-dd')" />
    <input type="hidden" name="productType" id="productType" value="TICKET" />
	
	<!-- main开始 -->
    <div class="w950 dingdan">
    
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：门票 > $!product.destProvince > $!product.destCity > $!product.destAddr</div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="greenTtl">【门票】$!product.name</span></div>
    
    		<h2 class="banner mgt20"><strong>订购产品</strong></h2>
    		<table class="mgt10 product">
    			<thead><tr><td>编号</td><td>名称</td><td>价格</td><td>使用日期</td><td>数量</td></tr></thead>
    			<tbody>
					<tr>
        				<td>$!product.productId</td>
        				<td>$!product.name</td>
                        <td>
    						￥<span id="price" style="color: red;">$!detail.price</span>
                            (市场价：<span style="text-decoration: line-through;">￥<span id="marketPrice">$!product.marketPrice</span></span>)
    					</td>
        				<td class="F10">$dateUtil.format($!orderDO.gmtOrderStart)</td>
        				<td class="F10"><input type="text" name="count" id="ticketNum" maxlength="3" class="wpx34" value="$!orderDO.count"/></td>
        			</tr>
				</tbody>
    		</table>
    		
			<h2 class="banner mgt20"><strong>游玩人信息</strong> </h2>
			
			<input type="hidden" name="contacts[0].isMain" value="T" />
			<table class="mgt10 contactInfo">
    			<tr>
    				<th><i>*</i>联系人姓名：</th>
    				<td>
						<input type="text" name="contacts[0].name" id="name0" class="wpx184 name" value="$!orderDO.contacts[0].name"/>
						<span class="error"></span>
					</td>
    			</tr>
    			<tr>
    				<th><i>*</i>联系人手机：</th>
    				<td>
						<input type="text" name="contacts[0].mobile" maxlength="11" id="mobile0" class="wpx184 mobile" value="$!orderDO.contacts[0].mobile" />
						<span class="error"></span>
					</td>
    			</tr>
    			<tr>
    				<th><i>*</i>证件类型：</th>
    				<td>
    				  <select name="contacts[0].certificateType" id="certificateType0" value="" style="width: 184px;" class="certificateType">
    					<option>身份证</option>
    					<option>护照</option>
    					<option>军官证</option>
    				  </select>
    				</td>
    			</tr>
    			<tr>
    				<th><i>*</i>证件号码：</th>
    				<td>
						<input type="text" name="contacts[0].certificateNumber" value="$!orderDO.contacts[0].certificateNumber" id="certificateNumber0" class="wpx184 certificateNumber" dataType="IdCard" msg="证件号码错误"/>
						<span class="error"></span>
					</td>
    			</tr>
    			<tr>
    				<th>E-mail：</th>
    				<td>
						<input type="text" name="contacts[0].email" id="email0" class="wpx1843 email" value="$!orderDO.contacts[0].email"/>
						<span class="error"></span>
					</td>
    			</tr>
            </table>
            <div id="subCBox">
                
            </div>
			
    		<table class="mgt10">
    			<tr>
    				<th></th>
    				<td>
    					<a href="javascript:;" data-orderForm="orderForm" class="btn_buy" style="margin:10px 0;">下一步</a>
    					<div><input type="checkbox" checked="checked" id="odrProtocol" /><label for="odrProtocol">同意度假OK预订协议</label></div>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    		<div class="moneyTotal">
    
    			<h3>订单金额总计</h3>
    			<table>
    				<tr><th>市 场 价：</th><td><span class="through" id="orderMarketPrice">$product.marketPrice</span>元</td></tr>
    				<tr><th>OK 价：</th><td><span id="orderOkPrice"></span>元</td></tr>
    				<tr><th>累计节省：</th><td><span id="orderSavePrice"></span>元</td></tr>
    			</table>
    			<p>订单结算金额<br><b class="f22">￥<span id="orderPrice"></span></b></p>
    		</div>
    	</div>
    </div>
    <!-- main结束 -->
</form>
		
	
#JS(["dingdan.js"])

<script>
		
</script>