#set($layout="/front/default_new.vm") 

#CSS(["dingdan.css"])
<div class="w950 dingdan dingdan3">
	<div class="" style="margin:20px;">
		<h3 style="font-size:28px;color:green;">支付成功！</h3>
        <p style="font-size:14px;">订单提交成功！请等待工作人员确认。 <a href="${env.root}/home/index.htm">返回首页</a></p>
	</div>
</div>
