#set($layout="/front/default_new.vm")
#CSS(["dingdan.css"])

<form id='changeStatus' action='${env.root}/order/paydetail.htm' method='post'>
	<input type="hidden" id="orderId" name="orderId" value="$!orderDO.orderId" />
	
	
	
	
	
	<!-- main开始 -->
    <div class="w950 dingdan dingdan3">
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：$!product.destProvince > $!product.destCity > $!product.destAddr </div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="greenTtl"> $!product.name </span></div>
    		<h2 class="banner mgt20"><strong>订购产品</strong></h2>
    		<table class="mgt10 product">
    			<thead><tr><td>编号</td><td>产品名称</td><td>订单信息</td><td>人数</td></tr></thead>
    			<tbody><tr>
    				<td>$!orderDO.orderId</td>
    				<td>$!orderDO.name</td>
    				<td>$!orderDO.desc  $dateUtils.format($!orderDO.gmtOrderStart, 'yyyy-MM-dd')</td>
    				<td>$!orderDesc</td>
    			</tr></tbody>
    		</table>
    		<h2 class="banner mgt20"><strong>附加产品</strong></h2>
			#if($orderDO.insureNum > 0)
				<div class="mgt10 attPro">
					<label>自由行-平安国内短途游意外险</label><span>市场价：￥20 人/天</span> x $product.days 天 x <strong>$!orderDO.insureNum</strong> 份</span>
				</div>
            #end
    		
    		<h2 class="banner mgt20"><strong>游玩人信息</strong></h2>
			
			#if(!$collectionUtils.isEmpty($orderDO.contacts))
            	#foreach ($personInfo in $!orderDO.contacts)
            	  <table class="mgt10 contactInfo" >
	                	<tr>
	                    	<th>联系人姓名#if($personInfo.isMain == "T")(<b>主联系人</b>)#end：</th>
	                        <td>$personInfo.name</td>
	                    </tr>
	                    <tr>
	                    	<th>联系人手机：</th>
	                        <td>$personInfo.mobile</td>
	                    </tr>
	                    <tr>
	                    	<th>证件类型：</th>
	                        <td>
	                        	#if($personInfo.certificateType=='ID')
	                        	  身份证
	                            #elseif($personInfo.certificateType=='PASSPORT')
								护照
	                            #elseif($personInfo.certificateType=='OFFICERPORT')
								军官证
	                            #else
								其他
	                            #end
	                        </td>
	                    </tr>
	                    <tr>
	                    	<th>证件号码：</th>
	                        <td>$personInfo.certificateNumber</td>
	                    </tr>
	                    <tr>
	                    	<th>E-mail：</th>
	                        <td>$personInfo.email</td>
	                    </tr>
	                </table>
					<div style="border-top:1px solid #ddd;"></div>
				#end
			#end
			
			#if($!orderDO.memo != '')
			<h2 class="banner mgt20"><strong>订单备注</strong></h2>
			$!orderDO.memo
			#end
			 
    		<h2 class="banner mgt20"><strong>金额总计</strong></h2>
    		<table class="mgt10 contactInfo">
    			<tr><th>订单结算金额：</th><td><b class="f22">￥$!orderDO.price元</b></td></tr>
    			<tr>
    				<th></th>
					
    				<td>
						#if("UNPAY"==$!orderDO.status)
    						<button type="submit" id="submit" class="order">确认下单</button>
    					#end
    				</td>
    			</tr>
    		</table>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    	</div>
    </div>
    <!-- main结束 -->
	
</form>
	
<script type="text/javascript">
var EV = xui.util.Event,
DOM = xui.util.Dom;
var personInfo=function(){};
personInfo.prototype={
	init:function(){
		this.render();
	},
	render:function(){
		var SELF = this;
		var EL = $element('personInfo').value,
			EL2 = $element('personInfo_view');
		SELF.Show(EL);
	},
	Show:function(data){
		var jsonData = eval(data);
		var b = [];
		for(var i=0; i<eval(data).length; i++){
			if(i==0){
				b.push('<h3 class="dingdanhead">主联系人信息</h3>')
				b.push('<div class="person_Order"><div style="clear:both;"></div>');
				b.push('<table class="d_ywrxx"  cellpadding="0" cellspacing="0"><tr><th><i>*</i> 主联系人姓名：</th><td>'+jsonData[i].name+'</td></tr>');
				b.push('<tr><th><i>*</i> 主联系人手机：</th><td>'+jsonData[i].tel+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件类型：</th><td>'+jsonData[i].select+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件号码：</th><td>'+jsonData[i].Certificate+'</td></tr>');
				b.push('<tr><th>E-mail：</th><td>'+jsonData[i].Email+'</td></tr>');
				b.push('</table></div>');
			}else{
				b.push('<h3 class="dingdanhead">游玩人信息</h3>')
				b.push('<div class="person_Order"><div style="clear:both;"></div>');
				b.push('<table class="d_ywrxx"  cellpadding="0" cellspacing="0"><tr><th><i>*</i> 游玩人姓名：</th><td>'+jsonData[i].name+'</td></tr>');
				b.push('<tr><th><i>*</i> 游玩人手机：</th><td>'+jsonData[i].tel+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件类型：</th><td>'+jsonData[i].select+'</td></tr>');
				b.push('<tr><th><i>*</i> 证件号码：</th><td>'+jsonData[i].Certificate+'</td></tr>');
				b.push('<tr><th>E-mail：</th><td>'+jsonData[i].Email+'</td></tr>');
				b.push('</table></div>');
			}
		}
		$element('personInfo_view').innerHTML =  b.join('');
	}
	
}
EV.onDOMReady(function(){
	var b = new personInfo();
	b.init();
});  


function changeStatus(){
alert(document.getElementById('status').value)
	document.getElementById('status').value = document.getElementById('changeStatus').value;
	//var changeStatus = document.getElementById('changeStatus').value;
	//alert(changeStatus);
	//location.href = $element("webUrl").value + "trek/order/order/changeStatus.htm?orderId="+$element("orderId").value+"&status="+changeStatus+"&comment="+$element("comment").value;
}

function returnPage(){
	window.history.go(-1);
}
</script>
</form>