#set($layout="/front/default_new.vm")
	#CSS(["dingdan.css"])

#if($order.payType=="CASH")
<form id="orderPayForm" method="post" action='${env.root}/order/cashpayorder.htm'>	
	<input type="hidden" id="orderId" name="orderId" value="$!orderId"/>
        
	<!-- main开始 -->
    <div class="w950 dingdan dingdan2">
		<img src="${env.staticroot}/images/bookStep_3.png" style="margin-top:20px;"/> 
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：选择支付方式</div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="redTtl">￥$!order.price 元</span></div>
    		<table class="mgt10 pay">
    			<tr>
    				<td>支付方式：</td><th><h3 style="font-size:16px;">请到酒店前台支付</h3></th>
    			</tr>
                <tr class="qrxd"><td></td><th>
						<a href="javascript:;" data-orderForm="orderPayForm" class="btn_buy" style="margin:10px 0;">确认下单</a>
				</th></tr>
    		</table>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    	</div>
    </div>
    <!-- main结束 -->
            <!-- 内容结束 -->
	
</form>

<script>

</script>
#else
	
<form id="orderPayForm" method="post" action='${env.root}/order/alipayorder.htm'>
		
	<input type="hidden" id="orderId" name="orderId" value="$!orderId"/>

	<!-- main开始 -->
    <div class="w950 dingdan dingdan2">
		<img src="${env.staticroot}/images/bookStep_3.png" style="margin-top:20px;"/> 
    	<!-- dtl1开始 -->
    	<div class="L">
    		<div class="crumb">您当前的位置：选择支付方式</div>
    		<div class="odrTtl"><span class="flag">预定</span><span class="redTtl">￥$!order.price 元</span></div>
    		<table class="mgt10 pay">
    			<tr>
    				<td>支付平台：</td><th><input type="radio" name="paymethod" id="zfpt1" checked /><label for="zfpt1"><img src="${env.staticroot}/images/zfb.gif" /></label></th>
    			</tr>
    			<tr>
    				<td>网上银行：</td><th><input type="radio" name="paymethod" id="wsyh1" /><label for="wsyh1"><img src="${env.staticroot}/images/zgyh.gif" /></label></th>
    			</tr>
    			<tr class="qrxd"><td></td><th><a href="javascript:;" data-orderForm="orderPayForm" class="btn_buy" style="margin:10px 0;">确认支付</a></th></tr>
    		</table>
    		<h3>您还可以通过线下银行转账的形式支付：</h3>
    		<p>招行银行    张波    浙江分行杭州高新支行    6225885714741257</p>
    		<p>农业银行    张波    浙江分行杭州高新支行    6225885714741257</p>
    		<p>工商银行    张波    浙江分行杭州高新支行    6225885714741257</p>
    	</div>
    	<div class="R mgt10">
			<!--
    		<div class="share">
    			<div id="ckepop">
    				<span class="jiathis_txt">分享到：</span>
    				<a class="jiathis_button_icons_1"></a>
    				<a class="jiathis_button_icons_2"></a>
    				<a class="jiathis_button_icons_3"></a>
    				<a class="jiathis_button_icons_4"></a>
    			</div>
    		</div>
			-->
    	</div>
    </div>
    <!-- main结束 -->
</form>

#end

#JS(["dingdan.js"])