#set($layout="/order/default.vm") 
<div class="success">
	 <div class="status-contentbox">
		<div class="success_one"></div>
		<div class="success_content">
			<h3>支付成功！</h3>
			<p>恭喜你支付成功！</p>
		</div>
	</div>
</div>



