#set($layout="/front/default_new.vm")
#CSS(["Hotel_area.css"])

<style>
	.hotelPrice a , .hotelPrice a:hover {
		text-decoration:none;
		margin-top:-10px;
		margin-left:10px;
	}
</style>

<!-- main开始 -->
<div class="w950">
	<div class="L710 mgr10 ">
		<div class="crumb">度假酒店 > $product.destCity > $product.name </div>
	</div>
	<div class="R230 mgt10">
		
	</div>
</div>
<div class="w950 hotelSumm">
	<div class="L" style="width:220px;">
		<img class="L pad3" alt="" src="$!product.imageList[0]" height="192" width="192" />
		#if($product.locationCode)
			<div class="map mgt10" style="border:1px solid gray;height:140px;width:196px;margin-top:220px;" id="locationMap" data-location-code="$product.locationCode">
			</div>
		#end
	</div>
	<table class="R">
		<thead><tr><th colspan="2">$!product.name</th></tr></thead>
		<tbody>
            <tr><th>酒店类型：</th><td>$enumUtils.toStarRate($!product.starRate).desc </td></tr>
			<tr><th>客房数量：</th><td>$!product.roomAmount</td></tr>
			<tr><th>酒店地址：</th><td>[ $!product.destProvince - $!product.destCity ] $!product.destArea$!product.destAddr</td></tr>
			<tr><th>酒店简介：</th><td>$!product.introduction</td></tr>
		</tbody>
	</table>
</div>
<dl class="w950 hotelBook">
	<dt>客房预定</dt>
	#foreach($room in $roomList.items)
	<dd>
        <a href="${env.root}/product/detail.htm?productId=$!room.productId" target="_blank"><img class="L pad3" alt="" src="$!room.imageList[0]" height="142" width="142"></img></a>
		<div class="R txt">
			<div class="hBook1">
                <a href="${env.root}/product/detail.htm?productId=$!room.productId" target="_blank"><div class="L ttl">$!room.name</div></a>
				<div class="R price hotelPrice">
					<span class="p1">门市价：<span class="through">$!room.marketPrice</span>元</span><span class="p2"><strong><em>￥</em>$!room.bottomPrice</strong>起</span><a class="btn_main" href="${env.root}/product/detail.htm?productId=$!room.productId">预定</a>
				</div>
			</div>
			<div class="hBook2">
				支付方式：#if($!room.payTypes == "CASH") 前台现付 #else 网上支付  #end
            </div>
			<div class="hBook2">
				客房面积：$!room.roomArea 平米　　床型：$!room.bed
			</div>
			<div class="hBook3">
				#foreach($facilitie in $room.roomFacilitieList)
				<span>$facilitie</span>
				#end
			</div>
		</div>
	</dd>
	#end
	#parse("common/common_pagination.vm")
	
	<form id="roomForm" action="${env.root}/product/detail.htm" method="get">
		<input type="hidden" name="productId" value="$!product.productId" />
		<input type="hidden" id="roomStart" name="start" value="$!start"/>
		<input type="hidden" id="roomSize" name="size" value="$!size"/>
	</form>
</dl>

<!-- main结束 -->


#JS(["validator.js","detail.js"])

<script>
	var toPage = function(pages,size){
		if(isNaN(pages)){
			alert('请输入数字') ;
			return false ;
		}
		var totalPages = $totalPages ;
		if(pages > totalPages){
			pages = totalPages ;
		}
		if(pages < 1){
			pages = 1 ;
		}
        var start = (pages-1) * size + 1;
        document.getElementById('roomStart').value = start ;
        document.getElementById('roomSize').value = size ;
        document.getElementById('roomForm').submit() ;
    }
</script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
	!(function($){
		var locCode = $("#locationMap").attr('data-location-code') ;
		var map = new BMap.Map("locationMap");
		if(locCode != ''){
    		var codeArr = locCode.split(",");
    		//初始化map
    		$("#locationMap").show() ;
			var point = new BMap.Point(codeArr[0],codeArr[1]) ;
            map.centerAndZoom(point, 16);
			map.addOverlay(new BMap.Marker(point));
    	}
	})(jQuery);
	
</script>