#set($layout="/front/default_new.vm")
#STATIC("CSS",["/blogcal/blogcalendar.css"])
#CSS(["detail.css"])

#set ($detail = $product.todayDetail)
<div class="w950 main detail">

	<!-- dtl1开始 -->
	<div class="L">
		<div class="crumb">您当前的位置：酒店房间 > $!product.name</div>
		<dl class="txtImgRoll">
			<dt class="greenTtl">【酒店房间】$!product.name</dt>

			<dd class="bigRoll" id="dtlBigRoll">
				#foreach($image in $product.imageList)
					#set ($index = $velocityCount)
					#if($index < 4)
					<div class="tabCnt #if($index == 1)current#end"><img alt="" src="$image"><span></span></div>
					#end
                #end
				<ul class="tabTtl">
					#foreach($image in $product.imageList)
						#set($index = $velocityCount)
						#if($index < 4)
						<li #if($index == 1) class="current" #end ></li>
						#end
					#end
				</ul>
			</dd>
		</dl>
		
		<div class="Calendar">
    		<div class="mgt20">
    			<div>
    				<div id="idCalendarPre">上一月</div>
    				<div id="idCalendarNext">下一月</div>
    				<span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
    				<table cellspacing="0">
    					<thead>
    						<tr>
                                <td>日</td>
                                <td>一</td>
                                <td>二</td>
                                <td>三</td>
                                <td>四</td>
                                <td>五</td>
                                <td>六</td>
    						</tr>
    					</thead>
    					<tbody id="idCalendar"></tbody>
    				</table>
    			</div>
    		</div>
        </div>
		
		<!-- start prointro-->
		<div>
        	<div class="pro_intro_tab clearFix">
                <ul>
                    <li class="cur"><a href="#introduction">产品介绍</a></li>
                    <li><a href="#categoryImage">房型图片</a></li>
                </ul>
            </div>
			<h2 class="banner mgt20" id="introduction"><strong>产品介绍</strong> </h2>
            <p>$!product.introduction</p>
            <h2 class="banner mgt20" id="categoryImage"><strong>房型图片</strong> </h2>
			<p>$!product.categoryImage</p>
        </div>
		<!-- end prointro -->
	</div>
	
	<div class="R mgt10">
		<!--
		<div class="share">
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>
				<a class="jiathis_button_icons_1"></a>
				<a class="jiathis_button_icons_2"></a>
				<a class="jiathis_button_icons_3"></a>
				<a class="jiathis_button_icons_4"></a>
			</div>
		</div>
		-->
		<div class="hotelDtl">
			<div class="hDtl1">
				<div class="price"><span class="ttl">特惠价</span><span class="num">￥<strong>$!product.bottomPrice</strong>元起</span></div>

				<table>
					<tbody>
                        <tr><th><strong>酒店名称：</strong></th><td><a href="${env.root}/product/detail.htm?productId=$!product.hotelId" target="hotel">$!hotelName</a></td></tr>
						<tr><th><strong>市场价：</strong></th><td>$!product.marketPrice 元</td></tr>
    					<tr><th><strong>商品编号：</strong></th><td>$!product.productId</td></tr>
    					<tr><th><strong>支付方式：</strong></th><td>$enumUtils.toPayTypeEnumDescs($!product.productTypes)</td></tr>
						<tr><th><strong>支付方式：</strong></th><td><span>$!product.roomArea</span>平米  <span>$!product.bed</span></td></tr>
    					<tr><th><strong>配套：</strong></th><td>$!product.roomFacilities</td></tr>
					</tbody>
				</table>
			</div>
			#set($detailItems = $!product.defaultDetailItems)
			#if(!$collectionUtils.isEmpty($detailItems))
			<form id="orderForm" action="${env.root}/order/book.htm" method="get">
			<div class="date">
				<ul>
                    <li><strong>价格:</strong><span id="price">&nbsp;&nbsp;$!product.bottomPrice</span>元 </li>
					<li>入住日期：
						<select name="dateAndDetail" id="checkoutDateOpt">
               	    	 	 #foreach($dt in $!product.defaultDetailItems )
    							#set($index = $velocityCount)
    							<option value="$dt.detailId:$dateUtils.format($dt.date, 'yyyy-MM-dd')" #if($index==1)selected="true" #end>$dateUtils.format($dt.date, 'yyyy-MM-dd')</option>
    						 #end
              	         </select>
					</li>
					 <li>离店日期：
						<select name="endDate" id="checkoutDateOpt" onchange="changeCheckoutDate()">
               	    	 	 #foreach($dt in $!product.defaultDetailItems )
								#set($index = $velocityCount)
								<option value="$dateUtils.format($dt.date, 'yyyy-MM-dd')" #if($index==1)selected="true" #end>$dateUtils.format($dt.date, 'yyyy-MM-dd') </option>
							 #end
              	         </select>
					 </li>
					 <!--<li class="total"><strong>共4晚 总金额：￥1234.88元</strong></li>-->
					 <li>预定间数<input type="text" name="count" id="roomCount" value="1"></li>
				</ul>
				<button class="order" onclick="return checkOrder()">订购</button>
				<p class="gray">拨打电话预定 400 666 5599</p>
			</div>
			<input type="hidden" id="productId" name="productId" value="$!product.productId" />
    		<input type="hidden" id="productType" name="productType" value="FJ" />
            </form>
			#else
			当日无价格
			#end
		</div>
	</div>
</div>
<!-- main结束 -->


#STATIC("JS",["/blogcal/blogcalendar.js"])
#XUI_JS(["core/xui-core.js","util/util-min.js","slide/slide.js"])
<script type="text/javascript">

	var details = [
	  #foreach($d in $detailItems) 
	  	{id: "$!d.detail.id",
	  	 	price: "$!d.detail.price",
	  	},	
  	  #end
	] ;
	
	var detailChange = function(select){
		var index = select.selectedIndex ;
		var val = select.options[select.selectedIndex].value ;
		setDetail(index) ;
	}
	
	var setDetail = function(index){
		$element("price").innerHTML =  details[index].price ;
	}
	
	setDetail(0) ;

	//订单参数
	var checkOrder = function() {
		var roomCount = $element("roomCount").value ;
		if(roomCount == '' || isNaN(roomCount)){
			alert('请输入预定间数') ;
			return false ;
		}
		return true ;
	}
	
	
//calendar
    //初始化Calendar
    var url = '${env.root}/ajax/priceCalendar.htm?productId=$!product.productId' ;
    
    var cale = new Calendar("idCalendar", {
    	SelectDay: new Date().setDate(10),
    	onSelectDay: function(o){ o.className = "onSelect"; },
    	onToday: function(o){ o.className = "onToday"; },
    	onFinish: function(){
    		var self = this;
    		
    		xui.util.Ajax.asyncGET(url , 
    				function(data){
            			try{
            				var obj = eval('('+data+')') ;
            				var calendar = obj.calendar ;
    						
    						$element("idCalendarYear").innerHTML = cale.Year; 
							$element("idCalendarMonth").innerHTML = cale.Month;
    						var flag = calendar  ;
                    		// var flag = [{severtime:"2012-01",data:[{id:10,name:"250元"},{id:15,name:"250"},{id:16,name:"250"}]},{severtime:"2012-02",data:[{id:12,name:"250元"},{id:14,name:"250"},{id:16,name:"250"}]}];
                    		for(var i = 0, len = flag.length; i < len; i++){
                    			var timer = flag[i].severtime.split("-");
                    			var b = self.Year == timer[0] && self.Month == timer[1]?true:false;
                    			if(b){
                    				var pricredate = flag[i].data;
                    				for(var i = 0; i<pricredate.length; i++){
                    					self.Days[pricredate[i].id].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:"+self.Year+"/"+self.Month+"/"+pricredate[i].id+"');return false;\">" + pricredate[i].id + "</a><br>"+pricredate[i].name+"";
                    				}
                    			}
                    		}
    						
    						
            			}catch(e){
            				alert('初始化日历失败！');
            			}
            		} , 
            		function(data){
            			alert("get data error!") ;
            		}
            ) ;
    	}
    });

    
    $element("idCalendarPre").onclick = function(){ cale.PreMonth(); }
    $element("idCalendarNext").onclick = function(){ cale.NextMonth(); }
    //$element("idCalendarPreYear").onclick = function(){ cale.PreYear(); }
    //$element("idCalendarNextYear").onclick = function(){ cale.NextYear(); }
    //$element("idCalendarNow").onclick = function(){ cale.NowMonth(); }
</script>

