#set($layout="/product/default.vm")
<style>
<!--
.Focus_list{ width:710px; height:250px; margin-left:10px; margin-top:10px; padding:20px; display:inline; float:left;}
.Focus_list img{ border:1px solid #dcdcdc; padding:2px; float:left;} 
.Focus_list ul{  float:left; padding-left:8px;}
.Focus_list ul li{ height:24px; line-height:24px; background:url(../images/icon_01.png) left no-repeat; padding-left:12px;}

-->
</style>
        
<!-- 内容开始 -->
<div id="wrap">
    <div class="section urhere">
    	<p class="F3">您当前的位置： 酒店 -> $product.name</p>
        <!--span class="F3">分享到： 新浪微博 </span-->
    </div>
    
    <div id="detail" class="section">
    	<div class="d_left">
        	<h2 class="d_title">$product.name</h2>
                <div id="Focus">
                    <ul id="Focus_content">
                        #foreach($pictureUrl in $product.pictureUrls)
                          <li class="circularPanel">
                            <img src=$!pictureUrl width="710" height="250" />
                            <h2></h2>
                          </li>
                        #end
                    </ul>
                <ul class="trigger">
                    #foreach($pictureUrl in $product.pictureUrls)
                      <li class="circularTrigger"></li>
                    #end
                </ul>
                </div>
				<script type="text/javascript">
                var x = new xui.widgets.Slide();
                </script>
            <!--价格日历-->
            <div><img src="http://ht.dujiaok.com/saas/trek/images/temp01.gif" width="710" height="457" /></div>
            <!--产品信息说明-->
           <div style="padding-top:10px;">
            	<div id="frame_content" width="710">
            		<div id="pro_intro" class="FS12 F2">
    					<div class="pro_intro_tab clearFix">
				            <ul>
				                <li class="cur"><a href="#introduction">产品介绍</a></li>
				                <li><a href="#remark">备注</a></li>
				            </ul>
        				</div>
	        			<h2 id="introduction">产品介绍</h2>
				        <p>$!product.introduction&nbsp;&nbsp;&nbsp;&nbsp;产品介绍产品介绍产品介绍产品介绍</p>
				        <h2 id="remark">备注</h2>
				        <div class="pro_intro_list2">
				        <p>$!product.memo;&nbsp;&nbsp;&nbsp;备注备注备注备注备注</p>
				        </div>
	    			</div>
					<iframe id="iframeC" name="iframeC" src="" width="0" height="0" style="display:none;" ></iframe>
					<script type="text/javascript"> 
					function sethash(){
					    hashH = document.documentElement.scrollHeight; 
					    urlC = "http://www.dujiaok.com/diablo/trek/product/product/agent.htm"; 
					    document.getElementById("iframeC").src=urlC+"#"+hashH; 
					}
					window.onload=sethash;
					</script>
            	</div>
            </div>
        </div>
        
        <div class="d_right">
        	<div class="information">
                <table>
                    <tr><th><strong>商品编号</strong>：</th><td>$!product.productId</td></tr>
                    <tr><th><strong>星级</strong>：</th><td>$!product.starRate</td></tr>
                    <tr><th><strong>地址</strong>：</th><td>$!product.destAddr</td></tr>
                    <tr><th><strong>房间数量</strong>：</th><td>$!product.roomAmount</td></tr>
                </table>
            </div>
            <div class="order">
            	#if($product.rooms.size() > 0)
            	<form id="orderForm" method="post" action="${env.root}/order/makeorder.htm">
                	<ul>
                       <li><strong>预定房间数</strong>：&nbsp;<input type="text" name="countPerson" id="countPerson"></li>
                    </ul>
                	<button type="submit">&nbsp;&nbsp;&nbsp;</button>
					<input type="hidden" id="productId" name="productId" value="$product.id" />
                </form>
                #end
                <p class="F3">拨打电话预定 400 666 5599</p>
            </div>
        </div>
    </div>
</div>    
<!-- 内容结束 -->

<script>
	var tourInfos = [
	  #foreach($tour in $product.detail) 
	  	{id: "$!tour.id",
	  	 singlePrice: "$!tour.singlePrice",
	  	 doublePrice: "$!tour.doublePrice",
	  	 childPrice: "$!tour.childPrice",
	  	 comboPrice: "$!tour.comboPrice",
	  	},	
  	  #end
	]
function changePrice(){
    var tourId = document.getElementById('tourId').value;
	var singlePrice = document.getElementById('singlePrice');
    var doublePrice = document.getElementById('doublePrice');
    var childPrice = document.getElementById('childPrice');
    var comboPrice = document.getElementById('comboPrice');
    for (var i = 0; i < tourInfos.length; i++) {
      if (tourId == tourInfos[i].id) {
          singlePrice.innerHTML = tourInfos[i].singlePrice;
          doublePrice.innerHTML = tourInfos[i].doublePrice;
          childPrice.innerHTML = tourInfos[i].childPrice;
          comboPrice.innerHTML = tourInfos[i].comboPrice;
      }
    }
}

function changePriceHotel(){
    var inday = $('indays');
    var outday = $('outdays');
	if(outday.value==null || outday.value==undefined || outday.value==''){
		var url = $('webUrl').value + 'trek/product/product/changePriceHotel.htm?inday=' + inday.options[inday.selectedIndex].text + '&outday=' + outday.options[inday.selectedIndex+1].text + '&productId=' + $('productId').value;
	} else {
		var url = $('webUrl').value + 'trek/product/product/changePriceHotel.htm?inday=' + inday.options[inday.selectedIndex].text + '&outday=' + outday.options[outday.selectedIndex].text + '&productId=' + $('productId').value;
	}
	xui.util.Ajax.asyncGET(url,function(s){
		var myObject = eval('(' + s + ')');
		//alert(myObject.ok)
		if(myObject.ok=="y"){
			//获取成功
			//alert('获取成功!');
        	//var indays = document.getElementById('indays');
        	//var outdays = document.getElementById('outdays');
        	var hotelPrice = document.getElementById('hotelPrice');
        	//var tehui = document.getElementById('tehui');
        	var hotelDay = document.getElementById('hotelDay');
        	
        	//indays.innerHTML = myObject.indays;
        	//outdays.innerHTML = myObject.outdays;
        	hotelPrice.innerHTML = myObject.hotelPrice;
        	//tehui.innerHTML = myObject.tehui;
        	hotelDay.innerHTML = myObject.hotelDay;
		}else{
			//获取失败
			var hotelPrice = document.getElementById('hotelPrice');
        	var hotelDay = document.getElementById('hotelDay');
			hotelPrice.innerHTML = 0;
			hotelDay.innerHTML = 0;
		}

	},function(s){

	});
}

function makeOrder(){
	var orderForm = document.getElementById('orderForm');
	var countPerson = document.getElementById('countPerson');
	var countChild = document.getElementById('countChild');
	
	orderForm.action = 'http://localhost:8080/dujiaok/order/makeorder.htm?id=' + $('productId').value + '&countPerson=' + countPerson.value + '&countChild=' + countChild.value + '&tourId=' + $('days').value;
	orderForm.submit();
}
function makeOrderCombo(){
	var orderForm = document.getElementById('orderForm');
	var countCombo = document.getElementById('countCombo');
	
	orderForm.action = $('webUrl').value + 'trek/order/order/makeorderCombo.htm?id=' + $('productId').value + '&countCombo=' + countCombo.value + '&tourId=' + $('days').value;
	orderForm.submit();
}
function makeOrderHotel(){
	var inday = $('indays');
    var outday = $('outdays');
	if(inday.value==''||outday.value==''){
		alert('请选择日期');
		return;
	}
		
	if(inday.options[inday.selectedIndex].text >= outday.options[outday.selectedIndex].text){
		//var submitBtn = document.getElementById('submitBtn');
		//submitBtn.disabled = true;
		//alert(submitBtn.disabled)
		alert('请正确选择日期')
		return;
	}else{
		//submitBtn.disabled = false;
	}
	
	var orderForm = document.getElementById('orderForm');
	var countHotel = document.getElementById('countHotel');
	var hotelPrice = document.getElementById('hotelPrice');;
	
	orderForm.action = $('webUrl').value + 'trek/order/order/makeorderHotel.htm?id=' + $('productId').value + '&inday=' + inday.options[inday.selectedIndex].text + '&outday=' + outday.options[outday.selectedIndex].text + '&countHotel=' + countHotel.value + '&hotelPrice=' + hotelPrice.innerHTML;
	orderForm.submit();
}

</script>

