#set($layout="/product/default.vm")

<div id="wrap">
    <div class="section urhere">
    	<p class="F3">您当前的位置： 酒店  - $!product.name</p>
    </div>
    
    <div id="detail" class="section">
    	<div class="d_left">
        	<h2 class="d_title">$!product.name</h2>
            <div id="Focus">
                <ul id="Focus_content">
                    <li class="circularPanel">
                        <img src=$!product.imageList[0] width="710" height="250" />
                        <h2></h2>
                    </li>
                </ul>
	            <ul class="trigger">
	                <li class="circularTrigger"></li>
	            </ul>
            </div>
            <div style="padding-top:10px;">
            	<div id="frame_content" width="710">
            		<div id="pro_intro" class="FS12 F2">
    					<div class="pro_intro_tab clearFix">
				            <ul>
				                <li class="cur"><a href="#introduction">产品介绍</a></li>
				            </ul>
        				</div>
	        			<h2 id="introduction">产品介绍</h2>
					    <p>$!product.introduction&nbsp;&nbsp;&nbsp;&nbsp;产品介绍产品介绍产品介绍产品介绍</p>
	    			</div>
            	</div>
            </div>
        </div>
        
        <div class="d_right">
        	<div class="information">
            	<table>
                    <tr><th><strong>商品编号</strong>：</th><td>$!product.productId</td></tr>
                    <tr><th><strong>星级</strong>：</th><td>$!product.starRate</td></tr>
                    <tr><th><strong>地址</strong>：</th><td>$!product.destAddr</td></tr>
                    <tr><th><strong>房间数量</strong>：</th><td>$!product.roomAmount</td></tr>
                </table>
            </div>
            <div class="order"></div>
        </div>
    </div>
</div>

#STATIC("JS",["/blogcal/blogcalendar.js"])
#XUI_JS(["core/xui-core.js","util/util-min.js","slide/slide.js"])
