#set($layout="/product/default.vm")
#STATIC("CSS",["/blogcal/blogcalendar.css"])
<div id="wrap">
    <div class="section urhere">
    	<p class="F3">您当前的位置： 酒店房间 -> $!product.name</p>
    </div>
    
    <div id="detail" class="section">
    	<div class="d_left">
        	<h2 class="d_title">$!product.name</h2>
            <div id="Focus">
                <ul id="Focus_content">
                    #foreach($pictureUrl in $product.pictureUrls)
                      <li class="circularPanel">
                        <img src=$!pictureUrl width="710" height="250" />
                        <h2></h2>
                      </li>
                    #end
                </ul>
                <ul class="trigger">
                    #foreach($pictureUrl in $product.pictureUrls)
                      <li class="circularTrigger"></li>
                    #end
                </ul>
            </div>
            <div class="Calendar">
				<div id="idCalendarPre">上一月</div>
				<div id="idCalendarNext">下一月</div>
            
				<span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
				<table cellspacing="0">
					<thead>
						<tr>
                            <td>日</td>
                            <td>一</td>
                            <td>二</td>
                            <td>三</td>
                            <td>四</td>
                            <td>五</td>
                            <td>六</td>
						</tr>
					</thead>
					<tbody id="idCalendar">
					</tbody>
				</table>
			</div>
            <div style="padding-top:10px;">
            	<div id="frame_content" width="710">
            		<div id="pro_intro" class="FS12 F2">
    					<div class="pro_intro_tab clearFix">
				            <ul>
				                <li class="cur"><a href="#introduction">产品介绍</a></li>
				                <li><a href="#roompicture">房型图片</a></li>
				            </ul>
        				</div>
	        			<h2 id="introduction">产品介绍</h2>
				        <p>$!product.introduction</p>
						<h2 id="roompicture">房型图片</h2>
						<p><img src="$!product.categoryImage" /></p>
				        <div class="pro_intro_list1">
				            
				        </div>
	    			</div>
            	</div>
            </div>
        </div>
        
        <div class="d_right">
        	<div class="information">
            	<h3><i>特惠价</i> ￥<b><span id='tehui'>$!product.cheapestPrice</span></b>元/人起</h3>
                <table>
                	<tr><th><strong>酒店名称</strong>：</th><td><a href="${env.root}/product/detail.htm?productId=$!product.hotelId" target="hotel">$!hotelName</td></tr>
                	<tr><th><strong>市场价</strong>：</th><td>$!product.marketPrice 元</td></tr>
                    <tr><th><strong>商品编号</strong>：</th><td>$!product.productId</td></tr>
                    <tr><th><strong>支付方式</strong>：</th><td>$enumUtils.toPayTypeEnumDescs($!product.productTypes)</td></tr>
                    <tr><th><strong>房间信息</strong>：</th><td><span>$!product.roomArea</span>平米 &nbsp;&nbsp<span>$!product.bed</span></td></tr>
                    <tr><th></th><td>$!product.roomFacilities</td></tr>
                </table>
            </div>
            <div class="order">
            	#if(!$collectionUtils.isEmpty($product.details))
            	<form id="orderForm" action="${env.root}/order/book.htm" method="get">
                	<ul>
                		<li><strong>价格</strong>:&nbsp;<span id="price">$!product.details[0].price</span>元 </li>
                    	<li><strong>入住日期</strong>：
                   	    	<select name="productDetailId" id="checkinDateOpt" onchange="changeCheckinDate()">
                   	    		#set($i=0)
                   	    		#set($size=0)
								#foreach($detail in $!product.details)
								  #set($size=$size + $!detail.startDates.size())
                                  #foreach($checkinDay in $!detail.startDates)
                                  	#if($i != $size - 1)
                                    <option value=$detail.id #if($i==0) selected=true #end>$dateUtils.format($checkinDay,'yyyy-MM-dd')</option>
                                    #end
                                    #set($i=1+$i)
                                  #end
								#end
                  	        </select>
                  	     </li>
                         <li><strong>离店日期：</strong>
                             <select name="productDetailId" id="checkoutDateOpt" onchange="changeCheckoutDate()">
                   	    	 	 #set($i=1)
								 #foreach($detail in $!product.details)
                                   #foreach($checkinDay in $!detail.startDates)
                                   	 #if($i > 1)
                                  	   <option value=$detail.id #if($i==2) selected=true #end>$dateUtils.format($checkinDay,'yyyy-MM-dd')</option>
                                  	 #end;
                                     #set($i=1+$i)
                                   #end
								 #end
                  	         </select>
                  	     </li>
                         <li><strong>预订间数：</strong>&nbsp;<input type="text" name="roomCount" id="roomCount"></li>
                    </ul>
                	<button onclick="makeOrder()">&nbsp;&nbsp;&nbsp;</button>
					<input type="hidden" id="productId" name="productId" value="$!product.productId" />
					<input type="hidden" id="checkinDate" name="gmtOrderStart" value="$dateUtils.format($!product.details[0].startDates[0],'yyyy-MM-dd')"/>
					#set($i=1)
					#foreach($detail in $!product.details)
                      #foreach($checkoutDate in $!detail.startDates)
                      	#if($i == 2)
                      	  <input type="hidden" id="checkoutDate" name="gmtOrderEnd" value="$dateUtils.format($checkoutDate, 'yyyy-MM-dd')"/>
                      	  #break;
                      	#end
                      	#set($i=1+$i)
                      #end
                      #if ($i == 2)
                        #break;
                      #end
					#end
					
					<input type="hidden" id="productType" name="productType" value="FJ" />
                </form>
                #end
                <p class="F3">拨打电话预定 400 666 5599</p>
            </div>
        </div>
    </div>
</div>
#STATIC("JS",["/blogcal/blogcalendar.js"])
#XUI_JS(["core/xui-core.js","util/util-min.js","slide/slide.js"])
<script>
	var roomInfos = [
	  #foreach($detail in $product.details) 
	  	{id: "$!detail.id",
	  	 price: "$!detail.price",
	  	},	
  	  #end
	]
	
function changeCheckinDate(){
    var checkinObj = document.getElementById('checkinDateOpt');
    var checkoutObj = document.getElementById('checkoutDateOpt');
    document.getElementById('checkinDate').value = checkinObj.options[checkinObj.selectedIndex].text;
    for (var i = 0; i < roomInfos.length; i++) {
        if (checkinObj.value == roomInfos[i].id) {
            document.getElementById('price').innerHTML = roomInfos[i].price;
        }
    }
    var lastDateOpt = checkoutObj.options[checkoutObj.length - 1];
    checkoutObj.innerHTML = "";
    for (var i = checkinObj.selectedIndex; i + 1 < checkinObj.length; i++) {
        var option = document.createElement("option");
        option.text = checkinObj[i + 1].text;
        option.value = checkinObj[i + 1].value;
        checkoutObj.add(option);
    }
    checkoutObj.add(lastDateOpt);
    document.getElementById('checkoutDate').value = checkoutObj.options[checkoutObj.selectedIndex].text;
}

function changeCheckoutDate(){
    var checkoutObj = document.getElementById('checkoutDateOpt');
    document.getElementById('checkoutDate').value = checkoutObj.options[checkoutObj.selectedIndex].text;
}
//calendar
    //初始化Calendar
    var url = '${env.root}/ajax/priceCalendar.htm?productId=$!product.productId' ;
    
    var cale = new Calendar("idCalendar", {
    	SelectDay: new Date().setDate(10),
    	onSelectDay: function(o){ o.className = "onSelect"; },
    	onToday: function(o){ o.className = "onToday"; },
    	onFinish: function(){
    		var self = this;
    		
    		xui.util.Ajax.asyncGET(url , 
    				function(data){
            			try{
            				var obj = eval('('+data+')') ;
            				var calendar = obj.calendar ;
    						
    						$("idCalendarYear").innerHTML = cale.Year; 
							$("idCalendarMonth").innerHTML = cale.Month;
    						var flag = calendar  ;
                    		// var flag = [{severtime:"2012-01",data:[{id:10,name:"250元"},{id:15,name:"250"},{id:16,name:"250"}]},{severtime:"2012-02",data:[{id:12,name:"250元"},{id:14,name:"250"},{id:16,name:"250"}]}];
                    		for(var i = 0, len = flag.length; i < len; i++){
                    			var timer = flag[i].severtime.split("-");
                    			var b = self.Year == timer[0] && self.Month == timer[1]?true:false;
                    			if(b){
                    				var pricredate = flag[i].data;
                    				for(var i = 0; i<pricredate.length; i++){
                    					self.Days[pricredate[i].id].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:"+self.Year+"/"+self.Month+"/"+pricredate[i].id+"');return false;\">" + pricredate[i].id + "</a><br>"+pricredate[i].name+"";
                    				}
                    			}
                    		}
    						
    						
            			}catch(e){
            				alert('初始化日历失败！');
            			}
            		} , 
            		function(data){
            			alert("get data error!") ;
            		}
            ) ;
    	}
    });

    
    $("idCalendarPre").onclick = function(){ cale.PreMonth(); }
    $("idCalendarNext").onclick = function(){ cale.NextMonth(); }
    //$("idCalendarPreYear").onclick = function(){ cale.PreYear(); }
    //$("idCalendarNextYear").onclick = function(){ cale.NextYear(); }
    //$("idCalendarNow").onclick = function(){ cale.NowMonth(); }
</script>

