#set($layout="/front/default_new.vm")

#STATIC("CSS",["/blogcal/blogcalendar.css"])
#CSS(["detail.css"])

#set ($detail = $product.todayDetail)

<!-- main开始 -->
<div class="w950 main detail">

	<!-- dtl1开始 -->
	<div class="L">
		<div class="crumb">您当前的位置：周边自驾 > $!product.destProvince > $!product.destCity > $!product.destAddr</div>
		<dl class="txtImgRoll">
			<dt class="greenTtl">【周边自驾】$!product.name</dt>

			<dd class="bigRoll" id="dtlBigRoll">
				#foreach($image in $product.imageList)
					#set ($index = $velocityCount)
					#if($index < 4)
					<div class="tabCnt #if($index == 1)current#end"><img alt="" src="$image"><span></span></div>
					#end
                #end
				<ul class="tabTtl">
					#foreach($image in $product.imageList)
						#set($index = $velocityCount)
						#if($index < 4)
						<li #if($index == 1) class="current" #end ></li>
						#end
					#end
				</ul>
			</dd>
		</dl>

		<div class="mgt20">
			<div class="Calendar">
				<div id="idCalendarPre">上一月</div>
				<div id="idCalendarNext">下一月</div>
            
				<span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
				<table cellspacing="0">
					<thead>
						<tr>
                            <td>日</td>
                            <td>一</td>
                            <td>二</td>
                            <td>三</td>
                            <td>四</td>
                            <td>五</td>
                            <td>六</td>
						</tr>
					</thead>
					<tbody id="idCalendar">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- start prointro-->
		<div>
        	<div class="pro_intro_tab clearFix">
                <ul>
                    <li class="cur"><a href="#introduction">产品介绍</a></li>
                    <li><a href="#schedule">行程</a></li>
                    <li><a href="#feeDesc">费用说明</a></li>
                </ul>
            </div>
			<h2 class="banner mgt20" id="introduction"><strong>产品介绍</strong> </h2>
            <p>$!product.introduction</p>
            <h2 class="banner mgt20" id="schedule"><strong>行程</strong> </h2>
			<p>$!product.schedule</p>
			<h2 class="banner mgt20" id="feeDesc"><strong>费用说明</strong> </h2>
            <p>$!product.feeDesc</p>
        </div>
		<!-- end prointro -->
	</div>
	<div class="R mgt10">
		<!--
		<div class="share">
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>

				<a class="jiathis_button_icons_1"></a>
				<a class="jiathis_button_icons_2"></a>
				<a class="jiathis_button_icons_3"></a>
				<a class="jiathis_button_icons_4"></a>
			</div>
		</div>
		-->
		
		
		<div class="hotelDtl">
			<div class="hDtl1">
				<div class="price"><span class="ttl">特惠价</span><span class="num">￥<strong>$product.bottomPrice</strong>元起</span></div>

				<table>
					<tbody><tr><th><strong>市场价：</strong></th><td>$!product.marketPrice 元</td></tr>
					<tr><th><strong>商品编号：</strong></th><td>$!product.productId</td></tr>
					<tr><th><strong>支付方式：</strong></th><td>$enumUtils.toPayTypeEnumDescs($!product.payTypes)</td></tr>
					<tr><th><strong>附加产品</strong>：</th><td>#if($product.addProducts=='') 无 #else $enumUtils.toAddProductEnumDescs($!product.addProducts) #end</td></tr>
					<tr><th><strong>产品类别：</strong></th><td>$!product.productTypes</td></tr>
					<tr><th><strong>游玩天数</strong>：</th><td>$!product.days 天</td></tr>
				</tbody></table>
			</div>
			<div class="date">
					#set($detailItems = $!product.defaultDetailItems)
					#if($detailItems)
					<form id="orderForm" action="${env.root}/order/book.htm" method="get">
                	<ul>
                    	<li>使用日期：
                   	    	<select name="dateAndDetail" id="productDetailId" onchange="detailChange(this);">
								#foreach($dt in $detailItems )
									#set($index = $velocityCount)
									<option value="${dt.detailId}:$dateUtils.format($dt.date, 'yyyy-MM-dd')"  #if($index==1)selected="true" #end>$dateUtils.format($dt.date, 'yyyy-MM-dd') $dt.bottomPrice元 </option>
								#end
                  	        </select>
                  	     </li>
						<li>
							  单人：<span id='singlePrice'>$!detail.price</span>元 &nbsp;
							  双人：<span id='doublePrice'>$!detail.doublePrice</span>元  <br />
							  儿童：<span id='childPrice'>$!detail.childPrice</span> 元
						 </li>
                         <li>
							  成人数：<input type="text" name="count" id="adultNum" value="1" style="width:20px;">
							  儿童数：<input type="text" name="secondaryCount" id="childNum" value="0" style="width:20px;">
                         </li>
							
							
							
                    </ul>
                	<button type="submit" class="order" onclick="return checkOrder() ;">立即订购</button>
					<input type="hidden" id="productId" name="productId" value="$product.productId" />
					<input type="hidden" id="productType" name="productType" value="ZJ" />
                </form>
				#else
				#end
				<p class="gray">拨打电话预定 400 666 5599</p>
			</div>

		</div>
	</div>
</div>
<!-- main结束 -->


#JS(["validator.js"])
#STATIC("JS",["/blogcal/blogcalendar.js"])
#XUI_JS(["core/xui-core.js","util/util-min.js"])

<script>
    
	var details = [
	  #foreach($d in $detailItems) 
	  	{id: "$!d.detail.id",
	  	 singlePrice: "$!d.detail.price",
	  	 doublePrice: "$!d.detail.doublePrice",
	  	 childPrice: "$!d.detail.childPrice",
	  	},	
  	  #end
	] ;
	
	var detailChange = function(select){
		var index = select.selectedIndex ;
		var val = select.options[select.selectedIndex].value ;
		setDetail(index) ;
	}
	
	var setDetail = function(index){
		$element("singlePrice").innerHTML =  details[index].singlePrice ;
		$element("doublePrice").innerHTML =  details[index].doublePrice ;
		$element("childPrice").innerHTML =  details[index].childPrice ;
	}
	
	setDetail(0) ;
	
	//订单参数
	var checkOrder = function() {
		var adultNum = $element("adultNum").value ;
		var childNum = $element("childNum").value ;
		
		if(adultNum == '' || isNaN(adultNum)){
			alert('请输入成人数') ;
			return false ;
		}
		if(childNum == '' || isNaN(childNum)){
			alert('请输入儿童数') ;
			return false ;
		}
		
		return true ;
	}
	
	
	
    //calendar
    //初始化Calendar
    var url = '${env.root}/ajax/priceCalendar.htm?productId=$!product.productId' ;
    
    var cale = new Calendar("idCalendar", {
		
    	SelectDay: new Date().setDate(10),
    	onSelectDay: function(o){ o.className = "onSelect"; },
    	onToday: function(o){ o.className = "onToday"; },
    	onFinish: function(){
    		var self = this;
    		
    		xui.util.Ajax.asyncGET(url , 
    				function(data){
            			try{
            				var obj = eval('('+data+')') ;
            				var calendar = obj.calendar ;
    						
    						$element("idCalendarYear").innerHTML = cale.Year; 
							$element("idCalendarMonth").innerHTML = cale.Month;
    						var flag = calendar  ;
                    		// var flag = [{severtime:"2012-01",data:[{id:10,name:"250元"},{id:15,name:"250"},{id:16,name:"250"}]},{severtime:"2012-02",data:[{id:12,name:"250元"},{id:14,name:"250"},{id:16,name:"250"}]}];
                    		for(var i = 0, len = flag.length; i < len; i++){
                    			var timer = flag[i].severtime.split("-");
                    			var b = self.Year == timer[0] && self.Month == timer[1]?true:false;
                    			if(b){
                    				var pricredate = flag[i].data;
                    				for(var i = 0; i<pricredate.length; i++){
                    					self.Days[pricredate[i].id].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:"+self.Year+"/"+self.Month+"/"+pricredate[i].id+"');return false;\">" + pricredate[i].id + "</a><br>"+pricredate[i].name+"";
                    				}
                    			}
                    		}
    						
    						
            			}catch(e){
            				alert('初始化日历失败！');
            			}
            		} , 
            		function(data){
            			alert("get data error!") ;
            		}
            ) ;
    	}
    });

    
    $element("idCalendarPre").onclick = function(){ cale.PreMonth(); }
    $element("idCalendarNext").onclick = function(){ cale.NextMonth(); }
    //$element("idCalendarPreYear").onclick = function(){ cale.PreYear(); }
    //$element("idCalendarNextYear").onclick = function(){ cale.NextYear(); }
    //$element("idCalendarNow").onclick = function(){ cale.NowMonth(); }

</script>

