#set($layout="/front/default_new.vm")

#STATIC("CSS",["/blogcal/blogcalendar.css"])
#CSS(["detail.css","pro_intro.css"])

#set ($detail = $product.todayDetail)

<!-- main开始 -->
<div class="w950 main detail">

	<!-- dtl1开始 -->
	<div class="L">
		<div class="crumb">您当前的位置：周边度假 > $!product.destProvince > $!product.destCity > $!product.destArea > $!product.destAddr</div>
		<dl class="txtImgRoll">
			<dt class="greenTtl">【周边度假】$!product.name</dt>

			<dd class="bigRoll" id="dtlBigRoll">
				#foreach($image in $product.imageList)
					#set ($index = $velocityCount)
					#if($index < 4)
					<div class="tabCnt #if($index == 1)current#end"><img alt="" src="$image"><span></span></div>
					#end
                #end
				<ul class="tabTtl">
					#foreach($image in $product.imageList)
						#set($index = $velocityCount)
						#if($index < 4)
						<li #if($index == 1) class="current" #end ></li>
						#end
					#end
				</ul>
			</dd>
		</dl>

		<div class="mgt20">
			<div class="Calendar">
				<div id="idCalendarPre">上一月</div>
				<div id="idCalendarNext">下一月</div>
            
				<span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
				<table cellspacing="0">
					<thead>
						<tr>
                            <td>日</td>
                            <td>一</td>
                            <td>二</td>
                            <td>三</td>
                            <td>四</td>
                            <td>五</td>
                            <td>六</td>
						</tr>
					</thead>
					<tbody id="idCalendar" data-url="${env.root}/ajax/priceCalendar.htm?productId=$!product.productId">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- start prointro-->
		<div class="w950 mgt10">
    		<div class="L710">
        		<div class="pro_intro" id="pro_intro">
        			<ul class="tabTtl"><li class="current">产品介绍</li><li>行程</li><li>费用说明</li></ul>
        			<div class="tabCnt current">
        				<h2 class="banner mgt20"><strong>产品介绍</strong></h2>
        				$!product.introduction
						<h2 class="banner mgt20"><strong>行程</strong></h2>
        				$!product.schedule
						<h2 class="banner mgt20"><strong>费用说明</strong></h2>
        				$!product.feeDesc
        			</div>
        			<div class="tabCnt">
        				<h2 class="banner mgt20"><strong>行程</strong></h2>
        				$!product.schedule
        			</div>
        			<div class="tabCnt">
        				<h2 class="banner mgt20"><strong>费用说明</strong></h2>
        				$!product.feeDesc
        			</div>
        		</div>
        	</div>
        </div>
		
		
		    		
		<!-- end prointro -->
	</div>
	<div class="R mgt10">
		<!--
		<div class="share">
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>

				<a class="jiathis_button_icons_1"></a>
				<a class="jiathis_button_icons_2"></a>
				<a class="jiathis_button_icons_3"></a>
				<a class="jiathis_button_icons_4"></a>
			</div>
		</div>
		-->
		
		#set($detailItems = $!product.defaultDetailItems)
		<div class="hotelDtl">
			<div class="hDtl1">
            	<div class="price"><span class="ttl">特惠价</span><span class="num">￥<strong>$product.bottomPrice</strong></span><span class="small">起</span><i id="hDtlHelp" class="help"></i>
                  <div class="popForHelp" style="display: none;"><i style="left: 139px;"></i>
                    <div>#parse("/common/price_desc.vm")</div>
                  </div>
                </div>
				
				<table>
					<tbody><tr><th>市 场 价:</th><td><span class="through">$!product.marketPrice</span>元</td></tr>
					<tr><th>商品编号:</th><td>$!product.productId</td></tr>
					<tr><th>支付方式:</th><td>$enumUtils.toPayTypeEnumDescs($!product.payTypes)</td></tr>
                    <tr><th>游玩天数:</th><td>$!product.days 天</td></tr>
				</tbody></table>
			</div>
			<div class="date">
				#if(!$collectionUtils.isEmpty($detailItems))
				<form id="orderForm" action="${env.root}/order/book.htm" method="get">
				<dl>
					<dt>使用日期：</dt>
					<dd>
						<select name="dateAndDetail" id="productDetailId" onchange="detailChange(this);">
							#foreach($dt in $detailItems )
								#set($index = $velocityCount)
								<option value="${dt.detailId}:$dateUtils.format($dt.date, 'yyyy-MM-dd')"  #if($index==1)selected="true" #end>$dateUtils.format($dt.date, 'yyyy-MM-dd') 双人价 &yen;$dt.detail.doublePrice</option>
							#end
              	        </select>
					</dd>
				</dl>
				<table class="tb1"><tbody><tr>
							<th><span id='singlePrice'>$!detail.price</span><p>成人价</p></th>
							<th><span id='doublePrice'>$!detail.doublePrice</span><p>双人价</p></th>
							<th id="opChildPrice"><span id='childPrice'>$!detail.childPrice</span><p>儿童价</p></th>
				</tr></tbody></table>
                <table class="tb2"><tbody><tr><th>成人数：<input type="text" name="count" id="adultNum" value="1" style="width:20px;"></th><td><span id="opChildNum"> 儿童数：<input type="text" name="secondaryCount" id="childNum" value="0" style="width:20px;"></span></td></tr></tbody></table>
				
				
				<button class="order" onclick="return checkOrder() ;">立即订购</button>
				<input type="hidden" id="productId" name="productId" value="$product.productId" />
				<input type="hidden" id="productType" name="productType" value="ZJ" />
                </form>
				<p class="telTip">拨打电话预定 400-999-2788</p>
				#else
				该产品已过期，请咨询客服人员！
				#end
			</div>
			#if($product.locationCode)
			<div class="map mgt10" style="border:1px solid gray;height:180px;width:228px;" id="locationMap" data-location-code="$product.locationCode">
            </div>
			#end
		</div>
		
	</div>
</div>
<!-- main结束 -->


#JS(["validator.js","detail.js","pro_intro.js"])
#STATIC("JS",["/blogcal/blogcalendar.js"])


<script>
    
	var details = [
	  #foreach($d in $detailItems) 
	  	{id: "$!d.detail.id",
	  	 singlePrice: "$!d.detail.price",
	  	 doublePrice: "$!d.detail.doublePrice",
	  	 childPrice: "$!d.detail.childPrice"
	  	}#if($velocityCount != $detailItems.size()),#end
  	  #end
	] ;
	
	var detailChange = function(select){
		var index = select.selectedIndex ;
		var val = select.options[select.selectedIndex].value ;
		setDetail(index) ;
	}
	
	var setDetail = function(index){
		$element("singlePrice").innerHTML =  details[index].singlePrice ;
		$element("doublePrice").innerHTML =  details[index].doublePrice ;
		$element("childPrice").innerHTML =  details[index].childPrice ;
		if(details[index].childPrice <= 0){
			$element('opChildNum').style.display = 'none' ;
			$element('opChildPrice').style.display = 'none' ;
		}else{
			$element('opChildNum').style.display = 'block' ;
			$element('opChildPrice').style.display = 'block' ;
		}
	}
	
	setDetail(0) ;
	
	//订单参数
	var checkOrder = function() {
		var adultNum = $element("adultNum").value ;
		var childNum = $element("childNum").value ;
		
		if(adultNum == '' || isNaN(adultNum)){
			alert('请输入成人数') ;
			return false ;
		}
		if(adultNum <= 0){
			alert('成人数必须大于等于1');
			return false ;
		}
		if(childNum == '' || isNaN(childNum)){
			alert('请输入儿童数') ;
			return false ;
		}
		
		return true ;
	}
	
	
	
 
</script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
	!(function($){
		var locCode = $("#locationMap").attr('data-location-code') ;
		var map = new BMap.Map("locationMap");
		if(locCode != ''){
    		var codeArr = locCode.split(",");
    		//初始化map
    		$("#locationMap").show() ;
			var point = new BMap.Point(codeArr[0],codeArr[1]) ;
            map.centerAndZoom(point, 16);
			map.addOverlay(new BMap.Marker(point));
    	}
	})(jQuery);
	
</script>
