#set($layout="/product/default.vm")

#STATIC("CSS",["/blogcal/blogcalendar.css"])


<!-- 内容开始 -->
<div id="wrap">
    <div class="section urhere">
    	<p class="F3">您当前的位置： 门票  -  $!product.name</p>
    </div>
    
    <div id="detail" class="section">
    	<div class="d_left">
        	<h2 class="d_title">$!product.name</h2>
                <div id="Focus">
                    <ul id="Focus_content">
                        #foreach($pictureUrl in $!product.pictureUrls)
                          <li class="circularPanel">
                            <img src=$!pictureUrl width="710" height="250" />
                            <h2></h2>
                          </li>
                        #end
                    </ul>
                <ul class="trigger">
                    #foreach($pictureUrl in $!product.pictureUrls)
                      <li class="circularTrigger"></li>
                    #end
                </ul>
                </div>
				
            <!--价格日历-->
			<div class="Calendar">
				<div id="idCalendarPre">上一月</div>
				<div id="idCalendarNext">下一月</div>
            
				<span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
				<table cellspacing="0">
					<thead>
						<tr>
                            <td>日</td>
                            <td>一</td>
                            <td>二</td>
                            <td>三</td>
                            <td>四</td>
                            <td>五</td>
                            <td>六</td>
						</tr>
					</thead>
					<tbody id="idCalendar">
					</tbody>
				</table>
				
				<!--
                <input id="idCalendarNow" type="button" value="当前月" />
                -->
			</div>
			<!-- end  价格日历-->
            <!--产品信息说明-->
            <div style="padding-top:10px;">
            	<div id="frame_content" width="710">
            		<div id="pro_intro" class="FS12 F2">
    					<div class="pro_intro_tab clearFix">
				            <ul>
				                <li class="cur"><a href="#introduction">产品介绍</a></li>
				                <li><a href="#attention">注意事项</a></li>
				                <li><a href="#feedesc">费用说明</a></li>
				            </ul>
        				</div>
	        			<h2 id="introduction">产品介绍</h2>
							<p>$!product.introduction</p>
						<h2 id="attention">注意事项</h2>
				        <div class="pro_intro_list1">
				            <p>$!product.notice</p>
				        </div>
				        <h2 id="feedesc">费用说明</h2>
				        <div class="pro_intro_list2">
							<p>$!product.feedesc</p>
				        </div>
	    			</div>
            	</div>
            </div>
        </div>
        
        <div class="d_right">
        	<div class="information">
				
            	<h3><i>特惠价</i> ￥<b><span id='tehui'>$!product.cheapestPrice</span></b>元/人起</h3>
                <table>
                	<tr><th>市场价：</th><td>￥$!product.marketPrice </td></tr>
                    <tr><th>商品编号：</th><td>$!product.productId</td></tr>
                    <tr><th>支付方式：</th><td>$!product.payTypes</td></tr>
                    <tr><th>产品类别：</th><td>$!product.productTypes</td></tr>
                    <tr><th>景点地址：</th><td>$!product.destAddr</td></tr>
                </table>
            </div>
            <div class="order">
            	#if(!$collectionUtils.isEmpty($product.details))
            	<form id="orderForm" action="${env.root}/order/bookticket.htm">
                	<ul>
                    	<li>使用日期：
                   	    	<select name="productDetailId" id="productDetailId" onchange="changeUseDate()">
								#set($i=1)
								#foreach($ticketDetail in $!product.details)
                                  #foreach($ticketDay in $ticketDetail.startDates)
                                    <option value=$ticketDetail.id #if($i==1) selected=true #end>$dateUtils.format($ticketDay,'yyyy-MM-dd')</option>
                                    #set($i=1+$i)
                                  #end
								#end
                  	        </select>
                  	     </li>
                  	     <input type="hidden" id="useDate" name="gmtOrderStart" value="$dateUtils.format($!product.details.get(0).startDates.get(0),'yyyy-MM-dd')"/>
                         <li>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：<span id='price'>$!product.details.get(0).price</span>元</li>
                         <li>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：&nbsp;<input type="text" name="ticketNum" id="ticketNum"></li>
                    </ul>
                	<button type="submit">&nbsp;&nbsp;&nbsp;</button>
					<input type="hidden" id="productId" name="productId" value="$product.productId" />
                </form>
                #end
                <p class="F3">拨打电话预定 400 666 5599</p>
            </div>
        </div>
    </div>
</div>    
<!-- 内容结束 -->

#STATIC("JS",["/blogcal/blogcalendar.js"])
#XUI_JS(["core/xui-core.js","util/util-min.js","slide/slide.js"])
<script>
	
	var x = new xui.widgets.Slide();

	var ticketInfos = [
	  #foreach($detail in $product.detail) 
	  	{id: "$!detail.id",
	  	 price: "$!detail.price"
	  	},	
  	  #end
	]
	
	
    function changeUseDate(){
        var temp = document.getElementById('productDetailId');
        var ticketId = temp.value;
    	var price = document.getElementById('price');
        var useDay = temp.options[temp.selectedIndex].text;
    	document.getElementById('useDate').value = useDay;
        for (var i = 0; i < ticketInfos.length; i++) {
          if (ticketId == ticketInfos[i].id) {
              price.innerHTML = ticketInfos[i].price;
          }
        }
    }

	


	//calendar
    //初始化Calendar
    var url = '${env.root}/ajax/priceCalendar.htm?productId=$!product.productId' ;
    
    var cale = new Calendar("idCalendar", {
    	SelectDay: new Date().setDate(10),
    	onSelectDay: function(o){ o.className = "onSelect"; },
    	onToday: function(o){ o.className = "onToday"; },
    	onFinish: function(){
    		var self = this;
    		
    		xui.util.Ajax.asyncGET(url , 
    				function(data){
            			try{
            				var obj = eval('('+data+')') ;
            				var calendar = obj.calendar ;
    						
    						$("idCalendarYear").innerHTML = this.Year; $("idCalendarMonth").innerHTML = this.Month;
    						var flag = calendar  ;
                    		// var flag = [{severtime:"2012-01",data:[{id:10,name:"250元"},{id:15,name:"250"},{id:16,name:"250"}]},{severtime:"2012-02",data:[{id:12,name:"250元"},{id:14,name:"250"},{id:16,name:"250"}]}];
                    		for(var i = 0, len = flag.length; i < len; i++){
                    			var timer = flag[i].severtime.split("-");
                    			var b = self.Year == timer[0] && self.Month == timer[1]?true:false;
                    			if(b){
                    				var pricredate = flag[i].data;
                    				for(var i = 0; i<pricredate.length; i++){
                    					self.Days[pricredate[i].id].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:"+self.Year+"/"+self.Month+"/"+pricredate[i].id+"');return false;\">" + pricredate[i].id + "</a><br>"+pricredate[i].name+"";
                    				}
                    			}
                    		}
    						
    						
            			}catch(e){
            				alert('初始化日历失败！');
            			}
            		} , 
            		function(data){
            			alert("get data error!") ;
            		}
            ) ;
    	}
    });

    
    $("idCalendarPre").onclick = function(){ cale.PreMonth(); }
    $("idCalendarNext").onclick = function(){ cale.NextMonth(); }
    //$("idCalendarPreYear").onclick = function(){ cale.PreYear(); }
    //$("idCalendarNextYear").onclick = function(){ cale.NextYear(); }
    //$("idCalendarNow").onclick = function(){ cale.NowMonth(); }


</script>

