
#set($layout="/front/default.vm")

xswd的我的家


${env.root}/helloword.htm
<br/>
${env.staticroot}/helloword.js

#CSS(["base.css","General.css","main.css"])
#JS(["g.base.css","a.base.css"])
#XUI_JS(["core/xui-core.js","util/util.js","slide/slide.js"])
#XUI_CSS(["a.css","b.css"])

