#set($layout="/front/default.vm")
#################################################
<div class="Ifirst clearFix">
    <div class="leftSpecials">
        <div class="TodaySpecials">
            <h2>今日特价</h2>
            <ul>
                <li>
                    <img src="${env.staticroot}/images/index_13.png" width="210" height="120" />
                    <p class="clearFix">
                        <span>苏州双人两日游</span>
                        <span class="Todayprice">¥698</span>
                    </p>
                </li>
                <li>
                    <img src="${env.staticroot}/images/index_19.png" width="210" height="120" />
                    <p class="clearFix">
                        <span>苏州双人两日游</span>
                        <span class="Todayprice">¥698</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="SpecialsAdd">
            <img src="${env.staticroot}/images/index_03-10.png" width="222" height="72" />
        </div>
    </div>
    <div class="Hotspot clearFix">
        <div id="Focus" class="clearFix">
            <ul id="Focus_content">
                <li class="circularPanel">
                    <img src="${env.staticroot}/images/index_08.png" width="470" height="250" border="0" />
                </li>
                <li class="circularPanel">
                    <img src="${env.staticroot}/images/index_08.png" width="470" height="250" border="0" />
                </li>
                <li class="circularPanel">
                    <img src="${env.staticroot}/images/index_08.png" width="470" height="250" border="0" />
                </li>
                <li class="circularPanel">
                    <img src="${env.staticroot}/images/index_08.png" width="470" height="250" border="0" />
                </li>
            </ul>
            <ul class="trigger">
                <li class="circularTrigger">杨梅节专场</li>
                <li class="circularTrigger">三亚自由之旅</li>
                <li class="circularTrigger">摄影线路专场</li>
                <li class="circularTrigger" style="*width:116px;">情迷丽江</li>
            </ul>
        </div>
        <script type="text/javascript">
            var x = new xui.widgets.Slide();
        </script>
        <div class="HotTag clearFix">
            <ul>
                <h2>主题</h2>
                <li>漂流</li>
                <li>夏季专题</li>
                <li>亲子游</li>
                <li>丽江客栈</li>
                <li>半自助长途</li>
                <li>浙江自由行</li>
            </ul>
            <ul>
                <h2>景点</h2>
                <li>上海欢乐谷</li>
                <li>扬州瘦西湖</li>
                <li>苏州乐园</li>
                <li>环球恐龙城</li>
                <li>  江苏天目湖</li>
            </ul>
            <ul>
                <h2>周边</h2>
                <li>杭州</li>
                <li>乌镇</li>
                <li>苏州</li>
                <li>周庄</li>
                <li>黄山</li>
                <li>普陀山</li>
                <li>雁荡山</li>
                <li>三清山</li>
            </ul>
            <ul>
                <h2>价位</h2>
                <li>800元以上</li>
                <li>500-799元</li>
                <li>  300-499元</li>
                <li>100-299元</li>
            </ul>
        </div>
    </div>
    <div class="Login">
        <div class="Login_o">
            <img src="${env.staticroot}/images/index_05.png" width="229" height="40" />
        </div>
        <div class="Login_t">
            <img src="${env.staticroot}/images/index_16.png" width="230" height="230" />
        </div>
        <div class="Login_tr">
            <img src="${env.staticroot}/images/index_22.png" width="230" height="160" />
        </div>
    </div>
</div>
<div class="IBanner clearFix">
    <img src="${env.staticroot}/images/index_30.png" width="950" height="100" />
</div>
<div class="ISecond clearFix">
    <div class="ISecondnav clearFix">
        <span>千岛湖 连云港 普陀山 天目湖 黄山 嵊泗 象山 庐山 乌镇  <a href="#">更多</a>
        </span>
    </div>
    <div class="ISecondcontent clearFix">
        <div class="selfPeriphery">
            <img src="${env.staticroot}/images/index_28.png" width="222" height="262" />
        </div>
        <div class="selfInformation">
            <ul>
                <li class="selfshowbg">
                    <span>
                        <em>双溪皮筏漂流1日游</em>
                        坐牛车、打水仗,全程无</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>天下玉苑、王阳明故居、杨梅采摘1日游</em>
                        含景点门票120元，品尝...</span>
                        <span class="selfprice">
                            <i>￥58</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>千岛湖中心湖区1日</em>
                        游品秀水，全程含景点门票190元</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海天佛国普陀山祈福2日游</em>
                        朝拜观音圣境，尽享佛光</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>常州中华恐龙园峰水世界1日游</em>
                        游乐园，看表演，无购物，三.</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>象山、石浦渔家风情2日游</em>
                        游石浦古城、中国渔村，体验渔</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
            </ul>
        </div>
        <div class="selfPackage">
            <ul>
                <li>游秦淮河画舫、中华门城堡</li>
                <li>游南通狼山风景区</li>
            </ul>
            <div>
                <p>
                    <img src="${env.staticroot}/images/index_58-21.png" width="228" height="98" />
                </p>
                <p>
                    <img src="${env.staticroot}/images/index_58.png" width="228" height="100" />
                </p>
            </div>
        </div>
    </div>
    <div class="selfadd">
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_62.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_64.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_65.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_66-29.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_66.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul style=" margin:0;">
            <li>
                <img src="${env.staticroot}/images/index_67.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
    </div>
</div>
<div class="ISecond clearFix">
    <div class="ISecondnav ISecondnav2 clearFix">
        <span>三亚 丽江 厦门 北京 青岛 大连 张家界 西安 五台山  <a href="#">更多</a>
        </span>
    </div>
    <div class="ISecondcontent clearFix">
        <div class="selfPeriphery">
            <img src="${env.staticroot}/images/index_28.png" width="222" height="262" />
        </div>
        <div class="selfInformation">
            <ul class="selfInformation2">
                <li class="selfshowbg">
                    <span>
                        <em>双溪皮筏漂流1日游</em>
                        坐牛车、打水仗,全程无</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>天下玉苑、王阳明故居、杨梅采摘1日游</em>
                        含景点门票120元，品尝...</span>
                        <span class="selfprice">
                            <i>￥58</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>千岛湖中心湖区1日</em>
                        游品秀水，全程含景点门票190元</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海天佛国普陀山祈福2日游</em>
                        朝拜观音圣境，尽享佛光</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>常州中华恐龙园峰水世界1日游</em>
                        游乐园，看表演，无购物，三.</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>象山、石浦渔家风情2日游</em>
                        游石浦古城、中国渔村，体验渔</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
                <li>
                    <span>
                        <em>海岛嵊泗渔家乐2日游</em>
                        海边嬉水，出海捕鱼，过一把渔夫</span>
                        <span class="selfprice">
                            <i>￥583</i>
                            <b>起</b>
                        </span>
                </li>
            </ul>
        </div>
        <div class="selfPackage">
            <ul>
                <li>游秦淮河画舫、中华门城堡</li>
                <li>游南通狼山风景区</li>
            </ul>
            <div>
                <p>
                    <img src="${env.staticroot}/images/index_58-21.png" width="228" height="98" />
                </p>
                <p>
                    <img src="${env.staticroot}/images/index_58.png" width="228" height="100" />
                </p>
            </div>
        </div>
    </div>
    <div class="selfadd">
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_62.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_64.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_65.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_66-29.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul>
            <li>
                <img src="${env.staticroot}/images/index_66.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
        <ul style=" margin:0;">
            <li>
                <img src="${env.staticroot}/images/index_67.png" width="142" height="142" />
            </li>
            <li>
                <span>
                    <em>￥159.00</em>
                    <i>￥159.00</i>
                </span>
                <span>畅游何园、住四星扬州人家</span>
            </li>
        </ul>
    </div>
</div>
<div class="Ithird clearFix">
    <div class="Ithird_left">
        <div class="IthirdDynamic">
            <h2>度假OK动态</h2>
            <ul class="IthirdDynamictop clearFix">
                <li>
                    <img src="${env.staticroot}/images/index_66-29.png" width="142" height="91" />
                </li>
                <li>
                    <p>度假OK创始人的文艺品牌电商新势力访谈：度假OK创始人文艺品牌...</p>
                    <p>
                        <a href="#">阅读更多</a>
                    </p>
                </li>
            </ul>
            <ul class="IthirdDynamicbottom clearFix">
                <li>度假市场荒原万物生长</li>
                <li>度假OK坚持理想主义 也需要商业平衡</li>
                <li>新金融观察报：旅游行业B2C的腔调</li>
                <li>网易：旅游b2c品牌度假OK正式上线</li>
                <li>创业邦：度假OK正式上线 瞄准旅游行业</li>
                <li>onews：业内热议度假OK上线</li>
                <li>北京商报：国内首个B2C旅游品牌推出</li>
            </ul>
        </div>
        <div class="IthirdHot">
            <h2>驴友热议</h2>
            <div class="IthirdHotcontent">
                <ul class="IthirdHotlist clearFix">
                    <li>
                        <img src="${env.staticroot}/images/index_69-30.png" width="45" height="45" />
                    </li>
                    <li>
                        <h3>[杭州]<span> 双溪竹海漂流景区 </span>
                        </h3>
                        <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                    </li>
                </ul>
                <ul class="IthirdHotlist clearFix">
                    <li>
                        <img src="${env.staticroot}/images/index_73.png" width="45" height="45" />
                    </li>
                    <li>
                        <h3>[杭州]<span> 双溪竹海漂流景区 </span>
                        </h3>
                        <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                    </li>
                </ul>
                <ul class="IthirdHotlist clearFix">
                    <li>
                        <img src="${env.staticroot}/images/index_75.png" width="45" height="45" />
                    </li>
                    <li>
                        <h3>[杭州]<span> 双溪竹海漂流景区 </span>
                        </h3>
                        <p>十一游玩有些凉了，水好景色好，景区服务也好。景区用不了半天就可游览完，所以没有用餐和住宿。总体来说是个避暑的好地方！</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Ithird_right">
        <img src="${env.staticroot}/images/index_78.png" width="230" height="350" />
    </div>
</div>
