body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../logo_files/u12_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px
}

.u2 {
    position:absolute;
    left:46px;
    top:6px;
    width:150px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:79px;
    width:910px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:83px;
    top:163px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:130px;
    top:158px;
    width:430px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:90px;
    top:236px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:32px;
    top:575px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:32px;
    top:608px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:32px;
    top:641px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:185px;
    top:233px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:132px;
    top:570px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:132px;
    top:637px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:182px;
    top:641px;
    width:20px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:570px;
    top:162px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:32px;
    top:737px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:132px;
    top:728px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:132px;
    top:765px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:132px;
    top:801px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:132px;
    top:838px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:30px;
    top:880px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_original {
    background-image: url('../发布周边自驾_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:125px;
    top:873px;
    width:778px;
    height:236px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:778px;
    height:236px;
}

.u27 {
    position:absolute;
    left:2px;
    top:110px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:125px;
    top:873px;
    width:778px;
    height:236px
}

.u28 {
    position:absolute;
    left:11px;
    top:206px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:130px;
    top:202px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:228px;
    top:202px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:288px;
    top:202px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:358px;
    top:205px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:387px;
    top:202px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:485px;
    top:202px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:545px;
    top:202px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:720px;
    top:467px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:257px;
    top:236px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:351px;
    top:233px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:420px;
    top:236px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:515px;
    top:233px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41_line {
    background-image: url('../发布周边自驾_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:130px;
    top:266px;
    width:700px;
    height:3px;
}

.u41 {
    position:absolute;
    left:130px;
    top:266px;
    width:700px;
    height:3px
}

.u42 {
    position:absolute;
    left:90px;
    top:321px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:185px;
    top:318px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:130px;
    top:287px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:228px;
    top:287px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:288px;
    top:287px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:358px;
    top:290px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:387px;
    top:287px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:485px;
    top:287px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:545px;
    top:287px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:257px;
    top:321px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:351px;
    top:318px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:420px;
    top:321px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:515px;
    top:318px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55_line {
    background-image: url('../发布周边自驾_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:130px;
    top:351px;
    width:700px;
    height:3px;
}

.u55 {
    position:absolute;
    left:130px;
    top:351px;
    width:700px;
    height:3px
}

.u56 {
    position:absolute;
    left:90px;
    top:407px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:185px;
    top:404px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:130px;
    top:373px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:228px;
    top:373px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:288px;
    top:373px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:358px;
    top:376px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:387px;
    top:373px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:485px;
    top:373px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:545px;
    top:373px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:257px;
    top:407px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:351px;
    top:404px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:420px;
    top:407px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:515px;
    top:404px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_line {
    background-image: url('../发布周边自驾_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:130px;
    top:437px;
    width:700px;
    height:3px;
}

.u69 {
    position:absolute;
    left:130px;
    top:437px;
    width:700px;
    height:3px
}

.u70 {
    position:absolute;
    left:90px;
    top:491px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:185px;
    top:488px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:130px;
    top:457px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:228px;
    top:457px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:288px;
    top:457px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:358px;
    top:460px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:387px;
    top:457px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:485px;
    top:457px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:545px;
    top:457px;
    width:52px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:257px;
    top:491px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:351px;
    top:488px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:420px;
    top:491px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:515px;
    top:488px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83_line {
    background-image: url('../发布周边自驾_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:130px;
    top:521px;
    width:700px;
    height:3px;
}

.u83 {
    position:absolute;
    left:130px;
    top:521px;
    width:700px;
    height:3px
}

.u84 {
    position:absolute;
    left:650px;
    top:467px;
    width:54px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:650px;
    top:387px;
    width:54px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:650px;
    top:298px;
    width:54px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:650px;
    top:214px;
    width:54px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:32px;
    top:542px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:83px;
    top:131px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:130px;
    top:131px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:30px;
    top:1130px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_original {
    background-image: url('../发布周边自驾_files/u26_original.png');
}

.u94_container {
    position:absolute;
    left:125px;
    top:1123px;
    width:778px;
    height:236px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:778px;
    height:236px;
}

.u95 {
    position:absolute;
    left:2px;
    top:110px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:125px;
    top:1123px;
    width:778px;
    height:236px
}

.u96 {
    position:absolute;
    left:30px;
    top:1380px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_original {
    background-image: url('../发布周边自驾_files/u26_original.png');
}

.u97_container {
    position:absolute;
    left:125px;
    top:1373px;
    width:778px;
    height:236px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:778px;
    height:236px;
}

.u98 {
    position:absolute;
    left:2px;
    top:110px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:125px;
    top:1373px;
    width:778px;
    height:236px
}

.u99 {
    position:absolute;
    left:32px;
    top:674px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:130px;
    top:1683px;
    width:150px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 21px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:30px;
    top:1614px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:130px;
    top:1613px;
    width:770px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

