<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>#if ($title)$!title #else 度假OK - 后台管理 #end</title>
        #CSS(["houtai.css"])
    </head>
    <body>
        <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td width="233">
                    <img src="${env.staticroot}/images/logo.jpg" width="226" height="73" />
					<td class="FS24 B">#if ($menu_name)$!menu_name #else 后台系统  #end</td>
                </td>
                <td width="343">
                    
                    <input type="submit" name="1" id="1" value="&nbsp;&nbsp;前台展示页后台&nbsp;&nbsp;" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="2" id="2" value="&nbsp;&nbsp;订单后台&nbsp;&nbsp;" />
                
                </td>
            </tr>
        </table>
        <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td height="10"></td>
            </tr>
        </table>
		<div>
		$screen_content
		</div>
    </body>
</html>
