html {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
body {
    background: none repeat scroll 0 0 white;
    line-height: 1.5;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    float: none !important;
    font-weight: normal;
    text-align: left;
}
table, th, td {
    vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: medium none;
}
:focus {
    outline: 0 none;
}
html {
    font-size: 100.01%;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}
h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-weight: normal;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
p {
    margin: 0 0 1.5em;
}
.left {
    float: left !important;
}
p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
.right {
    float: right !important;
}
p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a:focus, a:hover {
    color: #000000;
}
a {
    color: #0066CC;
    text-decoration: underline;
}
blockquote {
    color: #666666;
    font-style: italic;
    margin: 1.5em;
}
strong, dfn {
    font-weight: bold;
}
em, dfn {
    font-style: italic;
}
sup, sub {
    line-height: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666666;
}
address {
    font-style: italic;
    margin: 0 0 1.5em;
}
del {
    color: #666666;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em/1.5 'andale mono','lucida console',monospace;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
table {
    margin-bottom: 1.4em;
    width: 100%;
}
th {
    font-weight: bold;
}
thead th {
    background: none repeat scroll 0 0 #C3D9FF;
}
th, td, caption {
    padding: 4px 10px 4px 5px;
}
tbody tr:nth-child(2n) td, tbody tr.even td {
    background: none repeat scroll 0 0 #E5ECF9;
}
tfoot {
    font-style: italic;
}
caption {
    background: none repeat scroll 0 0 #EEEEEE;
}
.small {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}
.large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
.hide {
    display: none;
}
.quiet {
    color: #666666;
}
.loud {
    color: #000000;
}
.highlight {
    background: none repeat scroll 0 0 #FFFF00;
}
.added {
    background: none repeat scroll 0 0 #006600;
    color: #FFFFFF;
}
.removed {
    background: none repeat scroll 0 0 #990000;
    color: #FFFFFF;
}
.first {
    margin-left: 0;
    padding-left: 0;
}
.last {
    margin-right: 0;
    padding-right: 0;
}
.top {
    margin-top: 0;
    padding-top: 0;
}
.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
.container {
    margin: 0 auto;
    width: 950px;
}
.showgrid {
    background: url("src/grid.png") repeat scroll 0 0 transparent;
}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
    float: left;
    margin-right: 10px;
}
.last {
    margin-right: 0;
}
.span-1 {
    width: 30px;
}
.span-2 {
    width: 70px;
}
.span-3 {
    width: 110px;
}
.span-4 {
    width: 150px;
}
.span-5 {
    width: 190px;
}
.span-6 {
    width: 230px;
}
.span-7 {
    width: 270px;
}
.span-8 {
    width: 310px;
}
.span-9 {
    width: 350px;
}
.span-10 {
    width: 390px;
}
.span-11 {
    width: 430px;
}
.span-12 {
    width: 470px;
}
.span-13 {
    width: 510px;
}
.span-14 {
    width: 550px;
}
.span-15 {
    width: 590px;
}
.span-16 {
    width: 630px;
}
.span-17 {
    width: 670px;
}
.span-18 {
    width: 710px;
}
.span-19 {
    width: 750px;
}
.span-20 {
    width: 790px;
}
.span-21 {
    width: 830px;
}
.span-22 {
    width: 870px;
}
.span-23 {
    width: 910px;
}
.span-24 {
    margin-right: 0;
    width: 950px;
}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
    border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
input.span-1, textarea.span-1 {
    width: 18px;
}
input.span-2, textarea.span-2 {
    width: 58px;
}
input.span-3, textarea.span-3 {
    width: 98px;
}
input.span-4, textarea.span-4 {
    width: 138px;
}
input.span-5, textarea.span-5 {
    width: 178px;
}
input.span-6, textarea.span-6 {
    width: 218px;
}
input.span-7, textarea.span-7 {
    width: 258px;
}
input.span-8, textarea.span-8 {
    width: 298px;
}
input.span-9, textarea.span-9 {
    width: 338px;
}
input.span-10, textarea.span-10 {
    width: 378px;
}
input.span-11, textarea.span-11 {
    width: 418px;
}
input.span-12, textarea.span-12 {
    width: 458px;
}
input.span-13, textarea.span-13 {
    width: 498px;
}
input.span-14, textarea.span-14 {
    width: 538px;
}
input.span-15, textarea.span-15 {
    width: 578px;
}
input.span-16, textarea.span-16 {
    width: 618px;
}
input.span-17, textarea.span-17 {
    width: 658px;
}
input.span-18, textarea.span-18 {
    width: 698px;
}
input.span-19, textarea.span-19 {
    width: 738px;
}
input.span-20, textarea.span-20 {
    width: 778px;
}
input.span-21, textarea.span-21 {
    width: 818px;
}
input.span-22, textarea.span-22 {
    width: 858px;
}
input.span-23, textarea.span-23 {
    width: 898px;
}
input.span-24, textarea.span-24 {
    width: 938px;
}
.append-1 {
    padding-right: 40px;
}
.append-2 {
    padding-right: 80px;
}
.append-3 {
    padding-right: 120px;
}
.append-4 {
    padding-right: 160px;
}
.append-5 {
    padding-right: 200px;
}
.append-6 {
    padding-right: 240px;
}
.append-7 {
    padding-right: 280px;
}
.append-8 {
    padding-right: 320px;
}
.append-9 {
    padding-right: 360px;
}
.append-10 {
    padding-right: 400px;
}
.append-11 {
    padding-right: 440px;
}
.append-12 {
    padding-right: 480px;
}
.append-13 {
    padding-right: 520px;
}
.append-14 {
    padding-right: 560px;
}
.append-15 {
    padding-right: 600px;
}
.append-16 {
    padding-right: 640px;
}
.append-17 {
    padding-right: 680px;
}
.append-18 {
    padding-right: 720px;
}
.append-19 {
    padding-right: 760px;
}
.append-20 {
    padding-right: 800px;
}
.append-21 {
    padding-right: 840px;
}
.append-22 {
    padding-right: 880px;
}
.append-23 {
    padding-right: 920px;
}
.prepend-1 {
    padding-left: 40px;
}
.prepend-2 {
    padding-left: 80px;
}
.prepend-3 {
    padding-left: 120px;
}
.prepend-4 {
    padding-left: 160px;
}
.prepend-5 {
    padding-left: 200px;
}
.prepend-6 {
    padding-left: 240px;
}
.prepend-7 {
    padding-left: 280px;
}
.prepend-8 {
    padding-left: 320px;
}
.prepend-9 {
    padding-left: 360px;
}
.prepend-10 {
    padding-left: 400px;
}
.prepend-11 {
    padding-left: 440px;
}
.prepend-12 {
    padding-left: 480px;
}
.prepend-13 {
    padding-left: 520px;
}
.prepend-14 {
    padding-left: 560px;
}
.prepend-15 {
    padding-left: 600px;
}
.prepend-16 {
    padding-left: 640px;
}
.prepend-17 {
    padding-left: 680px;
}
.prepend-18 {
    padding-left: 720px;
}
.prepend-19 {
    padding-left: 760px;
}
.prepend-20 {
    padding-left: 800px;
}
.prepend-21 {
    padding-left: 840px;
}
.prepend-22 {
    padding-left: 880px;
}
.prepend-23 {
    padding-left: 920px;
}
.border {
    border-right: 1px solid #DDDDDD;
    margin-right: 5px;
    padding-right: 4px;
}
.colborder {
    border-right: 1px solid #DDDDDD;
    margin-right: 25px;
    padding-right: 24px;
}
.pull-1 {
    margin-left: -40px;
}
.pull-2 {
    margin-left: -80px;
}
.pull-3 {
    margin-left: -120px;
}
.pull-4 {
    margin-left: -160px;
}
.pull-5 {
    margin-left: -200px;
}
.pull-6 {
    margin-left: -240px;
}
.pull-7 {
    margin-left: -280px;
}
.pull-8 {
    margin-left: -320px;
}
.pull-9 {
    margin-left: -360px;
}
.pull-10 {
    margin-left: -400px;
}
.pull-11 {
    margin-left: -440px;
}
.pull-12 {
    margin-left: -480px;
}
.pull-13 {
    margin-left: -520px;
}
.pull-14 {
    margin-left: -560px;
}
.pull-15 {
    margin-left: -600px;
}
.pull-16 {
    margin-left: -640px;
}
.pull-17 {
    margin-left: -680px;
}
.pull-18 {
    margin-left: -720px;
}
.pull-19 {
    margin-left: -760px;
}
.pull-20 {
    margin-left: -800px;
}
.pull-21 {
    margin-left: -840px;
}
.pull-22 {
    margin-left: -880px;
}
.pull-23 {
    margin-left: -920px;
}
.pull-24 {
    margin-left: -960px;
}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {
    float: left;
    position: relative;
}
.push-1 {
    margin: 0 -40px 1.5em 40px;
}
.push-2 {
    margin: 0 -80px 1.5em 80px;
}
.push-3 {
    margin: 0 -120px 1.5em 120px;
}
.push-4 {
    margin: 0 -160px 1.5em 160px;
}
.push-5 {
    margin: 0 -200px 1.5em 200px;
}
.push-6 {
    margin: 0 -240px 1.5em 240px;
}
.push-7 {
    margin: 0 -280px 1.5em 280px;
}
.push-8 {
    margin: 0 -320px 1.5em 320px;
}
.push-9 {
    margin: 0 -360px 1.5em 360px;
}
.push-10 {
    margin: 0 -400px 1.5em 400px;
}
.push-11 {
    margin: 0 -440px 1.5em 440px;
}
.push-12 {
    margin: 0 -480px 1.5em 480px;
}
.push-13 {
    margin: 0 -520px 1.5em 520px;
}
.push-14 {
    margin: 0 -560px 1.5em 560px;
}
.push-15 {
    margin: 0 -600px 1.5em 600px;
}
.push-16 {
    margin: 0 -640px 1.5em 640px;
}
.push-17 {
    margin: 0 -680px 1.5em 680px;
}
.push-18 {
    margin: 0 -720px 1.5em 720px;
}
.push-19 {
    margin: 0 -760px 1.5em 760px;
}
.push-20 {
    margin: 0 -800px 1.5em 800px;
}
.push-21 {
    margin: 0 -840px 1.5em 840px;
}
.push-22 {
    margin: 0 -880px 1.5em 880px;
}
.push-23 {
    margin: 0 -920px 1.5em 920px;
}
.push-24 {
    margin: 0 -960px 1.5em 960px;
}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {
    float: left;
    position: relative;
}
div.prepend-top, .prepend-top {
    margin-top: 1.5em;
}
div.append-bottom, .append-bottom {
    margin-bottom: 1.5em;
}
.box {
    background: none repeat scroll 0 0 #F3F3F3;
    margin-bottom: 1.5em;
    padding: 1.5em;
}
hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 1px;
    margin: 0 0 17px;
    width: 100%;
}
hr.space {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    visibility: hidden;
}
.clearfix:after, .container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix, .container {
    display: block;
}
.clear {
    clear: both;
}


body {
    color: #555555;
    font: 12px/1.5 tahoma,arial;
    margin: 0;
    padding: 0;
}
a {
    color: #336699;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#header {
    background: url("/images/header/header_bg.png") repeat-x scroll center bottom transparent;
    margin: 0 auto 15px;
    padding: 0;
}
#content {
    padding: 0;
}
#stepcontent {
    background: url("/images/content.gif") repeat-y scroll center center transparent;
    border-bottom: 3px solid #D10B01;
    padding-bottom: 20px;
}
#sidebar {
    padding: 20px;
}
#renzheng {
    background: url("/images/footer/renzheng.gif") no-repeat scroll 0 0 transparent;
    height: 75px;
    margin: 20px 0;
}
#footer {
    font-size: 0.8em;
    margin: 10px 0 0;
    padding: 0;
}
#logo {
    background: url("/images/logo.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 67px;
    text-indent: -99999em;
    width: 255px;
}
#mainstatus {
    background: url("/images/header/status_bg.jpg") repeat-x scroll 0 0 transparent;
    color: #666666;
    height: 29px;
    line-height: 28px;
}
#mainstatus a {
    color: #666666;
    text-decoration: none;
}
#mainstatus a:hover {
    text-decoration: underline;
}
#mainstatus em {
    color: #CCCCCC;
    font-style: normal;
    margin: 0 11px;
}
#userinfo a {
    color: #AE0901;
    margin-left: 10px;
}
#mainmenu {
    position: relative;
}
#mainmenu .notice {
    position: absolute;
    right: -80px;
    top: -2px;
    width: 309px;
}
#mainmenu .notice a {
    color: #FFFFFF;
}
#mainmenu ul {
    height: 39px;
    margin: 0;
    padding: 0;
}
#mainmenu ul li {
    border-left: 1px solid #E70000;
    border-right: 1px solid #930000;
    display: inline;
    float: left;
    margin: 0;
}
#mainmenu ul li a, #mainmenu ul li a span {
    display: block;
}
#mainmenu ul li a {
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0;
    text-decoration: none;
}
#mainmenu ul li a span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
    background: none repeat scroll 0 0 #343434;
    text-decoration: none;
}
#mainmenu ul li a:hover span, #mainmenu ul li.active a span {
    background: none repeat scroll 0 0 #343434;
    color: white;
}
.youshi {
    background: url("/images/youshi.png") no-repeat scroll 700px 0 white;
}
.baozhang {
    background: url("/images/index/baozhang.jpg") no-repeat scroll 0 0 white;
    height: 80px;
    margin: 15px 0 0;
    padding: 0 0 15px;
    position: relative;
}
.baozhang .close {
    background: url("/images/icon/close.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -9em;
    top: 5px;
    width: 9px;
}
.baozhang .close:hover {
    background-position: -9px 0;
}
.withstep {
    background: url("/images/fanli/withstep.jpg") repeat-x scroll center top transparent;
    border-left: 1px solid #E9E5DF;
    border-right: 1px solid #E9E5DF;
}
.steps {
    height: 41px;
    line-height: 34px;
    margin-bottom: 40px;
    overflow: hidden;
}
.steps ol {
    margin: 0;
    padding: 0;
}
.steps li {
    color: #808080;
    display: inline;
    float: left;
    font-size: 14px;
    height: 34px;
    margin-top: 2px;
    overflow: hidden;
    text-align: center;
    width: 316px;
}
.steps li span {
    display: block;
    font-weight: bold;
    padding: 0 12px 0 0;
}
.steps li span a {
    color: black;
    text-decoration: none;
}
.steps li strong {
    display: block;
    font-weight: 500;
}
.steps li.current {
    background: url("/images/fanli/steps.jpg") no-repeat scroll 0 0 transparent;
    color: #AE0901;
}
#searchform {
    background: url("/images/index/quan-tips.gif") no-repeat scroll 0 49px transparent;
    margin: 0 auto 2em;
    padding: 0 15px;
    position: relative;
    width: 670px;
}
#topsearch {
    float: left;
    margin-top: 23px;
    position: relative;
    width: 446px;
}
#topsearch form {
    background: url("/images/header/shop_search.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 38px;
    position: relative;
}
#topsearch form .t_input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid green ;
    float: left;
    font-size: 16px;
    height: 38px;
    padding: 0 8px;
    width: 323px;
}
#topsearch form .t_button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 38px;
    overflow: hidden;
    padding: 0;
    text-indent: -99em;
    width: 103px;
}
#topsearch form input:focus {
    border: medium none;
    outline: medium none;
}
#topsearch .errorMessage {
    color: red;
    height: 25px;
    line-height: 25px;
}
#searchform form {
    background: url("/images/fanli/bg_fanli.png") no-repeat scroll 6px 5px transparent;
    display: block;
    height: 38px;
    padding: 6px;
    position: relative;
}
#SearchForm_url {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid green ;
    font-size: 16px;
    height: 38px;
    padding: 0 8px;
    width: 485px;
}
#SearchForm_url:focus {
    
    outline: medium none;
}
#SearchForm_btn {
	  margin-left : 10px;
    cursor: pointer;
    height: 38px;
    overflow: hidden;
    padding: 0;
    width: 150px;
    font : 15px "Î¢ÈíÑÅºÚ" ;
}
#searchform .errorMessage {
    color: red;
    height: 25px;
    line-height: 25px;
}
#indextips {
}
#indextips ul {
    margin: 0;
    padding: 0;
}
#indextips li {
    display: inline;
    float: left;
    margin: 0 0 0 10px;
}
#indextips li a {
    color: #333333;
    padding: 0 0 0 10px;
    text-decoration: none;
}
#item {
    margin-top: 2em;
    margin-left:260px;
}
#item .span-2 img {
    border: 1px solid #F1C5E0;
    height: 70px;
    width: 70px;
}
#item h4 {
    color: #333333;
    height: 34px;
    overflow: hidden;
}
#item p {
    color: #585858;
    height: 16px;
}
#item p em {
    font-style: normal;
    margin-right: 10px;
}
#item p span {
    color: #FC0D09;
}
#commission, #price {
    color: #4EA205;
    float: left;
    font-size: 14px;
    margin-left: 230px;
    width: 150px;
}
#commission span, #price span {
    font-size: 48px;
    line-height: 42px;
}
#commission em, #price em {
    font-size: 28px;
    font-style: normal;
}
#price {
    color: #FF0033;
    margin: 0 20px 0 60px;
    width: 130px;
}
#recommend {
    position: relative;
}
#recommend h3 {
    font-size: 1.2em;
    line-height: 1.2;
}
#recommend .list-view {
    height: 275px;
    overflow: hidden;
    position: relative;
}
#recommend .item {
    border-top: 1px solid #E0E0E0;
    height: 44px;
    padding: 5px 0;
    position: relative;
}
#recommend .span-2 {
    margin-right: 9px;
    width: 44px;
}
#recommend .span-6 {
    margin-right: 0;
    width: 267px;
}
#recommend .span-2 img {
    border: 1px solid #F8C6E6;
    float: left;
    height: 42px;
    width: 42px;
}
#recommend .span-6 p {
    color: #8C8C8C;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 257px;
}
#recommend .span-6 p a {
    font-size: 14px;
    text-decoration: none;
}
#recommend .span-6 p a:hover {
    text-decoration: underline;
}
#recommend .span-6 p span {
    color: #2A2A2A;
    display: block;
    margin-top: 5px;
}
#recommend .span-3 {
    color: #588D0E;
    font-size: 22px;
    line-height: 44px;
    overflow: hidden;
}
#recommend #bottom_trans {
    background: url("/images/index/bottom_trans.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 45px;
    left: 0;
    position: absolute;
    width: 410px;
}
#alipayform {
    background: none repeat scroll 0 0 #FFFCF0;
    border: 1px solid #D8D8D8;
    margin: 0 auto 15px;
    padding: 1.5em 0;
    width: 710px;
}
#alipayform label {
    color: #5B9400;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 220%;
}
#alipayform #BindForm_alipay, #alipayform #tao_nick {
    border: 2px solid #5B9400;
    color: #767575;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin: 0 15px;
    padding: 0 5px;
    vertical-align: middle;
    width: 283px;
}
#alipayform #tao_nick {
    border-color: #FE7F0A;
    width: 230px;
}
#alipayform #alipaysubmit, #alipayform #taobaosubmit {
    background: url("/images/button/taobao_btn.png") no-repeat scroll right center transparent;
    border: medium none;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 170px;
}
#alipayform #taobaosubmit {
    background: url("/images/button/alipay_btn.png") no-repeat scroll right center transparent;
}
#lighttips {
    background: url("/images/icon/light.png") no-repeat scroll left center transparent;
    line-height: 22px;
    margin: 1.2em auto 0;
    padding-left: 20px;
    vertical-align: middle;
    width: 540px;
}
#sharetip {
    background: url("/images/fanli/textshare.gif") no-repeat scroll 50px 6px transparent;
    margin: 0 auto 50px;
    overflow: hidden;
    padding: 10px 0;
    width: 710px;
}
#sharetip ul {
    margin: 0 0 0 180px;
    padding: 0;
}
#sharetip ul li {
    float: left;
    list-style: none outside none;
    padding: 0 5px;
}
#sharetip ul li a {
    color: #595959;
    text-decoration: none;
}
#sharetip ul li a:hover {
    color: black;
    text-decoration: underline;
}
#sharetip ul .share {
    background: none repeat scroll 0 0 transparent;
    color: #595959;
    padding-right: 0;
}
#sharetip ul li s {
    -moz-transition: all 0.8s ease-in-out 0s;
    background: url("/images/icon/jiathis_ico.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 16px;
    margin-right: 3px;
    margin-top: 1px;
    width: 16px;
}
#sharetip ul li:hover s {
    -moz-transform: rotate(360deg);
}
#sharetip ul .share_qzone s {
    background-position: 0 0;
}
#sharetip ul .share_tsina s {
    background-position: 0 -16px;
}
#sharetip ul .share_tqq s {
    background-position: 0 -32px;
}
#sharetip ul .share_renren s {
    background-position: 0 -48px;
}
#sharetip ul .share_kaixin001 s {
    background-position: 0 -64px;
}
#lianjie .span-16 .shorturl {
    color: #0084FF;
    font-size: 18px;
    text-decoration: none;
    word-wrap: break-word;
}
.dashed {
    background: url("/images/user/line_s2.png") no-repeat scroll center bottom transparent;
    height: 20px;
    margin: 40px 0 20px;
    width: auto;
}
.site-help {
    background: url("/images/footer/site_help.png") repeat-x scroll 0 0 #FFFBFD;
    border-top: 1px solid #DEDEDE;
    height: 87px;
    margin-top: 15px;
    padding: 22px 0 0;
    text-align: center;
}
.site-help span {
    display: inline-block;
    height: 55px;
    margin: 0 30px;
    width: 140px;
}
.site-help span a {
    background: url("/images/footer/tuan_promise.png") no-repeat scroll -999em -999em transparent;
    float: left;
    height: 55px;
    overflow: hidden;
    text-indent: -99999em;
    width: 140px;
}
.site-help span.help-1 {
    margin-left: 50px;
}
.site-help span.help-1 a {
    background-position: 0 0;
}
.site-help span.help-2 a {
    background-position: -140px 0;
}
.site-help span.help-3 a {
    background-position: -280px 0;
}
.site-help span.help-4 a {
    background-position: -420px 0;
}
.site-footer {
    background: none repeat scroll 0 0 #AE0000;
    clear: both;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.footer-copyright {
    margin: 15px 0;
    text-align: center;
}
.footer-copyright p {
    line-height: 20px;
    margin: 0;
}
.site-footer a {
    color: #FFFFFF;
    padding: 0 7px;
    text-decoration: none;
}
.site-footer p {
    color: #C44545;
    margin: 0;
    padding: 0;
}
.site-footer p.qt-links, .site-footer p.qt-links a {
    color: #B81300;
}
.site-footer p.qt-links a {
    padding: 0 10px;
}
.goods-list {
    margin: 0 6px;
    padding: 25px 0;
}
.goods-list .items {
    overflow: hidden;
    width: 100%;
}
.goods-list .goods {
    border: 1px solid #E4E4E4;
    display: inline;
    float: left;
    height: 428px;
    margin: 15px 6px 25px;
    position: relative;
    width: 298px;
}
.goods-list .goods .freeshipping {
    right: 10px;
    top: 0;
}
.goods-list .goods .pic {
    height: 280px;
    margin: 9px;
    overflow: hidden;
    width: 280px;
}
.goods-list .goods .pic img {
    display: block;
    height: 280px;
    width: 280px;
}
.goods-list .goods h2 {
    background: url("/images/top/line252x4.png") no-repeat scroll 50% 0 transparent;
    font-size: 14px;
    font-weight: normal;
    height: 44px;
    line-height: 22px;
    margin: 0 0 3px;
    overflow: hidden;
    padding: 5px 9px 0;
}
.goods-list .goods h2 .tag {
    color: #41A001;
    font-style: normal;
}
.goods-list .goods h2 a {
    color: #545454;
    text-decoration: none;
}
.goods-list .goods .price-info {
    height: 22px;
    line-height: 22px;
    padding: 4px 9px 0;
    position: relative;
}
.goods-list .goods .price-info .discount {
    background: url("/images/top/discount_bg.png") no-repeat scroll 100% 0 transparent;
    color: #F40F0F;
    height: 29px;
    line-height: 28px;
    padding: 0 8px 0 4px;
    position: absolute;
    right: 9px;
    top: -2px;
}
.goods-list .goods .price-info .discount .l {
    background: url("/images/top/discount_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 29px;
    margin-left: -16px;
    overflow: hidden;
    width: 12px;
}
.goods-list .goods .price-info .discount em {
    font-size: 18px;
    padding-right: 2px;
}
.goods-list .goods .price-info .tb-price, .goods-list .goods .price-info .sell {
    color: #000000;
    float: left;
    height: 22px;
    margin: 0;
    overflow: hidden;
    width: 100px;
}
.goods-list .goods .price-info .sell em {
    color: #D22020;
}
.goods-list .goods .qt-action {
    background: url("/images/top/qt_action.png") no-repeat scroll -999em -999em transparent;
    bottom: -7px;
    height: 38px;
    left: -1px;
    padding: 4px 11px 11px 14px;
    position: absolute;
    width: 275px;
}
.goods-list .goods .qt-action .qt-price {
    color: #FFFFFF;
    float: left;
    font-size: 24px;
    line-height: 38px;
}
.goods-list .goods .qt-buy {
    background-position: 0 0;
}
.goods-list .goods .qt-buy .buy {
    float: right;
    height: 38px;
    overflow: hidden;
    text-indent: -99em;
    width: 108px;
}
.goods-list .goods .qt-soldout {
    background-position: -300px 0;
}
.goods-list .goods .qt-soldout .buy {
    display: none;
}
.goods-list .pager {
    margin: 0 10px;
    text-align: right;
}
.small2big {
    padding-left: 10px;
    position: absolute;
    z-index: 10000;
}
.small2big .skin {
    background: none repeat scroll 0 0 #F2F7FF;
    border: 1px solid #C6DEFF;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 250px;
}
.small2big s {
    border-bottom: 14px dashed transparent;
    border-right: 14px solid #C6DEFF;
    border-top: 14px dashed transparent;
    font-size: 0;
    height: 0;
    left: -4px;
    line-height: 0;
    position: absolute;
    top: 20px;
    width: 0;
}
.small2big s s {
    border-right: 13px solid #F2F7FF;
    left: 2px;
    top: -14px;
}
.small2big-p4p {
    padding: 0 10px 0 0;
}
.small2big-p4p s {
    border-left: 14px solid #C6DEFF;
    border-right: 0 none;
    left: auto;
    right: -4px;
}
.small2big-p4p s s {
    border-left: 13px solid #F2F7FF;
    border-right: 0 none;
    left: -15px;
    top: -14px;
}
.small2big b {
    display: block;
}
.small2big b a {
    display: table-cell;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    width: 250px;
}
.small2big b a img {
    max-height: 250px;
    max-width: 250px;
    vertical-align: middle;
}
.small2big b a.loading {
    background: url("/images/small2big/imageloading.gif") no-repeat scroll 50% 50% transparent;
}
.small2big b a.loading img {
    visibility: hidden;
}
.btn-main, .btn-main-disable, .btn-mini, .btn-mini-disable, .btn-silver, .btn-main-silver {
    background: url("/images/btn/btn.png") no-repeat scroll right -30px transparent;
    display: inline-block;
    height: 30px;
    padding-right: 5px;
    text-decoration: none;
    vertical-align: middle;
}
.btn-main span, .btn-main-disable span, .btn-mini span, .btn-mini-disable span, .btn-silver span, .btn-main-silver span, .btn-main button, .btn-main-disable button, .btn-mini button, .btn-mini-disable button, .btn-silver button, .btn-main-silver button {
    background: url("/images/btn/btn.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0 25px 0 30px;
    text-align: center;
}
.btn-main span, .btn-main-disable span, .btn-mini span, .btn-mini-disable span, .btn-silver span, .btn-main-silver span {
    -moz-box-sizing: border-box;
}
.btn-main:hover {
    background-position: right -98px;
}
.btn-main:hover span, .btn-main:hover button {
    background-position: 0 -68px;
}
.btn-main-disable {
    background-position: right -235px;
}
.btn-main-disable span, .btn-main-disable button {
    background-position: 0 -205px;
    color: #AAAAAA;
    cursor: default;
    text-decoration: none;
}
.btn-mini {
    background-position: right -388px;
    height: 22px;
    margin: 0 0 5px;
}
.btn-mini span, .btn-silver span, .btn-mini button, .btn-silver button {
    background-position: 0 -364px;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    padding: 0 9px 0 14px;
}
.btn-mini:hover {
    background-position: right -439px;
}
.btn-mini:hover span, .btn-mini:hover button {
    background-position: 0 -417px;
}
.btn-mini-disable {
    background-position: right -549px;
    height: 22px;
}
.btn-mini-disable span, .btn-mini-disable button {
    background-position: 0 -527px;
    color: #808080;
    cursor: default;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    padding: 0 9px 0 12px;
    text-decoration: none;
}
.btn-main-silver {
    background-position: right -817px;
}
.btn-main-silver span, .btn-main-silver button {
    background-position: 0 -787px;
    color: #484848;
}
.btn-main-silver:hover {
    background: url("/images/btn/btn.png") no-repeat scroll right -890px transparent;
}
.btn-main-silver:hover span, .btn-main-silver:hover button {
    background: url("/images/btn/btn.png") no-repeat scroll 0 -860px transparent;
}
.btn-silver {
    background-position: right -671px;
    height: 22px;
}
.btn-silver span, .btn-silver button {
    background-position: 0 -648px;
    color: #484848;
}
.btn-main:hover, .btn-main-disable:hover, .btn-mini:hover, .btn-mini-disable:hover, .btn-silver:hover, .btn-main-silver:hover {
    text-decoration: none;
}
.btn-sina {
    background: url("/images/btn/btn.png") no-repeat scroll 0 -1072px transparent;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    width: 126px;
}
.btn-sina span, .btn-taobao span, .btn-sina button, .btn-taobao button {
    display: none;
}
.btn-taobao {
    background: url("/images/btn/btn_taobao.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 39px;
    overflow: hidden;
    width: 178px;
}
.btn-alipay {
    background: url("/images/btn/btn_alipay.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    overflow: hidden;
    text-indent: -999em;
    width: 121px;
}
.btn-mail {
    background: url("/images/btn/btn_mail.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    overflow: hidden;
    text-indent: -999em;
    width: 177px;
}
button, .btn {
    cursor: pointer;
    overflow: hidden;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C8C8C8 #999999 #999999 #C8C8C8;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #404040;
    display: inline-block;
    letter-spacing: 0;
    line-height: 12px;
    padding: 0;
    text-decoration: none;
    word-spacing: 0;
}
.btn .i {
    background-color: #F6F6F6;
    background-image: url("/images/button/btni.png");
    background-position: 0 -60px;
    background-repeat: repeat-x;
    border: 0 none;
    color: #404040;
    cursor: pointer;
    display: inline-block;
    font: 100 12px/14px simsun,sans-serif;
    height: 15px;
    margin: 1px;
    padding: 1px 5px;
}
.btn span.i {
    -moz-box-sizing: border-box;
}
.btn:hover {
    border-color: #AAAAAA #999999 #999999 #AAAAAA;
    text-decoration: none;
}
.btn .i:active {
    background-position: 0 -75px;
    color: #555544;
}
.btn-yellow {
    border-color: #F9C250 #E59900 #E59900 #F9C250;
}
.btn-yellow:hover {
    border-color: #E59900;
}
.btn-yellow .i {
    background-color: #FEF3A9;
    background-position: 0 0;
}
.btn-yellow .i:active {
    background-position: 0 -15px;
}
.btn-pink {
    border-color: #FFD4B5 #FFBC8F #FFBC8F #FFD4B5;
}
.btn-pink:hover {
    border-color: #FFBC8F;
}
.btn-pink .i {
    background-color: #FEF1E9;
    background-position: 0 -30px;
}
.btn-pink .i:active {
    background-position: 0 -45px;
}
.btn-disabled, .btn-disabled:hover, .btn-disabled:active, .btn-disabled:visited {
    background: none repeat scroll 0 0 #FEFEFE;
    border-color: #C8C8C8;
    cursor: default;
}
.btn-disabled .i, .btn-disabled .i:hover, .btn-disabled .i:active {
    background: none repeat scroll 0 0 #F3F3F3;
    color: #999999;
    cursor: default;
}
.right {
    float: right;
}
.left {
}
#login-form .row, #forget-form .row, #register-form .row, #bind-form .row {
    margin: 10px 0;
}
#login-form label, #forget-form label, #register-form label, #bind-form label {
    line-height: 26px;
    margin: 0.2em 1em 0.5em 0;
}
#login-form input, #forget-form input, #register-form input, #bind-form input {
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    font-size: 14px;
    height: 16px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
}
#bind-form .tooltip, #form-report .tooltip, #board-form .tooltip {
    border: 1px solid #CCCCCC;
    color: #666666;
}
.login-mini {
    float: right;
    margin-bottom: 10px;
    width: 282px;
}
.login-mini .login-mini-outer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 5px;
}
.login-minin-c {
    background: url("/images/login-minni-c.png") repeat-y scroll 0 0 transparent;
    overflow: hidden;
    padding: 5px 20px;
}
.login-minin-c h3 {
    border-bottom: 1px dotted #C0C0C0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.login-minin-c .btn-main-silver {
    margin-left: 40px;
}
.login-minin-c ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 20px;
}
.login-minin-c ul li {
    background: url("/images/liststyle_1.png") no-repeat scroll left center transparent;
    color: #777777;
    line-height: 22px;
    padding-left: 25px;
}
.login-minin-c p {
    color: #777777;
    margin: 0 0 10px;
}
.login-minin-top {
    background: url("/images/login-minni-top.png") no-repeat scroll 0 0 transparent;
    height: 13px;
}
.login-mini-c p {
    margin: 25px 0 10px;
}
.tooltip {
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 10px;
    width: 230px;
}
.tooltip ul {
    margin: 0;
    padding: 10px 0 0 20px;
}
.tooltip code {
    color: #AE0901;
    font-size: 0.9em;
}
.msg .error, .msg .stop, .msg .alert, .msg .attention, .msg .tips, .msg .ok, .msg .notice, .msg .question, .msg .help, .msg .small-help {
    background: url("/images/msg_bg.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    color: #404040;
    float: left;
    line-height: 18px;
    padding: 2px 10px 2px 23px;
}
.msg .error {
    background-color: #FFF2F2;
    background-position: 3px 3px;
    border-color: #FF8080;
}
.msg .stop {
    background-color: #FFF2F2;
    background-position: 3px -47px;
    border-color: #FF8080;
}
.msg .alert {
    background-color: #FFF5F6;
    background-position: 3px -97px;
    border-color: #FF8C40;
}
.msg .attention {
    background-color: #E5F5FF;
    background-position: 3px -147px;
    border-color: #40B3FF;
}
.msg .tips {
    background-color: #FFFFE5;
    background-position: 3px -197px;
    border-color: #FFCC7F;
}
.msg .ok {
    background-color: #F0FFE5;
    background-position: 3px -247px;
    border-color: #4DBF00;
}
.msg .notice {
    background-color: #E6F5FF;
    background-position: 5px -295px;
    border-color: #40B3FF;
}
.msg .question {
    background-color: #F2F2F2;
    background-position: 3px -347px;
    border-color: #BFBFBF;
}
.msg .small-help {
    background-color: #FFFFFF;
    background-position: 5px -1095px;
    border-color: #FFFFFF;
}
.msg .help {
    background-color: #FFFFFF;
    background-position: 3px -1197px;
    border-color: #FFFFFF;
}
.msg p {
    min-height: 18px;
}
.msg24 .error, .msg24 .attention, .msg24 .tips, .msg24 .ok, .msg24 .question {
    background: url("/images/msg_bg.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    padding: 17px 10px 17px 56px;
}
.msg24 .error {
    background-color: #FFF2F2;
    background-position: 12px -388px;
    border-color: #FF8080;
}
.msg24 .attention {
    background-color: #E5F5FF;
    background-position: 12px -488px;
    border-color: #40B3FF;
}
.msg24 .tips {
    background-color: #FFFFE5;
    background-position: 15px -888px;
    border-color: #FFCC7F;
}
.msg24 .ok {
    background-color: #F0FFE5;
    background-position: 12px -988px;
    border-color: #4DBF00;
}
.msg24 .question {
    background-color: #F2F2F2;
    background-position: 12px -788px;
    border-color: #BFBFBF;
}
.msg .naked, .msg24 .naked {
    background-color: transparent;
    border: medium none;
}
.msg24 .naked-tips {
    background-position: 15px -688px;
}
.msg24 .naked-ok {
    background-position: 12px -588px;
}
.msg:after, .msg24:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.msg, .msg24 {
}
.box-s2 {
    clear: both;
    margin-bottom: 10px;
}
.box-s2 h1 {
    background: url("/images/user/title_s1_bg.png") repeat-x scroll 0 bottom transparent;
    color: #FFFFFF;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
}
.box-s2-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #D5D5D5 #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 10px 10px 0;
}
.box-s6 {
    border-bottom: 0 solid #E5E5E5;
    margin-bottom: 10px;
    padding: 0 20px 20px 30px;
}
.box-s6 p {
    line-height: 18px;
    margin-bottom: 0;
}
.box-s8 {
    overflow: hidden;
    padding: 0 20px 40px 30px;
}
.box-s8 .title {
    font-size: 14px;
    font-weight: normal;
    margin-left: 30px;
}
.income, .expend, .balance {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 10px;
    position: relative;
}
.income {
    color: #41830E;
}
.expend {
    color: #E00000;
}
.income i, .expend i, .balance i {
    background: url("/images/icon/money.png") no-repeat scroll 0 0 transparent;
    bottom: 22%;
    height: 10px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 8px;
}
.balance i {
    background-position: 0 -10px;
}
.expend i {
    background-position: 0 -20px;
}
.credit {
    background: url("/images/icon/credit.gif") repeat-x scroll -999px -999px transparent;
    color: white;
    display: inline-block;
    font-size: 0;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -99em;
    width: 0;
}
.credit_0 {
    width: 0;
}
.credit_1 {
    background-position: 0 0;
    width: 17px;
}
.credit_2 {
    background-position: 0 0;
    width: 34px;
}
.credit_3 {
    background-position: 0 0;
    width: 51px;
}
.credit_4 {
    background-position: 0 0;
    width: 68px;
}
.credit_5 {
    background-position: 0 0;
    width: 85px;
}
.credit_6 {
    background-position: 0 -32px;
    width: 17px;
}
.credit_7 {
    background-position: 0 -32px;
    width: 34px;
}
.credit_8 {
    background-position: 0 -32px;
    width: 51px;
}
.credit_9 {
    background-position: 0 -32px;
    width: 68px;
}
.credit_10 {
    background-position: 0 -32px;
    width: 85px;
}
.credit_11 {
    background-position: 0 -64px;
    width: 17px;
}
.credit_12 {
    background-position: 0 -64px;
    width: 34px;
}
.credit_13 {
    background-position: 0 -64px;
    width: 51px;
}
.credit_14 {
    background-position: 0 -64px;
    width: 68px;
}
.credit_15 {
    background-position: 0 -64px;
    width: 85px;
}
.credit_16 {
    background-position: 0 -80px;
    width: 17px;
}
.credit_17 {
    background-position: 0 -80px;
    width: 34px;
}
.credit_18 {
    background-position: 0 -80px;
    width: 51px;
}
.credit_19 {
    background-position: 0 -80px;
    width: 68px;
}
.credit_20 {
    background-position: 0 -80px;
    width: 85px;
}
#boardRank {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #CCCCCC;
    height: 28px;
    line-height: 28px;
}
#forceguidOverlay {
    background: url("/images/index/bg.png") repeat-x scroll 50% 50% #AAAAAA;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
#forceguid {
    background-color: white;
    color: #FE6C00;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 180%;
    padding: 20px;
    position: absolute;
    top: 100px !important;
    width: 565px;
}
#forceguid a {
    color: #0099CC;
    font-size: 22px;
    text-decoration: none;
}
#forcebtn {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
#forceguid3 {
    margin-top: 30px;
}
#forceguid3 p, #forceguid3 a {
    font-size: 14px;
    line-height: 180%;
}
#forceguid3 p {
    color: #FE6C00;
    margin-left: 10px;
}
#forceguid3 span {
    color: black;
}
.useLink {
    color: #FFC600;
}
.useLink:hover {
    color: #FFFFFF;
}
.userHelp {
    overflow: hidden;
}
.userHelp ul li {
    height: 20px;
    line-height: 20px;
    margin: 2px 0;
}
.portal_content {
    font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
}
