.detail .L{ width:710px; overflow:hidden;}
.detail .bigRoll{position:relative;}
.detail .bigRoll,.detail .bigRoll .tabCnt{height:280px;}
.detail .bigRoll .tabCnt img{width:710px;height:250px;overflow:hidden;}
.detail .bigRoll .tabCnt span{display:block;margin-top:10px;width:480px;height:14px; line-height:14px;overflow:hidden;}
.detail .tabTtl{position:absolute;top:265px;width:100px;right:0;overflow:hidden;}
.detail .tabTtl li{float:left; display:inline;margin-left:20px;width:9px;height:9px;background-position:0 -518px;overflow:hidden;}
.detail .tabTtl li.current{width:11px;height:11px;background-position:0 -457px;}
.detail .R{ width:230px;}
.hDtl1{position:relative; padding:15px;border:1px solid #249F00; border-bottom:none; overflow:hidden;}
.hDtl1 .price{ overflow:hidden;}
.hDtl1 .price .ttl{float:left; margin:10px 10px 0 0; padding:2px 5px; background:#FF9D1D;color:#fff;}
.hDtl1 .price .num{float:left; color:#E8004C;}
.hDtl1 .price strong{ font-size:26px; font-weight:bold;}
.hDtl1 .price .help{margin:12px 0 0 5px;}
.hDtl1 .popForHelp{display:none;position:absolute;left:13px; top:50px;_margin-left:-15px;}
.hDtl1 .popForHelp i{position:absolute; z-index:1; left:153px; top:0; width:11px; height:7px; background-position:0 -727px;}
.hDtl1 .popForHelp div{position:absolute;left:0; top:6px; padding:5px 10px; width:180px; line-height:24px; border:1px solid #ddd; background:#F3F3F3;}
.hDtl1 table{ margin-top:10px;}
.hDtl1 tr{ height:30px;}
.hDtl1 th{ font-weight:normal;width:70px; text-align:right;}
.hDtl1 td{ width:100px;}
.detail .date{ padding:15px;border:1px solid #FFBD5F; border-top:none;background:#FFF3E3;}
.detail .date li{ margin:15px 0;}
.detail .order{ margin:20px 0 10px 33px;width: 132px;height: 42px; background-position:0 -60px;}
.detail .date .total{ margin:16px 0;}
.detail .date input{ margin-left:8px; width:40px; height:18px;}
.detail .date .gray{ text-align:center;}