.detail .L{width:710px; overflow:hidden;}
.detail .bigRoll{position:relative;}
.detail .bigRoll,.detail .bigRoll .tabCnt{height:280px;}

.detail .bigRoll .tabCnt {
	width:550px;
	height: 250px;
	overflow: hidden ;	
}

.detail .bigRoll .tabCnt img{
	width:550px;
}
.detail .bigRoll .tabCnt span{display:block;margin-top:10px;width:480px;height:14px; line-height:14px;overflow:hidden;}
.detail .bigRoll .tabTtl{position:absolute;top:265px;width:100px;right:0;overflow:hidden;}
.detail .bigRoll .tabTtl li{float:left; display:inline;margin-left:20px;width:9px;height:9px;background-position:0 -284px;overflow:hidden;}
.detail .bigRoll .tabTtl li.current{width:9px;height:9px;background-position:0 -314px;}
.detail .R{width:230px;}
.hDtl1{position:relative; padding:15px;border:1px solid #249F00; border-bottom:none; overflow:hidden;}
.hDtl1 .price{overflow:hidden;}
.hDtl1 .price .ttl{float:left; margin:10px 10px 0 0; padding:2px 5px; background:#FF9D1D;color:#fff;}
.hDtl1 .price .num{float:left;color:#E8004C;}
.hDtl1 .price .small{float:left;margin-top:11px;}
.hDtl1 .price strong{font-size:26px; font-weight:bold;}
.hDtl1 .price .help{margin:8px 0 0 5px;}
.hDtl1 .popForHelp{display:none;position:absolute;left:13px; top:50px;_margin-left:-15px;}
.hDtl1 .popForHelp i{position:absolute; z-index:1; left:153px; top:0; width:11px; height:7px; background-position:0 -727px;}
.hDtl1 .popForHelp div{position:absolute;left:0; top:6px; padding:5px 10px; width:180px; line-height:24px; border:1px solid #ddd; background:#F3F3F3;}
.hDtl1 table{margin-top:10px;}
.hDtl1 tr{height:30px;}
.hDtl1 th{font-weight:normal;width:70px; text-align:right;}
.hDtl1 td{padding-left:10px; width:140px;}
.detail .date{padding:15px;border:1px solid #FFBD5F;background:#FFFAF3;}
.detail .date select{width:194px;}
.detail .date dt{margin-bottom:4px;}
.detail .date .tb1{margin-top:10px;}
.detail .date .tb1 th{padding:15px 0;width:63px;text-align:center;border:1px solid #DADADA;color:#000;}
.detail .date .tb1 th p{margin-top:10px;color:#999;font-weight:normal;}

.detail .date .tb2{margin-top:10px;color:#666;}
.detail .date .tb2 tr{height:26px;}
.detail .date .tb2 input{margin:0;width:32px; height:24px; text-align:center;color:#666; border:1px solid #ddd;}
.detail .date .tb2 td{width:106px;}
.detail .date .tb2 th{width:140px;text-align:left;font-weight:normal;}
.detail .order{cursor:pointer;margin:20px 0 10px 33px;width: 130px;height: 40px; background-position:0 -60px;}
.detail .date .telTip{text-align:center;color:#666;}

.detail .xgpt{margin:15px 0 5px 15px;}
.detail .xgpt span{display:inline-block;margin:0 5px 5px 0; padding:0 7px; height:20px; line-height:20px; border:1px solid #DCDCDC; background:#F1F1F1; overflow:hidden;}

.detail .map{height:238px;}
.detail .action{ height:30px; line-height:30px; border-top:1px solid #dcdcdc; text-align:center; background:#f0f0f0;}
.detail .action a{ color:#666;}

.detail .zjll{ margin:25px auto 20px auto; width:170px;overflow:hidden;}
.detail .zjll span{ display:block; height:32px; line-height:32px; overflow:hidden;}
.detail .zjll em{ float:left;}
.detail .zjll strong{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#E8004C;}
.detail .zjll a:hover em,.detail .zjll a:hover strong{ text-decoration:underline;}

.detail .pro_intro{ margin-top:10px;}