.dingdan .odrTtl{ overflow:hidden;}
.dingdan .flag{ float:left;width:64px; height:30px;text-indent:-9999px; background-position:-451px -60px;}
.dingdan .greenTtl{ float:left;margin:2px 7px;}
.dingdan .product{ width:100%;}
.dingdan .product td{padding:5px; line-height:26px; border:1px solid #DCDCDC;}
.dingdan .product thead td{ font-weight:bold; text-align:center; background:#F3F6F8;}
.dingdan .product input{width:20px; height:14px; border:1px solid #DCDCDC;}
.dingdan .attPro input{ margin-right:10px; vertical-align:middle;}
.dingdan .attPro label{ margin:0 70px 0 5px;}
.dingdan .contactInfo tr{height:30px;}
.dingdan .contactInfo th{ padding-right:5px;width:100px; text-align:right; font-weight:normal;}
.dingdan .L{ width:710px; overflow:hidden;}
.dingdan .R{ width:230px; overflow:hidden;}
.dingdan .contactInfo i{color:#f00;}
.dingdan .contactInfo input{border:1px solid #DCDCDC;}
.dingdan .contactInfo .w184{ width:184px; height:18px;}
.dingdan .subContact{margin-top:10px; height:100%;border-top:1px solid #ccc; overflow:hidden;}
.dingdan .operateInfo a,.dingdan .subContact a{color:#06c;}
.dingdan .operateInfo .add{display:block;margin:20px 0 0 20px;color:#06c;}
.dingdan .operateInfo input{vertical-align:top;vertical-align:baseline\9;}
.dingdan .order{ display:block; margin:20px 0; width:132px; height:42px; background-position:-150px -60px; overflow:hidden;}
.dingdan .operateInfo label{ margin-left:5px;}
.dingdan .moneyTotal{ width:228px; border:1px solid #249F00;}
.dingdan .moneyTotal h3{ height:30px; line-height:30px; text-align:center;font-weight:normal; color:#fff; background:#249F00;}
.dingdan .moneyTotal table{ margin:10px;}
.dingdan .moneyTotal tr{ height:30px;}
.dingdan .moneyTotal th{padding-right:5px;width:80px; text-align:right; font-weight:normal;}
.dingdan .moneyTotal p{ margin:20px 0 20px 30px; line-height:26px; color:#999;}
.dingdan .redTtl{ float:left; margin:2px 16px; font-size:22px;}
.dingdan .pay{ clear:left;}
.dingdan .pay td,.dingdan .pay th{padding-top:20px; vertical-align:top;border-bottom:1px solid #dcdcdc;}
.dingdan .pay td{width:75px;}
.dingdan .pay th{width:630px; text-align:left;}
.dingdan .pay input{float:left;}
.dingdan .pay label{float:left;padding:0 63px 20px 0;*padding-right:60px;}
.dingdan .pay img{margin-left:5px; width:123px; height:30px; vertical-align:middle;border:1px solid #dcdcdc;}
.dingdan .qrxd th,.dingdan .qrxd td{ padding:0; border-bottom:none;}
.dingdan2 p{ margin-top:20px;}
.dingdan3 .pgt20 td,.dingdan3 .pgt20 th{padding:20px 0 10px 0;}
.dingdan a , .dingdan a:hover , .dingdan a:active , .dingdan a:visited {
	text-decoration:none ;
}

.dingdan .orderProtocol a {
	color: #0066CC;
    text-decoration: underline;
}
.dingdan .bank-list {
	
}

.dingdan .bank-list li {
	float:left;
	width:150px;
}

.bankicon{
    background-image: url(../images/bankicon.png);
    display:inline-block;
    height: 30px;
    width:120px;
    background-repeat: no-repeat;
}
.ICBC{    
    background-position: 0 -40px;
}
.CMB {
    background-position: 0 -80px;
}
.CCB{
    background-position: 0 -320px;
}
.BOC{
    background-position: 0 -520px;
}
.ABC{
    background-position: 0 -480px;
}
.COMM{
    background-position: 0 -600px;
}
.PSBC {
    background-position: 0 -400px;
}
.CEB {
    background-position: 0 -440px;
}
.SPDB {
    background-position: 0 -360px;
}
.GDB {
    background-position: 0 -280px;
}
.CITIC {
    background-position: 0 -200px;
}
.CIB {
    background-position: 0 -3365px;
}
.SDB {
    background-position: 0 -240px;
}
.CMBC {
    background-position: 0 -120px;
}
.HZCB {
    background-position: 0 -760px;
}
.SHBANK {
    background-position: 0 -840px;
}
.BJRCB {
    background-position: 0 -2640px;
}
.SPABANK {
    background-position: 0 -1880px;
}
.FDB {
    background-position: 0 -1320px;
}
.NBBANK {
    background-position: 0 -1240px;
}
.BJBANK {
    background-position: 0 -3240px;
}
.WZCB {
    background-position: 0 -1720px;
}

