/* search */
.hSchL{width:230px;overflow:hidden;}
.hSchL .hSchL1 .btm{ margin:10px auto; padding-top:8px; width:210px; height:60px; line-height:30px; border-top:1px solid #dcdcdc;}
.hSchL .hSchL1 .btm span{margin-right:5px;}
.hSchL .hSchL1 .btm a{margin-right:10px;}
.hSchR{width:710px;overflow:hidden;}
.hSchR .hSchR2 li{height:233px;}
.hSchR .hSchR2 .txt,.hSchR .hSchR2 table{ width:538px;}
.hSchR .hSchR2 table{ margin-top:5px;}
.hSchR .hSchR2 thead{background:#F2F2F2;}
.hSchR .hSchR2 td,.hSchR .hSchR2 th{height:31px;}
.hSchR .hSchR2 td.first{padding-left:20px;}
.hSchR .hSchR2 th{font-weight:normal;}
.hSchR .hSchR2 tbody td,.hSchR .hSchR2 tbody th{ border-bottom:1px solid #dcdcdc;}
.hSchR .hSchR2 tbody th{padding-left:8px;text-align:left; font-weight:normal;color:#06c;}
.hSchR .hSchR2 td a,.hSchR .hSchR2 td a{ display:inline-block; width:36px; height:19px; line-height:19px; text-align:center; color:#fff; text-decoration:none; background-position:-742px 0;}