a {
	color: #0066CC;
	text-decoration: none;
}

table.list_sy {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 12px;
}

table.list_sy tr {
	
}

table.list_sy tr td {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.list_jd {
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

table.list_jd_top {
	border-top: 1px solid #ccc;
}

table.list_jd tr th {
	padding: 7px;
	border-bottom: 1px dotted #E8E8E8;
}

table.list_jd tr td {
	padding: 7px;
}

ul.tab_sy {
	width: 960px;
	height: 37px;
	border-bottom: 1px solid #ccc;
}

ul.tab_sy li {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	float: left;
	margin-right: 6px;
}

ul.tab_sy li a {
	padding: 10px 40px;
	display: block;
}

ul.tab_sy li a:hover {
	background-color: #ff6600;
	font-weight: bold;
	color: #fff;
}

ul.tab_sy li.cur a {
	background-color: #ccc;
	font-weight: bold;
	color: #111;
}

ul.tab_sy li.cur a:hover {
	text-decoration: none;
}

.search_sx {
	background: #e3edff;
	border: 1px solid #6ea5ff;
	padding: 10px;
	font-size: 12px;
}

table.fabu_mb {
	font-size: 12px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.fabu_mb tr {
	
}

table.fabu_mb tr td {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.input_s {
	width: 40px;
}

.input_m {
	width: 170px;
}

.input_b {
	width: 370px;
}

.success_one {
	background: url(../images/icon_title_04.gif) no-repeat 0 0;
	width: 63px;
	height: 63px;
	float: right;
	margin-right: 10px;
}

.line_sep {
	border-bottom: 1px #dddddd solid;
	margin: 5px 5px;
}

.border_bottom_line {
	border-bottom: 1px #dddddd solid;
}

.border_top_line {
	border-top: 1px #dddddd solid;
}

.pagination {
	margin: 5px 700px;
}

.pagination a,.pagination .page-start,.pagination .page-end {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

.page-bottom {
	left: -50%;
	position: relative;
}

.pagination .page-skip {
	color: #999999;
	width: auto;
}

.pagination .page-prev,.pagination .page-next,.pagination .page-end,.pagination .page-start
	{
	font-size: 12px;
}

.pagination a,.page-info,.page-start,.page-end,.page-break,.page-skip,.page-cur,.page-crt
	{
	font-family: Arial, SimSun;
	font-size: 13px;
	line-height: 23px;
	text-align: center;
	white-space: nowrap;
}

.pagination a,.page-info,.page-start,.page-end,.page-break,.page-skip,.page-cur,.page-crt
	{
	float: left;
	font-family: Arial, SimSun;
	font-size: 13px;
	height: 23px;
	line-height: 23px;
	margin-right: 5px;
	min-width: 15px;
	overflow: hidden;
	padding: 0 5px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.pagination a {
	color: #0063DC;
	cursor: pointer;
	text-decoration: none;
}

.page-crt {
	font-family: Arial, SimSun;
	font-size: 13px;
	line-height: 23px;
	text-align: center;
	white-space: nowrap;
}

.pagination .page-cur,.pagination .page-crt {
	background-color: #FFEEE5;
	border: 1px solid #FF5500;
	color: #FF5500;
	font-weight: 700;
}

.dd-hide {
	display: none;
}

.w_close_color,.w_close_color:hover {
	background: url("../images/layer_tip_newico.png") no-repeat scroll 0 -38px transparent;
	display: inline-block;
	height: 7px;
	overflow: hidden;
	width: 7px;
}

.select-tips {
	background-color: #FEFECC;
	border: 1px solid #EEEE99;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-family: Arial;
	padding: 4px 8px;
	position: absolute;
	width: 220px;
	z-index: 99;
	font: 12px/1.5 tahoma, arial, ו;
	color: #4D4D4D;
}

.angle-top {
	background-position: 0 0;
	height: 13px;
	position: absolute;
	width: 15px;
	z-index: 1;
	right: -7px;
}

.angle-top {
	background-image: url(../images/angle_top.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.memo-icon {
	background: url(../images/flags.png);
	display: inline-block;
}

.memo-icon {
	cursor: pointer;
	background-position: -350px -350px;
	width: 14px;
	height: 14px;
}

.memo-icon-active {
	background-position: 0 0;
}

.memo-dialog {
	border: 1px solid #eeee99;
	width: 180px;
	font-size: 12px;
	position: absolute;
	background-color: #fefecc;
}

.memo-dialog-head {
	background-color: #fefecc;
	color: #444;
	text-align: right;
	padding: 4px 0 0 0;
}

.memo-dialog-head span {
	
}

.memo-dialog textarea {
	width: 165px;
	height: 50px;
	margin: 5px 0 0 3px;
	font-size: 12px;
}

.memo-dialog div {
	clear: both;
	width: 170px;
}

.memo-dialog .submit {
	background-color: #eee;
	color: #000;
	text-decoration: none;
	padding: 3px 5px;
	margin: 5px;
	float: right;
	border-radius: 3px;
}

.memo-dialog .submit:hover {
	color: #000;
}

.memo-dialog .angle-top {
	left: 150px;
	top: -7px;
}

.memo-dialog .msg {
	float: left;
	margin: 5px 0 0 10px;
	color: #d95b6d;
}

.memo-dialog .w_close_color {
	margin: 3px 0 0 10px;
	float: left;
}