/* idx1 */
.idx1{height:450px;overflow:hidden;}
.idx1L{width:230px;}
.idx1L .login{height:40px;background-position:-88px 0;overflow:hidden;}
.idx1L .login a{float:left; width:115px; height:40px; line-height:42px; text-align:center;color:#f60; font-weight:bold;}
.idx1L .imgLink img{width:222px; height:152px; }
.idx1M{margin:0 10px;width:510px;overflow:hidden;}
.idx1M .bigRoll{height:280px;}
.idx1M .bigRoll .tabCnt,.idx1M .bigRoll .tabCnt img{width:510px;height:250px;overflow:hidden;}
.idx1M .tabTtl{height:30px;overflow:hidden;}
.idx1M .tabTtl li{float:left;width:170px;height:29px;line-height:32px;text-align:center;border-bottom:1px solid #cdcdcd;color:#333;background-position:0 -99px;overflow:hidden;}
.idx1M .tabTtl li.current{height:30px;font-weight:bold;border:none;color:#fff;background-position:0 -172px;}
.idx1M .txtLink{padding:15px;height:128px; border:1px solid #DCDCDC; overflow:hidden;}
.idx1M .txtLink dl{margin-bottom:18px;height:18px;line-height:18px;overflow:hidden;}
.idx1M .txtLink dt{float:left;margin-right:20px;width:40px;height:18px;text-align:center;color:#fff;background:#2EB0E4;}
.idx1M .txtLink dd{float:left;width:415px;}
.idx1M .txtLink dd a{ margin-right:15px;}
.idx1R{width:190px;height:450px;}
.idx1R dl{width:188px; height:448px;border:1px solid #DCDCDC;overflow:hidden;}
.idx1R dt{margin-bottom:10px;height:28px; border-bottom:1px solid #DCDCDC;background-position:0 -34px;}
.idx1R h2{display:inline;width:108px;font-weight:normal;line-height:28px;}
.idx1R ul{margin:9px 7px 0 0;width:63px;}
.idx1R li{float:left;display:inline;margin-right:12px;width:9px;height:9px;background-position:0 -284px;}
.idx1R li.current{background-position:0 -314px;}
.idx1R dd a{ display:block; margin:auto; width:170px; height:135px;}
.idx1R dd img{width:170px; height:100px;}
.idx1R dd span{display:block;height:30px;line-height:30px;}
.idx1R dd em{width:108px;color:#333;white-space:nowrap;overflow:hidden;}
.idx1R dd strong{width:62px;text-align:right;font-size:16px;font-family:Arial;color:#E8004C;white-space:nowrap;overflow:hidden;}
.idx1R dd a:hover em,.idx1R dd a:hover strong{text-decoration:underline;}
/* idx2 */
.idx2{height:80px;}
.idx2 img{width:950px;height:80px;}
/* idx3 */
.floor{overflow:hidden;}
.floor .ttl{height:32px;border-bottom:1px solid #DCDCDC;}
.floor .ttl h2{font-size:25px;}
.floor .ttl em{font-family:Arial;font-weight:bold; color:#000;}
.floor .ttl p{margin-top:10px;}
.floor .ttl a{margin-left:10px;}
.floor .ttl a.more{color:#06c;}
.floor .cnt1{ overflow:hidden;}
.floor .c11,.floor .c11 img{ width:222px;height:262px;}
.floor .c12{width:466px;height:270px;}
.floor .c12 li a{display:block;padding-left:6px;height:30px; line-height:30px;overflow:hidden;}
.floor .c12 li a:hover{text-decoration:none;}
.floor .c121{ float:left;width:365px;}
.floor .c121 .c1211{margin-right:10px;}
.greenF h2 strong,.greenF .c121 .c1211{color:#290;}
.greenF .c12 li a:hover{background:#290;}
.pinkF h2 strong,.pinkF .c121 .c1211{color:#E8004C;}
.pinkF .c12 li a:hover{background:#E8004C;}
.violetF h2 strong,.violetF .c121 .c1211{color:#624E71;}
.violetF .c12 li a:hover{background:#624E71;}
.resedaF h2 strong,.resedaF .c121 .c1211{color:#8EA03D;}
.resedaF .c12 li a:hover{background:#8EA03D;}

.floor .c122{ float:right;width:64px;}
.floor .c122 .pink{float:left; margin-right:5px;width:40px;overflow:hidden;}
.floor .c12 li a:hover .c1211,.floor .c12 li a:hover .gray,.floor .c12 li a:hover .pink{color:#fff;}
.floor .c13{width:228px;height:268px; border:1px solid #DCDCDC;}
.floor .c13 ul{margin:5px 0 13px 10px;width:205px;}
.floor .c13 li a{ display:block; height:26px;line-height:26px;overflow:hidden;}
.floor .c13 .gray{float:left;width:160px;}
.floor .c13 .pink{float:right;width:30px;}
.floor .c13 li a:hover .gray,.floor .c13 li a:hover .pink{text-decoration:underline;}
.floor .c13 .c3Ad{ display: block; width:228px; height:98px; border-top:1px solid #DCDCDC;}
.floor .c13 .c3Ad img{width:228px; height:98px;}
.floor .cnt2{margin-left:-10px;width:960px;overflow:hidden;}
.floor .cnt2 li{float:left;display:inline;margin-left:10px;width:150px; height:194px;}
.floor .cnt2 a:hover .c21{text-decoration:none;}
.floor .cnt2 .pad3{width:142px;height:142px;}
.floor .c21,.floor .c22{display:block; height:22px; line-height:22px; overflow:hidden;}
.floor .c21 strong{float:left;width:64px;}
.floor .c21 em{float:left;width:64px; text-decoration:line-through;}
/* idx5 */
.idx5{height:100%;overflow:hidden;}
.idx5 .i5L{width:708px; height:348px; border:1px solid #DCDCDC;overflow:hidden;}
.idx5 .i5L1{display:inline;margin:15px 0 0 20px;width:275px;}
.idx5 .i5L h2{margin-bottom:15px;font-size:14px;color:#006B27;}
.idx5 .itLink{display:block;height:100px; overflow:hidden;}
.idx5 .itLink .pad3{width:142px; height:92px;}
.idx5 .itLink .R{width:110px; line-height:20px;}
.idx5 .itLink .R em{display:block;color:#290;}
.idx5 a:hover.itLink .R{text-decoration:underline;}
.idx5 .i5L1 li{height:24px; line-height:24px; overflow:hidden;}
.idx5 .i5L2{margin:25px 0 0 30px;width:0;height:293px;border-left:1px solid #DCDCDC; overflow:hidden;}
.idx5 .i5L3{margin:15px 0 0 30px;width:333px;}
.idx5 .i5L3 li{margin-bottom:20px; height:100%;overflow:hidden;}
.idx5 .i5L3 .L{width:45px;height:45px;}
.idx5 .i5L3 .R{width:270px;}
.idx5 .i5L3 a{ display:block; height:100%;}
.idx5 .i5L3 .ttl{display:block;margin-bottom:5px;height:14px;color:#72C24C;overflow:hidden;}
.idx5 .i5L3 .ttl strong{margin-right:5px;color:#666;}
.idx5 .i5L3 .cnt{display:block;height:60px;line-height:20px;color:#999;overflow:hidden;}
.idx5 .i5L3 a:hover .ttl,.idx5 .i5L3 a:hover .cnt{text-decoration:underline;}
.idx5 .i5R{width:230px; height:349px; border-bottom:1px solid #CACACA;}