#content {height:auto; margin-bottom:10px;}
.loginTips{ width:400px; margin:20px auto; line-height:28px;}
.loginTips a{display:block; margin-top:30px;width:168px; height:46px;  background:url(http://www.ht.dujiaok.com:801/release/dujiaok/images/reglink.png);}
#content .reg_content ul li button {width:100px;}
#content li { vertical-align:top; height:100%;}
