.pro_intro{margin:0 auto;width:710px; }
.pro_intro .tabTtl{ width:710px;border-bottom:1px solid #249f00;overflow:hidden;}
.pro_intro .tabTtl li{cursor:default; width:87px; height:30px; line-height:30px; float:left; display:block; margin-right:4px; border:1px solid #dcdcdc; border-bottom:none;color:#666; text-align:center;}
.pro_intro .tabTtl li.current{ border:1px solid #249f00;color:#fff; background-color:#249f00;}
.pro_intro p{ line-height:24px; margin:15px 10px;}
.pro_intro h3{font-size:14px; font-weight:bold; margin:15px 0;}
.pro_intro h4{clear:left;font-weight:bold;}
.pro_intro .pic{ margin:15px 0; overflow:hidden;}
.pro_intro .pic li{ float:left; display:block; margin-right:20px;}
.pro_intro .pic li img{ display:inline-block; padding:2px; width:80px; height:60px; border:1px solid #dfdfdf;}
.pro_intro .list1 li{ line-height:24px; margin:6px 0; padding-left:20px; background-position:4px -568px; }
.pro_intro .list2 li{line-height:24px; margin:6px 0;}