/* travel1 */
.travel1{height:450px;overflow:hidden;}
.travel1 .txtLink dd{width:615px;}
.travel1 .idx1M{margin:10px 0 0 0;width:708px;}
.travel1 .t1Img{width:708px;height:280px;}
.travel3{height:357px;overflow:hidden;}
.travel3 .box230{height:355px;overflow:hidden;}
.travel3 .R{height:357px;overflow:hidden;}
.travel3 .floor{width:710px;height:325px;overflow:hidden;}
.travel3 .floor .c12{ padding:10px 8px 0 8px;width:694px;height:309px;height:307px\9;overflow:hidden;}
.travel3 .floor li{height:30px; overflow:hidden;}