.rightMain .uiDingdan{ margin:10px 0 20px 20px; width:200px;}
.rightMain .uiDingdan caption{ text-align:left;}
.rightMain .uiDingdan td,.rightMain .uiDingdan th{ padding-top:10px; height:auto;}
.rightMain .uiDingdan td{width:60px;}
.rightMain .uiDingdan td{width:60px;}
.rightMain .userOrder{ width:790px;}
.rightMain .userOrder td,.rightMain .userOrder th{ border:1px solid #dcdcdc;}
.rightMain .userOrder th{ height:30px; color:#333;}
.rightMain .userOrder td{ padding:5px; line-height:20px; text-align:center;}
.rightMain .userOrder td.al{text-align:left;}
.rightMain .userOrder a{ color:#06c;}
.rightMain .userOrder a:hover{ color:#f60;}
.rightMain .userOrder .pink{font-weight:bold; color:#E8004C;}
.rightMain .userOrder td.ar{text-align:right;}
.rightMain select{margin-right:5px;}
.rightMain .infoHead{margin:20px 0 0 30px; color:#333; font-size:16px;}
.rightMain .infoHead span{margin-left:10px;color:#ccc;font-size:12px; font-weight:normal;}
#bank{display:none;}
.error{font-weight:normal;}