body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:10px;
    top:79px;
    width:910px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_original {
    background-image: url('../logo_files/u12_original.png');
}

.u1_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u2 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px
}

.u3 {
    position:absolute;
    left:46px;
    top:6px;
    width:150px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:83px;
    top:163px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:130px;
    top:158px;
    width:430px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:32px;
    top:196px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:132px;
    top:193px;
    width:58px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:570px;
    top:162px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:32px;
    top:351px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:130px;
    top:226px;
    width:460px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:30px;
    top:387px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_original {
    background-image: url('../发布酒店_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:125px;
    top:380px;
    width:778px;
    height:236px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:778px;
    height:236px;
}

.u14 {
    position:absolute;
    left:2px;
    top:110px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:125px;
    top:380px;
    width:778px;
    height:236px
}

.u15 {
    position:absolute;
    left:130px;
    top:700px;
    width:150px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 21px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:272px;
    top:193px;
    width:58px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:200px;
    top:193px;
    width:58px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:59px;
    top:131px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:130px;
    top:131px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_text {
    position:absolute;
    left:600px;
    top:230px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:600px;
    top:230px;
    width:80px;
    height:16px
}

.u21 {
    position:absolute;
    left:32px;
    top:230px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:130px;
    top:343px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:30px;
    top:631px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:130px;
    top:630px;
    width:770px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:130px;
    top:305px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:32px;
    top:309px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_original {
    background-image: url('../发布酒店_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:260px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:266px;
}

.u29 {
    position:absolute;
    left:2px;
    top:122px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:260px
}

.u30_original {
    background-image: url('../发布酒店_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:9px;
    width:204px;
    height:232px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:232px;
}

.u31 {
    position:absolute;
    left:2px;
    top:108px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:10px;
    top:9px;
    width:204px;
    height:232px
}

.u32_text {
    position:absolute;
    left:160px;
    top:241px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:160px;
    top:241px;
    width:70px;
    height:16px
}

.u34_original {
    background-image: url('../发布酒店_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:780px;
    height:650px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:656px;
}

.u35 {
    position:absolute;
    left:2px;
    top:317px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:780px;
    height:650px
}

.u36_original {
    background-image: url('../发布酒店_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:11px;
    top:40px;
    width:759px;
    height:522px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:759px;
    height:522px;
}

.u37 {
    position:absolute;
    left:2px;
    top:253px;
    width:755px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:11px;
    top:40px;
    width:759px;
    height:522px
}

.u38 {
    position:absolute;
    left:10px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:53px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:380px;
    top:10px;
    width:220px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:608px;
    top:6px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_original {
    background-image: url('../发布酒店_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:326px;
    top:302px;
    width:222px;
    height:61px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:61px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:326px;
    top:302px;
    width:222px;
    height:61px
}

.u44 {
    position:absolute;
    left:290px;
    top:590px;
    width:190px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 17px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:32px;
    top:267px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:130px;
    top:264px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

