/* CSS Document */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
img,body,html{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}



.xui-simpleTree-unselectable *{-moz-user-select:none;-khtml-user-select:none;}
.xui-simpleTree {
	background-color:#fff;
}
.xui-simpleTree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.xui-panel-body-noheader,.x-panel-mc .xui-panel-body{border-top:1px solid #99bbe8;}

.xui-simpleTree-icon, .xui-simpleTree-ec-icon, .xui-simpleTree-elbow-line, .xui-simpleTree-elbow, .xui-simpleTree-elbow-end, .xui-simpleTree-elbow-plus, .xui-simpleTree-elbow-minus, .xui-simpleTree-elbow-end-plus, .xui-simpleTree-elbow-end-minus{
	border: 0 none;
	height: 14px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 14px;
    background-repeat: no-repeat;
}
.xui-simpleTree-node-collapsed .xui-simpleTree-node-icon, .xui-simpleTree-node-expanded .xui-simpleTree-node-icon, .xui-simpleTree-node-leaf .xui-simpleTree-node-icon{
	border: 0 none;
	height: 14px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 14px;
	background-position:center;
    background-repeat: no-repeat;
}
.xui-simpleTree-node-indent img,  .xui-simpleTree-node-icon, .xui-simpleTree-ec-icon {
    vertical-align:middle !important;
}


/* some address icons for leaf/folder */
/* 为文件夹展开节点*/
.xui-simpleTree-node-expanded .xui-simpleTree-node-icon{
	display:none;
/*	background-image:url(../../../images/address/simple-tree/simple-tree-folder.gif)
*/}
/* 为叶子节点*/
.xui-simpleTree-node-leaf .xui-simpleTree-node-icon{
	display:none;
/*	background-image:url(../../../images/address/simple-tree/simple-tree-leaf.gif);
*/}
/* 为文件夹收拢节点*/
.xui-simpleTree-node-collapsed .xui-simpleTree-node-icon{
	display:none;
/*	background-image:url(../../../images/address/simple-tree/simple-tree-folder.gif);
*/}

.xui-simpleTree-node-el input {
    width:15px;
    height:15px;
}
/* Line styles */
.xui-simpleTree-lines .xui-simpleTree-elbow{
/*	background-image:url(../../../images/address/simple-tree/simple-tree-elbow.gif);
*/}
.xui-simpleTree-lines .xui-simpleTree-elbow-plus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-plus.gif);
}
.xui-simpleTree-lines .xui-simpleTree-elbow-minus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-minus.gif);
}
.xui-simpleTree-lines .xui-simpleTree-elbow-end{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-end.gif);
}
.xui-simpleTree-lines .xui-simpleTree-elbow-end-plus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-end-plus.png);
}
.xui-simpleTree-lines .xui-simpleTree-elbow-end-minus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-end-minus.png);
}
.xui-simpleTree-lines .xui-simpleTree-elbow-line{
/*	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-line.gif);
*/}


/* No line styles */
.xui-simpleTree-no-lines .xui-simpleTree-elbow{
	background:transparent;
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-plus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-plus-nl.gif);
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-minus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-minus-nl.gif);
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-end{
	background:transparent;
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-end-plus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-end-plus-nl.gif);
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-end-minus{
	background-image:url(../../../images/address/simple-tree/simple-tree-elbow-end-minus-nl.gif);
}
.xui-simpleTree-no-lines .xui-simpleTree-elbow-line{
	background:transparent;
}


.xui-simpleTree-elbow-plus, .xui-simpleTree-elbow-minus, .xui-simpleTree-elbow-end-plus, .xui-simpleTree-elbow-end-minus{
	cursor:pointer;
}


ul.xui-simpleTree-node-ct{
    font-size:0;
    line-height:0;
    zoom:1;
}

.xui-simpleTree-node{
	color: black;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	white-space: nowrap;
}
.xui-simpleTree-node-el {
    cursor:pointer;
	zoom:1;
	height:25px;
	padding-top:8px;
	position:relative;

}

.xui-simpleTree-node a, .x-dd-drag-ghost a{
	text-decoration:none;
	color:black;
	-khtml-user-select:none;
	-moz-user-select:none;
    -kthml-user-focus:normal;
    -moz-user-focus:normal;
    -moz-outline: 0 none;
    outline:0 none;
}
.xui-simpleTree-node a span, .x-dd-drag-ghost a span{
	text-decoration:none;
	color:black;
	padding:1px 3px 1px 2px;
}
.xui-simpleTree-node .xui-simpleTree-node-disabled a span{
	color:gray !important;
}
.xui-simpleTree-node .xui-simpleTree-node-disabled .xui-simpleTree-node-icon{
	-moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}
.xui-simpleTree-node .xui-simpleTree-node-inline-icon{
	background:transparent;
}
.xui-simpleTree-node a:hover, .x-dd-drag-ghost a:hover{
	text-decoration:none;
}
.xui-simpleTree-node div.xui-simpleTree-drag-insert-below{
 	 border-bottom:1px dotted #3366cc;
}
.xui-simpleTree-node div.xui-simpleTree-drag-insert-above{
	 border-top:1px dotted #3366cc;
}
.xui-simpleTree-dd-underline .xui-simpleTree-node div.xui-simpleTree-drag-insert-below{
 	 border-bottom:0 none;
}
.xui-simpleTree-dd-underline .xui-simpleTree-node div.xui-simpleTree-drag-insert-above{
	 border-top:0 none;
}
.xui-simpleTree-dd-underline .xui-simpleTree-node div.xui-simpleTree-drag-insert-below a{
 	 border-bottom:2px solid #3366cc;
}
.xui-simpleTree-dd-underline .xui-simpleTree-node div.xui-simpleTree-drag-insert-above a{
	 border-top:2px solid #3366cc;
}
.xui-simpleTree-node .xui-simpleTree-drag-append a span{
	 background:#dddddd;
	 border:1px dotted gray;
}
.xui-simpleTree-node .xui-simpleTree-node-over {
	background:url(../../../images/address/simple-tree/simple-tree-node-selected.png) no-repeat;
}
.xui-simpleTree-node .xui-simpleTree-selected {
	/*background-color: #d9e8fb;*/
	background:url(../../../images/address/simple-tree/simple-tree-node-selected.png) no-repeat;
}
.xui-simpleTree-node .xui-simpleTree-node-text{
	color:#0099f1;
	font-size:12px;
}
.xui-simpleTree-node .xui-simpleTree-selected .xui-simpleTree-node-text{
	color:#ffffff;
}
.x-dd-drag-ghost .xui-simpleTree-node-indent, .x-dd-drag-ghost .xui-simpleTree-ec-icon{
	display:none !important;
}