#set($layout="/admin/default.vm")
#set($title="度假OK后台管理 - 创建门票")
###################################################
<div class="ucenter_right">
    <h2 class="B FS14">产品录入</h2>
	
	<form id="createTicketForm" name="createTicketForm" method="POST" action="${env.root}/admin/docreateTicket.htm">
    
	<div class="us01">
		<div>
			<span>产品编号：</span><span>MP$!{id}</span>
		</div>
        <div>
			<span>产品名称：</span><span><input type="text" id='name' name='name' value="$!name" /></span>
		</div>
		<div>
			<span>市场价：</span><span><input type="text" id='marketPrice' name='marketPrice' value="$!marketPrice"/></span>
		</div>
		<div>
			<span>支付方式：</span>
			<span>
    			<input type="checkbox" name="payTypesList" value="网上支付" #if( $collectionUtils.contains($!payTypesList,"网上支付"))checked#end>网上支付
    			<input type="checkbox" name="payTypesList" value="前台现付" #if( $collectionUtils.contains($!payTypesList,"前台现付"))checked#end/>前台现付
			</span>
		</div>
		<div>
			<span>所在地：</span>
			<span><input type="text" id='destProvince'  name='destProvince' value="$!destProvince"/>省  <input id='destCity' name='destCity' value="$!destCity"/>市  <input id='destArea' name='destArea' value="$!destArea"/>区</span>
		</div>
		<div>
			<span>详细地址：</span>
            <span><input type="text" id='destAddr'  name='destAddr' value="$!destAddr"/></span>
		</div>
		<div>
			<span>产品类别：</span>
				<input type="checkbox" name="productTypesList" value="人气" #if( $collectionUtils.contains($!productTypesList,"人气"))checked#end />人气
    			<input type="checkbox" name="productTypesList" value="山水" #if( $collectionUtils.contains($!productTypesList,"山水"))checked#end/>山水
				<input type="checkbox" name="productTypesList" value="自然环境" #if( $collectionUtils.contains($!productTypesList,"自然环境"))checked#end/>自然环境
				<br/>
				<input type="checkbox" name="productTypesList" value="亲子游" #if( $collectionUtils.contains($!productTypesList,"亲子游"))checked#end/>亲子游
				<input type="checkbox" name="productTypesList" value="情侣游" #if( $collectionUtils.contains($!productTypesList,"情侣游"))checked#end />情侣游
				<input type="checkbox" name="productTypesList" value="家庭游" #if( $collectionUtils.contains($!productTypesList,"家庭游"))checked#end/>家庭游
			</span>
		</div>
		<div>
			<span>上传图片：</span>
			<div><input type="text"  name='imagesList'/></div>
			<div><input type="text" name='imagesList' /></div>
			<div><input type="text" name='imagesList' /></div>
			<div><input type="text" name='imagesList' /></div>
		</div>
		
		<div>
			<span>产品简介：</span>
            <span><textarea id='introduction' name='introduction' cols="10" rows="8" value="$!introduction"></textarea></span>
		</div>
		<div>
			<span>注意事项：</span>
            <span><textarea id='notice' name='notice' cols="10" rows="8" value="$!notice"></textarea></span>
		</div>
		<div>
			<span>费用说明：</span>
            <span><textarea id='feeDesc' name='feeDesc' cols="10" rows="8" value="$!feeDesc"></textarea></span>
		</div>
		<div>
			<span>备注：</span>
            <span><textarea id='memo' name='memo' cols="10" rows="8" value="$!memo"></textarea></span>
		</div>
	</div>
	
	<button onclick="modify()">保存</button>
	
	</form>
</div>
