#set($layout="/admin/default.vm")
#set($title="度假OK - 后台 - 发布自驾")
#set($menu_name="发布自驾")
#XUI_CSS(["common/reset.css","eshop/simple-date/xui-simple-datepicker.css"])
###################################################
<form id="createSelfDriveForm" name="createSelfDriveForm" method="POST" action="${env.root}/admin/docreateSelfDrive.htm" onsubmit="return Validator.validate(this,'admin');">
    <input name="id"  type="hidden" value="$!id" />
    <input name="selfDriveId"  type="hidden" value="$!selfDriveId" />
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="10"></td>
        </tr>
    </table>
    <table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="fabu_mb">
        <tr>
            <td width="103" align="right">编号：</td>
            <td width="857">$!selfDrive.selfDriveId</td>
        </tr>
        <tr>
            <td align="right">名称：</td>
            <td>
                <input type="text" id='name' name='name' value="$!selfDrive.name" class="input_m"/>
                &nbsp;<i class="F9"></i>
            </td>
        </tr>
        <tr>
            <td align="right">出行时间：</td>
            <td>
                <div id="times">
                    #foreach($!detail in $!selfDrive.details)
                        #set($count = $velocityCount)
                        #set($count = $count - 1)
                        <div id="time$!count" class="line_sep">
                            <input type="hidden" value="$!detail.id" name="details[$count].id"/>
                            <input type="hidden" value="$!detail.selfDriveId" name="details[$count].selfDriveId"/>
                            <input type="text" value="$dateUtils.format($!detail.gmtStart,'yyyy-MM-dd')"  id="gmtStart[$!count]" name="details[$count].gmtStart"/>
                            至  
                            <input type="text" value="$dateUtils.format($!detail.gmtEnd,'yyyy-MM-dd')"  id="gmtEnd[$!count]" name="details[$count].gmtEnd"/>
                            <br/>
                            单人价： <input type="text" value="$!detail.singlePrice" name="details[$count].singlePrice" />
                            双人价： <input type="text" value="$!detail.doublePrice" name="details[$count].doublePrice" />
                            儿童价： <input type="text" value="$!detail.childPrice" name="details[$count].childPrice" />
                            #if($count > 0)
                                <input type="button" value="- 删除" onclick="removeElement(this.parentNode) ;" />
                            #end
                        </div>
                    #end
                </div>
                <input type="button" value="+ 增加" onclick="addTime() ;"/>
            </td>
        </tr>
        <tr>
            <td align="right">附加产品：</td>
            <td>
                <input type="checkbox" name="addProductsList" value="INSURANCE" #if( $collectionUtils.contains($!addProductsList,"INSURANCE"))checked#end />
                    保险
            </td>
        </tr>
        <tr>
            <td align="right">市场价：</td>
            <td>
                <input type="text" id='marketPrice' name='marketPrice' value="$!selfDrive.marketPrice"/>
            </td>
        </tr>
        <tr>
            <td align="right">支付方式：</td>
            <td>
                <input type="checkbox" name="payTypesList" value="ONLINE" #if( $collectionUtils.contains($!payTypesList,"ONLINE"))checked#end />网上支付
                <input type="checkbox" name="payTypesList" value="CASH" #if( $collectionUtils.contains($!payTypesList,"CASH"))checked#end/>前台现付
            </td>
        </tr>
        <tr>
            <td align="right">出游天数：</td>
            <td>
                <input type="text" id='days' name='days' value="$!selfDrive.days"  class="input_s" />天
			</td>
        </tr>
        <tr>
            <td align="right">推荐指数：</td>
            <td>
                <select id='recommend'  name='recommend'>
                    <option>5</option>
                    <option>4.5</option>
                    <option>4</option>
                    <option>3.5</option>
                    <option>3</option>
                    <option>2.5</option>
                    <option>2</option>
                    <option>1.5</option>
                    <option>1</option>
                    <option>0.5</option>
                    <option>0</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">目的地：</td>
            <td>
                <select id='destProvince'  name='destProvince' onchange="selectProvince();"></select>
                <select id='destCity' name='destCity' onchange="selectCity();"></select>
                <select id='destArea' name='destArea' ></select>
                <input type="text" id='destAddr'  name='destAddr' value="$!selfDrive.destAddr" class="input_b"/>
            </td>
        </tr>
        <tr>
            <td  align="right">产品类别：</td>
            <td>
                <input type="checkbox" name="productTypesList" value="人气" #if( $collectionUtils.contains($!productTypesList,"人气")) checked #end />
                    人气
                    <input type="checkbox" name="productTypesList" value="山水" #if( $collectionUtils.contains($!productTypesList,"山水")) checked #end/>
                        山水
                        <input type="checkbox" name="productTypesList" value="自然环境" #if( $collectionUtils.contains($!productTypesList,"自然环境")) checked #end/>
                            自然环境
                            <input type="checkbox" name="productTypesList" value="亲子游" #if( $collectionUtils.contains($!productTypesList,"亲子游")) checked #end/>
                                亲子游
                                <input type="checkbox" name="productTypesList" value="情侣游" #if( $collectionUtils.contains($!productTypesList,"情侣游")) checked #end />
                                    情侣游
                                    <input type="checkbox" name="productTypesList" value="家庭游" #if( $collectionUtils.contains($!productTypesList,"家庭游")) checked #end/>
                                        家庭游
            </td>
        </tr>
        <tr>
            <td align="right">上传图片：</td>
            <td>
                <div id="images">
                    #foreach($image in $imagesList)
                        #set($count = $velocityCount)
                        #set($count = $count - 1)
                        <div id="image$count">
                            <input type="text"  name='imagesList' value="$!image" class="input_m"/>
                            #if($count > 0)
                                <input type="button" value="- 删除" onclick="removeElement(this.parentNode) ;" />
                            #end
                        </div>
                    #end
                </div>
                <input type="button" value="+ 增加" onclick="addImage() ;"/>
            </td>
        </tr>
        <tr>
            <td align="right">产品简介：</td>
            <td>
                <textarea id='introduction' name='introduction' cols="45" rows="8">$!selfDrive.introduction</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">行程：</td>
            <td>
                <textarea id='schedule' name='schedule' cols="45" rows="8">$!selfDrive.schedule</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">费用说明：</td>
            <td>
                <textarea id='feeDesc' name='feeDesc' cols="45" rows="8">$!selfDrive.feeDesc</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">备注：</td>
            <td>
                <textarea id='memo' name='memo' cols="45" rows="8" >$!selfDrive.memo</textarea>
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>
                <input type="submit" name="button" id="button" value="  发 布  " />
            </td>
        </tr>
    </table>
</form>
#XUI_JS(["core/xui-core.js","util/util-min.js","simple-date/xui-simple-datepicker.js"])
#JS(["validator.js","dujiaok.js"])
<script type="text/javascript">
    var lastDetailsIndex = $collectionUtils.size($!selfDrive.details) ; //行程个数
	var lastImagesIndex = $collectionUtils.size($imagesList) ; //上传照片个数
			
	var attachDatePicker = function(id){
		var dateVal = $(id).value ;
		var date ;
		if(dateVal==null||dateVal==''){
			date = new Date() ;
		}else{
		 	date = new Date(dateVal) ;
		}
		
		var picker = new xui.widgets.simpleDatePicker(id,'YYYY-MM-DD',date);
		picker.setModel({inconver:true,'selectBefore':function(dates){
        	$(id).value = dates ;
        }});
	}		
	
	var addTime = function(){
		var i = lastDetailsIndex  ;
		
		var divElement = document.createElement('div') ;
		divElement.id = 'time' + i ;
		divElement.className = 'line_sep' ;
		$('times').appendChild(divElement) ;
					
		var innerHTML = '<input type="hidden" name="details['+i+'].id"/>' +
		'<input type="text" id="gmtStart['+i+']" name="details['+i+'].gmtStart"/>' + 
		' 至 ' + 
		'<input type="text"  id="gmtEnd['+i+']" name="details['+i+'].gmtEnd"/> <br/>' +
		'单人价： <input type="text" name="details['+i+'].singlePrice" /> '  +
		'双人价： <input type="text" name="details['+i+'].doublePrice" /> '  + 
		'儿童价： <input type="text" name="details['+i+'].childPrice" /> '  ;
		if(i > 0){
			innerHTML += '<input type="button" value="- 删除" onclick="removeElement(this.parentNode) ;" />' ;
		}
		$('time'+i).innerHTML = innerHTML ;
		attachDatePicker('gmtStart['+i+']') ;
		attachDatePicker('gmtEnd['+i+']') ;
		lastDetailsIndex ++ ;
		
	}
			
	for(var i=0 ;i<lastDetailsIndex;i++){
		///////datepicker
		attachDatePicker('gmtStart['+i+']') ;
		attachDatePicker('gmtEnd['+i+']') ;
	}

	var removeElement = function(ele){
		ele.parentNode.removeChild(ele) ;
	}
	
	
	
	var addImage = function(){
		var i = lastImagesIndex  ;
		if(i > 3){
			return ;
		}
		var divElement = document.createElement('div') ;
		divElement.id = 'image' + i ;
		$('images').appendChild(divElement) ;
		var innerHTML = '<input type="text"  name="imagesList" class="input_m"/>' ;
		if(i > 0){
			innerHTML += '<input type="button" value="- 删除" onclick="removeElement(this.parentNode) ;" />' ;
		}
		$('image'+i).innerHTML = innerHTML ;
		lastImagesIndex ++ ;
	}
	
	var selectProvince = function (){
		var select = $('destProvince') ;
		var name = select.options[select.selectedIndex].value ;
		initAddressSelect(url,'destCity','city','',name) ;
		$('destArea').options.length = 0 ;
	}
	
	var selectCity = function(){
		var select = $('destCity') ;
		var name = select.options[select.selectedIndex].value ;
		initAddressSelect(url,'destArea','area','',name) ;
	}
	
	//省市地区
	var province = '$!selfDrive.destProvince' ;
	var city = '$!selfDrive.destCity' ;
	var area = '$!selfDrive.destArea' ;
	var url = '${env.root}/ajax/address.htm' ;	
	var recommend = '$!selfDrive.recommend' ;
	
	///初始化
	if(lastDetailsIndex <= 0){
		addTime() ;	
	}
	if(lastImagesIndex <= 0){
		addImage() ;
	}
	
	setupSelect('recommend',recommend) ;
	initAddressSelect(url,'destProvince','province',province) ;
	initAddressSelect(url,'destCity','city',city,province) ;
	initAddressSelect(url,'destArea','area',area,city) ;
</script>
