#set($layout="/admin/default.vm")
#set($title="度假OK - 后台 - 发布周边自驾成功")

###################################################
<h2>发布周边自驾成功</h2>
<input type="hidden" value="$!selfDriveId" name="selfDriveId" />
<ul>
    <li><a href="${env.root}/admin/createSelfDrive.htm?selfDriveId=${selfDriveId}">后台首页</a></li>
    <li><a href="${env.root}/admin/createSelfDrive.htm">继续发布</a></li>
    <li><a href="${env.root}/admin/createSelfDrive.htm?selfDriveId=${selfDriveId}">查看发布信息</a></li>
    <li><a href="${env.root}/admin/createSelfDrive.htm?selfDriveId=${selfDriveId}">编辑发布信息</a></li>
</ul>
