body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../后台_门票_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:211px;
    width:105px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:101px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:211px;
    width:105px;
    height:30px
}

.u2_original {
    background-image: url('../后台_门票_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:80px;
    width:960px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:80px;
    width:960px;
    height:50px
}

.u4_original {
    background-image: url('../logo_files/u12_original.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:60px
}

.u6 {
    position:absolute;
    left:46px;
    top:6px;
    width:150px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:270px;
    top:12px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:20px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_original {
    background-image: url('../后台_门票_files/u0_original.png');
}

.u10_container {
    position:absolute;
    left:131px;
    top:211px;
    width:105px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:5px;
    width:101px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:131px;
    top:211px;
    width:105px;
    height:30px
}

.u12_line {
    background-image: url('../后台_门票_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:10px;
    top:240px;
    width:960px;
    height:3px;
}

.u12 {
    position:absolute;
    left:10px;
    top:240px;
    width:960px;
    height:3px
}

#u13 {
    position:absolute;
    left:10px;
    top:251px;
    width:965px;
    height:194px
}

.u13_table {
    background-image: url('../后台_门票_files/u13_table.png');
}

.u13_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:198px;
}

.u14_original {
    background-image: url('../后台_门票_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:21px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:21px
}

.u16_original {
    background-image: url('../后台_门票_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:100px;
    top:0px;
    width:446px;
    height:21px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:100px;
    top:0px;
    width:446px;
    height:21px
}

.u18_original {
    background-image: url('../后台_门票_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:546px;
    top:0px;
    width:124px;
    height:21px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:546px;
    top:0px;
    width:124px;
    height:21px
}

.u20_original {
    background-image: url('../后台_门票_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:670px;
    top:0px;
    width:128px;
    height:21px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:670px;
    top:0px;
    width:128px;
    height:21px
}

.u22_original {
    background-image: url('../后台_门票_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:798px;
    top:0px;
    width:162px;
    height:21px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:798px;
    top:0px;
    width:162px;
    height:21px
}

.u24_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:21px;
    width:100px;
    height:24px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:21px;
    width:100px;
    height:24px
}

.u26_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:100px;
    top:21px;
    width:446px;
    height:24px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:100px;
    top:21px;
    width:446px;
    height:24px
}

.u28_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:546px;
    top:21px;
    width:124px;
    height:24px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:546px;
    top:21px;
    width:124px;
    height:24px
}

.u30_original {
    background-image: url('../后台_门票_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:670px;
    top:21px;
    width:128px;
    height:24px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:670px;
    top:21px;
    width:128px;
    height:24px
}

.u32_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:798px;
    top:21px;
    width:162px;
    height:24px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:798px;
    top:21px;
    width:162px;
    height:24px
}

.u34_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:45px;
    width:100px;
    height:24px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:45px;
    width:100px;
    height:24px
}

.u36_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u36_container {
    position:absolute;
    left:100px;
    top:45px;
    width:446px;
    height:24px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:100px;
    top:45px;
    width:446px;
    height:24px
}

.u38_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u38_container {
    position:absolute;
    left:546px;
    top:45px;
    width:124px;
    height:24px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:546px;
    top:45px;
    width:124px;
    height:24px
}

.u40_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:670px;
    top:45px;
    width:128px;
    height:24px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:670px;
    top:45px;
    width:128px;
    height:24px
}

.u42_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u42_container {
    position:absolute;
    left:798px;
    top:45px;
    width:162px;
    height:24px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:798px;
    top:45px;
    width:162px;
    height:24px
}

.u44_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:24px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:24px
}

.u46_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:69px;
    width:446px;
    height:24px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:100px;
    top:69px;
    width:446px;
    height:24px
}

.u48_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u48_container {
    position:absolute;
    left:546px;
    top:69px;
    width:124px;
    height:24px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:546px;
    top:69px;
    width:124px;
    height:24px
}

.u50_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u50_container {
    position:absolute;
    left:670px;
    top:69px;
    width:128px;
    height:24px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:670px;
    top:69px;
    width:128px;
    height:24px
}

.u52_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u52_container {
    position:absolute;
    left:798px;
    top:69px;
    width:162px;
    height:24px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:798px;
    top:69px;
    width:162px;
    height:24px
}

.u54_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:93px;
    width:100px;
    height:24px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:0px;
    top:93px;
    width:100px;
    height:24px
}

.u56_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u56_container {
    position:absolute;
    left:100px;
    top:93px;
    width:446px;
    height:24px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:100px;
    top:93px;
    width:446px;
    height:24px
}

.u58_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u58_container {
    position:absolute;
    left:546px;
    top:93px;
    width:124px;
    height:24px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:546px;
    top:93px;
    width:124px;
    height:24px
}

.u60_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u60_container {
    position:absolute;
    left:670px;
    top:93px;
    width:128px;
    height:24px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:670px;
    top:93px;
    width:128px;
    height:24px
}

.u62_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u62_container {
    position:absolute;
    left:798px;
    top:93px;
    width:162px;
    height:24px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:798px;
    top:93px;
    width:162px;
    height:24px
}

.u64_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:117px;
    width:100px;
    height:24px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:0px;
    top:117px;
    width:100px;
    height:24px
}

.u66_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u66_container {
    position:absolute;
    left:100px;
    top:117px;
    width:446px;
    height:24px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:100px;
    top:117px;
    width:446px;
    height:24px
}

.u68_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u68_container {
    position:absolute;
    left:546px;
    top:117px;
    width:124px;
    height:24px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:546px;
    top:117px;
    width:124px;
    height:24px
}

.u70_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u70_container {
    position:absolute;
    left:670px;
    top:117px;
    width:128px;
    height:24px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:670px;
    top:117px;
    width:128px;
    height:24px
}

.u72_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u72_container {
    position:absolute;
    left:798px;
    top:117px;
    width:162px;
    height:24px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:798px;
    top:117px;
    width:162px;
    height:24px
}

.u74_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:24px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:24px
}

.u76_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u76_container {
    position:absolute;
    left:100px;
    top:141px;
    width:446px;
    height:24px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:100px;
    top:141px;
    width:446px;
    height:24px
}

.u78_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u78_container {
    position:absolute;
    left:546px;
    top:141px;
    width:124px;
    height:24px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:546px;
    top:141px;
    width:124px;
    height:24px
}

.u80_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u80_container {
    position:absolute;
    left:670px;
    top:141px;
    width:128px;
    height:24px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:670px;
    top:141px;
    width:128px;
    height:24px
}

.u82_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u82_container {
    position:absolute;
    left:798px;
    top:141px;
    width:162px;
    height:24px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:798px;
    top:141px;
    width:162px;
    height:24px
}

.u84_original {
    background-image: url('../后台_门票_files/u24_original.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:165px;
    width:100px;
    height:24px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:0px;
    top:165px;
    width:100px;
    height:24px
}

.u86_original {
    background-image: url('../后台_门票_files/u26_original.png');
}

.u86_container {
    position:absolute;
    left:100px;
    top:165px;
    width:446px;
    height:24px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:442px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:100px;
    top:165px;
    width:446px;
    height:24px
}

.u88_original {
    background-image: url('../后台_门票_files/u28_original.png');
}

.u88_container {
    position:absolute;
    left:546px;
    top:165px;
    width:124px;
    height:24px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:546px;
    top:165px;
    width:124px;
    height:24px
}

.u90_original {
    background-image: url('../后台_门票_files/u40_original.png');
}

.u90_container {
    position:absolute;
    left:670px;
    top:165px;
    width:128px;
    height:24px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:670px;
    top:165px;
    width:128px;
    height:24px
}

.u92_original {
    background-image: url('../后台_门票_files/u32_original.png');
}

.u92_container {
    position:absolute;
    left:798px;
    top:165px;
    width:162px;
    height:24px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:798px;
    top:165px;
    width:162px;
    height:24px
}

.u94 {
    position:absolute;
    left:817px;
    top:275px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_text {
    position:absolute;
    left:882px;
    top:275px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:882px;
    top:275px;
    width:60px;
    height:17px
}

.u96 {
    position:absolute;
    left:923px;
    top:275px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:817px;
    top:299px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:882px;
    top:299px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:923px;
    top:299px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:260px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:140px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:870px;
    top:20px;
    width:80px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:380px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:720px;
    top:20px;
    width:141px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105_original {
    background-image: url('../后台_门票_files/u105_original.png');
}

.u105_container {
    position:absolute;
    left:10px;
    top:140px;
    width:960px;
    height:60px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u106 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:10px;
    top:140px;
    width:960px;
    height:60px
}

.u107 {
    position:absolute;
    left:67px;
    top:158px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108_original {
    background-image: url('../后台_门票_files/u108_original.png');
}

.u108_container {
    position:absolute;
    left:284px;
    top:302px;
    width:53px;
    height:12px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:18px;
}

.u109 {
    position:absolute;
    left:2px;
    top:-2px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:284px;
    top:302px;
    width:53px;
    height:12px
}

.u110_original {
    background-image: url('../后台_门票_files/u110_original.png');
}

.u110_container {
    position:absolute;
    left:277px;
    top:305px;
    width:7px;
    height:6px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:12px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-5px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:277px;
    top:305px;
    width:7px;
    height:6px
}

.u112 {
    position:absolute;
    left:30px;
    top:162px;
    width:670px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:258px;
    top:158px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:820px;
    top:158px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:466px;
    top:159px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:534px;
    top:159px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:666px;
    top:159px;
    width:124px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118_original {
    background-image: url('../后台_门票_files/u0_original.png');
}

.u118_container {
    position:absolute;
    left:245px;
    top:211px;
    width:105px;
    height:30px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u119 {
    position:absolute;
    left:2px;
    top:5px;
    width:101px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:245px;
    top:211px;
    width:105px;
    height:30px
}

.u120 {
    position:absolute;
    left:759px;
    top:450px;
    width:50px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:817px;
    top:451px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:920px;
    top:450px;
    width:50px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

